<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Overview
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Sevenoaks Hospital
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-8" role="navigation" aria-label="Pages in this profile">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Overview</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/departments/">Departments and services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/facilities/">Facilities</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>

  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2>Contact us</h2>
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                Address 
              </h2>
              <p>Sevenoaks Hospital<br>
                Hospital Road<br>
                Sevenoaks<br>
                Kent<br>
                TN13 3PG</p>
                <p><a href="https://www.google.com/maps/place/Sevenoaks+Hospital/@51.2878738,0.1933866,17z/data=!3m1!4b1!4m5!3m4!1s0x47df4d8db63d879b:0x46ee0efcf1177e2d!8m2!3d51.2878738!4d0.1955753">Get directions</a></p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3>Phone</h3>
              <p>Switchboard<br><a href="">01732 470200</a></p>
              <h3>Online</h3>
              <p><a href="http://www.kentcht.nhs.uk">Visit hospital's website</a></p>
            </div>
          </div>
      
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3>Care Quality Commission</h3>
              <p>Overall, <a href="https://www.cqc.org.uk/provider/RYY">CQC</a> has rated this GP surgery as: <b>Good</b></p>
              <ul class="nhsuk-list">
                <li class="indicator-off"></span><span class="green-star">&#9734;</span>Outstanding</li>
                <li class="indicator-on"><span class="green-circle"></span>Good</li>
                <li class="indicator-off"><span class="amber-circle"></span>Requires improvement</li>
                <li class="indicator-off"></span><span class="red-circle"></span>Inadequate</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-action-link nhsuk-u-margin-bottom-8">
        <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Find another Hospital</span>
        </a>
      </div>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>What patients say</h2>
      <p>Latest reviews of this hospital.</p>

      <p><a href="/ratings-reviews/">Read all 7 reviews</a></p>
      <ul class="nhsuk-card-group">
        <li class="nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Good experience
              </h3>
              <p>I had need of a urgent appointment, I was seen within 3 hours of contacting the surgery. I had not been to this practice before. The staff ...</p>
              <p class="nhsuk-u-secondary-text-color">20 March 2019</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Really happy
              </h3>
              <p>Really happy with the service at this surgery. Staff are very friendly and professional. Receptionist is really nice and w ..</p>
              <p class="nhsuk-u-secondary-text-color">21 March 2019</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Friendly and professional service
              </h3>
              <p>I'm glad to have found a place that provides such good service, particularly after much less favourable experiences with other practice ...</p>
              <p class="nhsuk-u-secondary-text-color">20 March 2019</p>
            </div>
          </div>
        </li>
      </ul>
      <p class="nhsuk-u-margin-bottom-8"><a href="/ratings-reviews/">Read all 7 reviews</a></p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/dentists/leave-review">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Leave a review</span>
        </a>
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <hr>
      <p><a href="">Report an issue with the information on this page</a></p>
      <p>Information supplied by <a href="">Maidstone and Tunbridge Wells NHS Trust</a></p>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
