<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Facilities
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Sevenoaks Hospital
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-8" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/appointments/">Appointments</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/patients-visitors/">Patients and visitors</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/departments/">Departments and services</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Facilities</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/ratings-reviews/">Ratings and reviews</a>
          </li>
        </ol>
      </nav>

    </div>

  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2>Facilities at this hospital</h2>
      <p>These facilities and amenities are available at this hospital for patients and visitors</p>
      <h3>Parking</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Car parking</li>
        <li>Cycle parking</li>
        <li>Disabled parking</li>
        <li>Parent and child parking</li>
      </ul>
      <h3>Accessibility</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Disabled toilet</li>
        <li>Braille translation service</li>
        <li>Induction loop</li>
        <li>Text relay</li>
        <li>Signing service</li>
        <li>Wheelchair access</li>
        <li>Step-free access</li>
      </ul>
      <h3>Customer facilities</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Access to TV</li>
        <li>Cashpoint machine</li>
        <li>Mobile phone charging point</li>
        <li>Visitor overnight accommodation</li>
      </ul>
      <h3>Food and amenities</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Cafe</li>
        <li>Patient library</li>
        <li>Pharmacy</li>
        <li>Shop</li>
      </ul>
      <h3>In-patient accommodation</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Private rooms</li>
        <li>Single sex wards</li>
      </ul>
      <h3>Familiy friendly</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Baby changing</li>
        <li>Children's play area</li>
        <li>Parent and baby room</li>
        <li>Pram park</li>
      </ul>
      <h3>Faith services</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Prayer area</li>
        <li>Onsite chapel</li>
      </ul>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <hr>
      <p><a href="">Report an issue with the information on this page</a></p>
      <p>Information supplied by <a href="">Maidstone and Tunbridge Wells NHS Trust</a></p>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
