
<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout-app-header-pharmacies.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Departments - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "/profile-manager/hospitals/editor/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../editor">Home</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../editor/profiles/">
          Your profiles
        </a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">
      Back to your profiles
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 id="page-heading">
        <span role="text">
            <span class="nhsuk-caption-xl">
              Royal London Hospital 
              <span class="nhsuk-u-visually-hidden"> -</span>
            </span>
            Deparments 
        </span>
      </h1>
    </div>
  </div>
  <a class="nhsuk-skip-link" href="#profileslist">Skip filter</a>
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <div class="search-sort">
        <form id="search" action="/profile-manager/hospitals/editor/profiles/royal/departments/search-hospital-department" method="POST" role="search">
          <label class="nhsuk-label" for="searchBar">Search by department name</label>
          <div class="search-bar">
            <input class="nhsuk-input nhsuk-input--width-10 profile-search" id="searchBar" name="searchDepartment" type="text">
            <button class="nhsuk-profiles-search__submit" type="submit">
              <svg class="nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
              </svg>
              <span class="nhsuk-u-visually-hidden">Search</span>
            </button>
          </div>
        </form>
        <div class="filter-buttons">
          <a href="add/add-departments" class="nhsuk-button nhsuk-button--secondary">Add departments</a>
          <a href="remove/remove-departments" class="nhsuk-button nhsuk-button--secondary">Remove departments</a>
        </div>
      </div>
    </div>
  </div>
  <div id="profileslist">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <table role="table" class="nhsuk-table-responsive">
          <caption class="nhsuk-table__caption">Your profiles</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" scope="col">Department name</th>
              <th role="columnheader" scope="col">Status</th>
              <th role="columnheader" scope="col">Last updated</th>
              <th role="columnheader" scope="col">Department type</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            {% for deparment in currentDepartments %}
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Department name </span>
                  <a href="#">
                    {{ deparment }} <span class="nhsuk-u-visually-hidden"> located at {{hospital.Line1}}</span>
                  </a>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Status</span>
                <strong class="nhsuk-tag nhsuk-tag--orange">
                  Needs set up 
                </strong>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>
                Date here 
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Last updated</span>
                CV 
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <nav class="nhsuk-pagination" aria-label="Department list navigation">
    <ul class="nhsuk-pagination__list">
      <li class="nhsuk-pagination__item  nhsuk-pagination__item--prev">
        <a class="nhsuk-pagination__link" href="">
          <svg class="nhsuk-pagination__link--arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
            <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
          </svg>
          Previous<span class="govuk-visually-hidden"> page</span></a>
      </li>
      <li class="nhsuk-pagination__item nhsuk-pagination__item--active" aria-current="page">1</li>
      <li class="nhsuk-pagination__item"><a class="nhsuk-pagination__link" href="index-2" aria-label="Page 2 of 3">2</a></li>
      <li class="nhsuk-pagination__item"><a class="nhsuk-pagination__link" href="index-3" aria-label="Page 3 of 3">3</a></li>
      <li class="nhsuk-pagination__item  nhsuk-pagination__item--next">
        <a class="nhsuk-pagination__link" href="index-2">
          Next<span class="govuk-visually-hidden"> page</span>
          <svg class="nhsuk-pagination__link--arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
          </svg>
        </a>
      </li>
    </ul>
    <p class="nhsuk-pagination__results">Showing <b>1</b> to <b>15</b> of <b>45</b> departments</p>
  </nav>
  <div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back
    </a>
  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
let displayname = req.body.displayname;
</script>
{% endblock %}