<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-index.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Dentist viewer prototypes - Profiles - NHS
{% endblock %}

<!-- Page content starts here -->

{% block content %}
  <!-- Page title -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h1>Dentist viewer prototypes</h1>
      </div>
    </div>
  </div>

  <!-- Contents page for viewer and profile -->
  <nav class="nhsuk-contents-list" role="navigation" aria-label="Profile type">
    <h2 class="nhsuk-u-visually-hidden">Contents</h2>
    <ol class="nhsuk-contents-list__list">
      <li class="nhsuk-contents-list__item" aria-current="page">
        <span class="nhsuk-contents-list__current">Profile viewer</span>
      </li>
      <li class="nhsuk-contents-list__item">
        <a class="nhsuk-contents-list__link" href="/prototype-parent-pages/dentist-editor">Profile editor</a>
      </li>
    </ol>
  </nav>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h2>MVP Designs</h2>
        <h3>Standard dentist profile</h3>
        <p>The standard dentist profile using the new NHS profiles template.</p>
      </div>

      <div class="flex-container">
        <div class="flex-items">
          <img src="https://raw.githubusercontent.com/dhanishgajjar/vscode-icons/master/png/default_dark.png" width="50px"/>
        </div>
        <div class="flex-items">
          <p class="nhsuk-u-margin-bottom-0"><a href="/mvp/dentists/overview/">Standard dentist profile</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>04/02/2020</p>
        </div>
      </div>

      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

      <div class="nhsuk-u-reading-width">
        <h2>Post MVP Designs</h2>
        <h3>Future state dentist profile</h3>
        <p>This prototype shows a dentist profile with future additions such as treatments and services, dentists at the surgery and more. </p>
      </div>
      <div class="flex-container">
        <div class="flex-items">
          <img src="https://raw.githubusercontent.com/dhanishgajjar/vscode-icons/master/png/default_dark.png" width="50px"/>
        </div>
        <div class="flex-items">
          <p class="nhsuk-u-margin-bottom-0"><a href="/dentists/overview/">Future state dentist profile</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>30/03/2020</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
