<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-index.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
GP viewer prototypes - Profiles - NHS
{% endblock %}

<!-- Page content starts here -->
{% block content %}
  <!-- Page title -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h1>GP viewer prototypes</h1>
      </div>
    </div>
  </div>

  <!-- Contents page for viewer and profile -->
  <nav class="nhsuk-contents-list" role="navigation" aria-label="Profile type">
    <h2 class="nhsuk-u-visually-hidden">Contents</h2>
    <ol class="nhsuk-contents-list__list">
      <li class="nhsuk-contents-list__item" aria-current="page">
        <span class="nhsuk-contents-list__current">Profile viewer</span>
      </li>
      <li class="nhsuk-contents-list__item">
        <a class="nhsuk-contents-list__link" href="/prototype-parent-pages/gp-editor">Profile editor</a>
      </li>
    </ol>
  </nav>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h2>MVP Designs</h2>
        <h3>Catchment area widget</h3>
        <p>A series of scenarios for the GP catchment area widget.</p>
      </div>
      <div class="flex-container">
        <div class="flex-items">
          <img src="/images/svg/prototype-code-logo.svg" alt="Code logo">
          <p><a href="/mvp/gps/can-register/inside-catchment/index">Catchment data available - can register</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>03/02/2023</p>
        </div>
      </div>
      <div class="flex-container">
        <div class="flex-items">
          <img src="/images/svg/prototype-code-logo.svg" alt="Code logo">
          <p><a href="/mvp/gps/can-register/outside-catchment/index">Catchment data available - outside of area - accepts out of area</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>03/02/2023</p>
        </div>
      </div>

      <div class="flex-container">
        <div class="flex-items">
          <img src="/images/svg/prototype-code-logo.svg" alt="Code logo">
          <p><a href="/mvp/gps/cant-register/outside-catchment/index">Catchment data available - outside of area - does not accept out of area</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>03/02/2023</p>
        </div>
      </div>

      <div class="flex-container">
        <div class="flex-items">
          <img src="/images/svg/prototype-code-logo.svg" alt="Code logo">
          <p><a href="/mvp/gps/unknown-area-data/catchment-available/index">Catchment data available - outside of area - unknown out of area</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>03/02/2023</p>
        </div>
      </div>

      <div class="flex-container">
        <div class="flex-items">
          <img src="/images/svg/prototype-code-logo.svg" alt="Code logo">
          <p><a href="/mvp/gps/can-register/no-data-outside-catchment/index">No catchment data - Accepts out of area</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>03/02/2023</p>
        </div>
      </div>

      <div class="flex-container">
        <div class="flex-items">
          <img src="/images/svg/prototype-code-logo.svg" alt="Code logo">
          <p><a href="/mvp/gps/cant-register/no-data-outside-catchment/index">No catchment data - does not accept out of area</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>03/02/2023</p>
        </div>
      </div>

      <div class="flex-container">
        <div class="flex-items">
          <img src="/images/svg/prototype-code-logo.svg" alt="Code logo">
          <p><a href="/mvp/gps/unknown-area-data/no-catchment-available/index">No catchment data - unknown out of area</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>03/02/2023</p>
        </div>
      </div>

      <div class="flex-container">
        <div class="flex-items">
          <img src="/images/svg/prototype-code-logo.svg" alt="Code logo">
          <p><a href="/mvp/gps/not-accepting-patients/index">Not accepting patients</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>03/02/2023</p>
        </div>
      </div>

      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

      <div class="nhsuk-u-reading-width">
        <h2>Post MVP Designs</h2>
        <h3>Future state GP profile</h3>
        <p>This prototype includes several new experiments such as nearby surgeries, number of GPs, appointments, prescriptions and services.</p>
      </div>
      <div class="flex-container">
        <div class="flex-items">
          <img src="/images/svg/prototype-code-logo.svg" alt="Code logo">
          <p><a href="/gps/overview/">Future state GP profile</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>24/03/2020</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
