<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-index.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Hospital viewer prototypes - Profiles - NHS
{% endblock %}

<!-- Page content starts here -->

{% block content %}
  <!-- Page title -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h1>Hospital viewer prototypes</h1>
      </div>
    </div>
  </div>

  <!-- Contents page for viewer and profile -->
  <nav class="nhsuk-contents-list" role="navigation" aria-label="Profile type">
    <h2 class="nhsuk-u-visually-hidden">Contents</h2>
    <ol class="nhsuk-contents-list__list">
      <li class="nhsuk-contents-list__item" aria-current="page">
        <span class="nhsuk-contents-list__current">Profile viewer</span>
      </li>
      <li class="nhsuk-contents-list__item">
        <a class="nhsuk-contents-list__link" href="/prototype-parent-pages/hospital-editor">Profile editor</a>
      </li>
    </ol>
  </nav>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h2>MVP Designs</h2>
        <h3>Standard hospital profile</h3>
        <p>An example of the hospital profile using the new NHS profile template.</p>
      </div>
      <div class="flex-container">
        <div class="flex-items">
          <img src="/images/svg/prototype-code-logo.svg" alt="Code logo">
          <p><a href="/mvp/hospitals/overview/">Standard hospital profile</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>26/11/2022</p>
        </div>
      </div>
      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">
      <div class="nhsuk-u-reading-width">
        <h2>Post MVP Designs</h2>
        <hr class="nhsuk-section-break nhsuk-section-break--m">
        <h3>Future state hospital profile</h3>
        <p>This prototype includes several new experiments such as patient and visitor information and appointments.</p>
      </div>
      <div class="flex-container">
        <div class="flex-items">
          <img src="/images/svg/prototype-code-logo.svg" alt="Code logo">
          <p><a href="/hospitals/overview">Future state hospital profile</a></p>
        </div>
        <div class="flex-items">
          <p><span class="nhsuk-u-font-weight-bold">Last updated</span><br>26/02/2020</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
