<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-index.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Trust editor prototypes - Profiles - NHS
{% endblock %}

<!-- Page content starts here -->
{% block content %}
  <!-- Page title -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h1>Trust editor prototypes</h1>
      </div>
    </div>
  </div>

  <!-- Contents page for viewer and profile -->
  <nav class="nhsuk-contents-list" role="navigation" aria-label="Profile type">
    <h2 class="nhsuk-u-visually-hidden">Contents</h2>
    <ol class="nhsuk-contents-list__list">
      <li class="nhsuk-contents-list__item">
        <a class="nhsuk-contents-list__link" href="/prototype-parent-pages/trust-viewer">Profile viewer</a>
      </li>
      <li class="nhsuk-contents-list__item" aria-current="page">
        <span class="nhsuk-contents-list__current">Profile editor</span>
      </li>
    </ol>
  </nav>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h2>MVP Designs</h2>
        <h3>No prototypes to showcase yet</h3>
        <p>It looks like we don't have any prototypes to showcase in this space just yet. If you believe this to be in error, please reach out to a  member of the profiles team for assistance.</p>
      </div>
      <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">
      <div class="nhsuk-u-reading-width">
        <h2>Post MVP Designs</h2>
        <h3>No prototypes to showcase yet</h3>
        <p>It looks like we don't have any prototypes to showcase in this space just yet. If you believe this to be in error, please reach out to a  member of the profiles team for assistance.</p>
      </div>
    </div>
  </div>
{% endblock %}
