

<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout-app-header-pharmacies.html' %}
{% set mainClasses = 'nhsuk-u-padding-bottom-0' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Edit profile - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "/profile-manager/pharmacies/editor/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href=".//">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../profiles">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../../manage-profile">
          Manage your profile 
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../dashboard">
          Services 
        </a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../services-check">
      Check your answers 
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
	<div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-two-thirds">
      {% if fluVaccineOnlineBookingConfirmed === true %}
        <div class="nhsuk-inset-text nhsuk-confirmation-alert nhsuk-u-margin-top-0">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>You have updated your seasonal flu vaccination service (at risk groups) - online booking service</p>
        </div>
      {% endif %}
      <h1>Add details to your services</h1>
      <h2>General pharmacy services</h2>
    </div>
    <div class="nhsuk-grid-column-full">
      <dl class="nhsuk-summary-list services-summary-list">
				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
					  Seasonal flu vaccination service (at risk groups)
					</dt>
					<dd class="nhsuk-summary-list__value">
					  Online booking service	
					</dd>
					<dd class="nhsuk-summary-list__value">
            Updated: {{ fluVaccineBookingLastUpdatedDate }}
					</dd>
					<dd class="nhsuk-summary-list__actions">
            {% if fluVaccineBookingLastUpdatedDate !== "Never" %}
              <a href="flu-vaccine/confirm">
                Manage 
              </a>
            {% else %}
            <a href="flu-vaccine/online">
              Set up<span class="nhsuk-u-visually-hidden"> Online booking service</span>
            </a>
            {% endif %}
					</dd>
				</div>
			</dl>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
      <h2>Non-NHS pharmacy services</h2>
    </div>
    <div class="nhsuk-grid-column-full">
      <dl class="nhsuk-summary-list services-summary-list">
				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
            Seasonal flu vaccination service (not at risk groups)
					</dt>
					<dd class="nhsuk-summary-list__value">
					  Online booking service	
					</dd>
					<dd class="nhsuk-summary-list__value">
            Updated: Never
					</dd>
					<dd class="nhsuk-summary-list__actions">
            <a href="flu-vaccine/online">
              Set up<span class="nhsuk-u-visually-hidden"> Online booking service</span>
            </a>
					</dd>
				</div>
			</dl>
    </div>
		<div class="nhsuk-grid-column-two-thirds">
			<a class="nhsuk-button" href="../dashboard">Back to services</a>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}