<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layouts/layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Leave a review
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Leave a review",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "High Ash Dental Surgery"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 3 of 10</span>

      <form action="/q3" method="post">

        {% call fieldset({
          legend: {
            text: "Your details",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>We only use your email address to communicate with you about your feedback. This includes telling you when it is published or has a reply.</p>

        {% from 'input/macro.njk' import input %}

        <span id="error-message" class="nhsuk-error-message" style="display: none;">
          <span class="nhsuk-u-visually-hidden">Error:</span> 
          Please complete all fields
        </span>

        {{ input({
          "label": {
          "text": "Email address"
          },
          "id": "email",
          "name": "email",
          "value": data["email"],
          "classes": "nhsuk-input--width-full"
        }) }}

        {{ input({
          "label": {
          "text": "Confirm email address"
          },
          "id": "confirmemail",
          "name": "confirmemail",
          "value": data["confirmemail"],
          "classes": "nhsuk-input--width-full"
        }) }}

        {{ input({
          "label": {
          "text": "Display name"
          },
          "id": "displayname",
          "name": "displayname",
          "value": data["displayname"],
          "classes": "nhsuk-input--width-full"
        }) }}

        {% from 'checkboxes/macro.njk' import checkboxes %}

        {{ checkboxes({
          "idPrefix": "anonymous",
          "name": "anonymous",
          "fieldset": {
            "legend": {
              "text": ""
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "I want to be anonymous"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "rating-question-2",
      "text": "Back"
      }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}