<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layouts/layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Leave a review
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Leave a review",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/overview/",
    text: "High Ash Dental Surgery"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 1 of 10</span>

      <form action="/q1" method="post">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              How likely are you to recommend this dentist to friends and family?
            </legend>

            <span id="error-message" class="nhsuk-error-message" style="display: none;">
              <span class="nhsuk-u-visually-hidden">Error:</span> 
              Please select an option
            </span>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="familyfriends-1" name="familyfriends" type="radio" value="Extremely unlikely"{{checked("familyfriends","Extremely unlikely")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Extremely unlikely
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="familyfriends-2" name="familyfriends" type="radio" value="Unlikely"{{checked("familyfriends","Unlikely")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Unlikely
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="familyfriends-3" name="familyfriends" type="radio" value="Neither likely or unlikely"{{checked("familyfriends","Neither likely or unlikely")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Neither likely or unlikely
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="familyfriends-4" name="familyfriends" type="radio" value="Likely"{{checked("familyfriends","Likely")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Likely
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="familyfriends-5" name="familyfriends" type="radio" value="Extremely likely"{{checked("familyfriends","Extremely Likely")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Extremely likely
                </label>
              </div>
            </div>
          </fieldset>

        </div>

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "visitdate",
      "text": "Back"
      }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
