<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layouts/layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Leave a review
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Leave a review",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/overview/",
    text: "High Ash Dental Surgery"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 8 of 10</span>

      <form action="/q8" method="post">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              How satisfied are you with the information given to you about NHS treatment costs?
            </legend>

            <span id="error-message" class="nhsuk-error-message" style="display: none;">
              <span class="nhsuk-u-visually-hidden">Error:</span> 
              Please select an option
            </span>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="treatmentcostsinfo-1" name="treatmentcostsinfo" type="radio" value="Very dissatisfied"{{checked("treatmentcostsinfo","Very dissatisfied")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Very dissatisfied
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="treatmentcostsinfo-2" name="treatmentcostsinfo" type="radio" value="Fairly dissatisfied"{{checked("treatmentcostsinfo","Fairly dissatisfied")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Fairly dissatisfied
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="treatmentcostsinfo-3" name="treatmentcostsinfo" type="radio" value="Neither satisfied or dissatisfied"{{checked("treatmentcostsinfo","Neither satisfied or dissatisfied")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Neither satisfied or dissatisfied
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="treatmentcostsinfo-4" name="treatmentcostsinfo" type="radio" value="Fairly satisfied"{{checked("treatmentcostsinfo","Fairly satisfied")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Fairly satisfied
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="treatmentcostsinfo-5" name="treatmentcostsinfo" type="radio" value="Very satisfied"{{checked("treatmentcostsinfo","Very satisfied")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Very satisfied
                </label>
              </div>
            </div>
          </fieldset>

        </div>      

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "rating-question-7",
      "text": "Back"
      }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
