<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Ask a doctor a question
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Ask a doctor a question",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/gps/overview/",
    text: "Aylestone Hill Surgery"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 3 of 4</span>

      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-4">Your question</h1>

      <form action="/gps/askaquestion/aaqca" method="post">

        <fieldset class="nhsuk-fieldset">

          <span id="error-message" class="nhsuk-error-message" style="display: none;">
            <span class="nhsuk-u-visually-hidden">Error:</span> 
            Please complete both fields below
          </span>        

          <div class="nhsuk-form-group"> 
            <label class="nhsuk-label" for="namedgp">
              Named GP (if known)
            </label>
            <input class="nhsuk-input nhsuk-input--width-full" id="namedgp" name="namedgp" type="text" value="{{data["namedgp"]}}">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="question">
              Your question
            </label>
            <textarea class="nhsuk-textarea" id="question" name="question" rows="5" aria-describedby="question-hint">{{data["question"]}}</textarea>
          </div>

          {{ button({
            "text": "Continue",
            "id": "btn_submit"
          }) }}

        </fieldset>

      </form>

      {{ backLink({
      "href": "aaq2",
      "text": "Go back"
      }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
