<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Mental health support</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Back to Mental health support</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Leeds Mind
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Mental Health Support
          </span>
        </span>
      </h1>

    </div>

  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    <h2>Contact</h2>
      <div class="nhsuk-grid-row nhsuk-panel-group">
        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3>Address</h3>
            <address>
              Clarence House<br>
              11 Clarence Road<br>
              Horsforth<br>
              Leeds<br>
              LS18 4LB
            </address>
            <p class="nhsuk-u-margin-bottom-2"><a href="">Directions</a></p>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3>Telephone</h3>
            <p class="nhsuk-u-margin-bottom-2"><a href="">0113 305 5800</a></p>
            <h3>Online</h3>
            <p class="nhsuk-u-margin-bottom-2"><a href="mailto:info@leedsmind.org.uk">Email</a></p>
            <p class="nhsuk-u-margin-bottom-2"><a href="https://www.leedsmind.org.uk">Website</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h2>Description</h2>
      <p>Leeds Mind is an independent charity and we are very proud to be affiliated with the Mind group. This includes over 120 local Mind associations, and many Mind shops. We work closely with other Local Mind Associations throughout Yorkshire and the Humber, to ensure we are delivering the best service possible.</p>

      <h2>Service details</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Discovery College</li>
        <li>Wellbeing</li>
        <li>Housing</li>
        <li>Inkwell</li>
        <li>Connect for Health</li>
        <li>Workplace Leeds</li>
      </ul>

      <h2>Opening times</h2>
      <div class="nhsuk-table-responsive nhsuk-u-margin-bottom-4">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Opening times</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Day</th>
              <th class="nhsuk-table__header" scope="col">Opening hours</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Monday</td>
              <td class="nhsuk-table__cell ">9:00am to 5:00pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Tuesday</td>
              <td class="nhsuk-table__cell ">9:00am to 5:00pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Wednesday</td>
              <td class="nhsuk-table__cell ">9:00am to 5:00pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Thursday</td>
              <td class="nhsuk-table__cell ">9:00am to 5:00pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday</td>
              <td class="nhsuk-table__cell ">9:00am to 4:00pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Saturday</td>
              <td class="nhsuk-table__cell ">Closed</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Sunday</td>
              <td class="nhsuk-table__cell ">Closed</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="nhs-body-xs">Verified on 07 January 2019</p>

      <h2>About Mind</h2>
      <p>Local Mind associations (LMAs) are a vital part of the Mind network. At your LMA you can access a wide range of services tailored to your community.</p>
      <p>This information was supplied by <a href="https://www.mind.org.uk/">Mind</a> on 16 August 2018.</p>
      <img class="gsd-logo nhsuk-u-margin-bottom-3" alt="Mind" src="/images/mind.jpg">

      <p><a href="">Report an issue with the information on this page</a></p>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
