<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Leave a review
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Leave a review",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/dentists/overview/",
    text: "High Ash Dental Surgery"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Leave a review
          <span class="nhsuk-caption-xl">
            <span class="nhsuk-u-visually-hidden"> -</span> 
            High Ash Dental Surgery
          </span>
        </span>
      </h1>

      <h2>Before you start</h2>

      <p>We’re receiving a large number of questions about the coronavirus outbreak. If your review is related to coronavirus, you may find the following information useful:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/symptoms-and-what-to-do/">Coronavirus symptoms and what to do</a></li>
        <li><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">Self-isolation if you or someone you live with has symptoms</a></li>
        <li><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/getting-medical-help-at-home/">Getting medical help from home</a></li>
        <li><a href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/gp-online-services/">Repeat prescription services</a></li>
        <li><a href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/gp-online-services/">Booking appointments</a></li>
        <li><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/advice-for-people-at-high-risk/">Advice for people at higher risk</a></li>
        <li><a href="https://www.gov.uk/guidance/tell-the-cma-about-a-competition-or-market-problem">Profiteering</a></li>
      </ul>
      <p>We want to continue to support people leaving reviews about their experience of using NHS services, but would ask you to be mindful of the pressure NHS staff are currently under. We understand there maybe some frustrations and ask you to be patient during this difficult period.</p>

      <form action="/dentists/leave-review/visitdate" method="post">

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "index",
      "text": "Go back"
      }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
