
<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-app-header.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Confirm your contact details - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "../"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../editor/">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../../editor/profiles/">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit mydentist
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../editor/availability/practice-type">Practice type</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../editor/availability/accepting-patients">Accepting patients</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../../editor/availability/accepting-patients">
      Accepting patients 
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/profile-manager/dentists/editor/ur-2/availability/availability-check"  method="post">
        {% if data["practiceType"] === "referral" %} 
          <h1>
            Confirm your NHS practice type
          </h1>
        {% else %}
          <h1>
            Confirm your NHS practice type and which new NHS patients you are accepting
          </h1>
        {% endif %}
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Practice type 
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if data["practiceType"] === 'general' %}
              Routine treatments only
              {% elif data["practiceType"] === 'referral' %}
              Referral only
              {% else %}
              Routine treatments and referrals
              {% endif %}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="practice-type">
                Change<span class="nhsuk-u-visually-hidden"> practice type</span>
              </a>
            </dd>
          </div>
          {% if data["practiceType"] !== "referral" %} 
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Accepting patients 
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if data["patientsAccepting"] === "Not accepting new NHS patients" %} 
                  {{ data["patientsAccepting"] }}
                {% else %}
                  {% for item in data["patientsAccepting"] %}
                    {{ item }}<br />
                  {% endfor %}
                {% endif %}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="accepting-patients">
                  Change<span class="nhsuk-u-visually-hidden"> website address</span>
                </a>
              </dd>
            </div>
          {% endif %}
        </dl>
        {{ button({
          "text": "Save and confirm",
          "id": "btn_submit"
        }) }}
      </form>
      {{ backLink({
      "href": "contact-details-online-edit",
      "text": "Go back"
      }) }}
    </div>
  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

