<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">

      <h1>
        <span role="text">
          Overview
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Sevenoaks Hospital
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-8" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Overview</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/departments/">Departments and services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/facilities/">Facilities</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/np-ratings-reviews/">Performance ratings</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/p-ratings-reviews/">Patient ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>

    <div class="nhsuk-grid-column-one-half">

      <!--div class="nhsuk-panel nhsuk-panel-warning">
        <h3>This GP surgery is now closed for the day</h3>
        <p>If you have an urgent medical problem and you’re not sure what to do, <a href="https://111.nhs.uk/">call 111</a> or <a href="http://111.nhs.uk">visit 111 online</a> </p>
      </div>

      <div class="govuk-warning-text nhsuk-u-margin-bottom-8">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This GP surgery is not currently accepting new patients.
        </strong>
      </div-->

    </div>

  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2>Contact us</h2>
      <div class="nhsuk-grid-row nhsuk-panel-group nhsuk-u-margin-bottom-8">

        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3>Address</h3>
            <p>Sevenoaks Hospital<br>
            Hospital Road<br>
            Sevenoaks<br>
            Kent<br>
            TN13 3PG</p>
            <p><a href="https://www.google.com/maps/place/Sevenoaks+Hospital/@51.2878738,0.1933866,17z/data=!3m1!4b1!4m5!3m4!1s0x47df4d8db63d879b:0x46ee0efcf1177e2d!8m2!3d51.2878738!4d0.1955753">Get directions</a></p>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3>Telephone</h3>
            <p><a href="">01732 470200</a></p>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3>Online</h3>
            <p class="nhsuk-u-margin-bottom-4"><a href="http://www.kentcht.nhs.uk">Visit Hospital website</a></p>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-action-link nhsuk-u-margin-bottom-8">
        <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Find another Hospital</span>
        </a>
      </div>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Connected trusts</h2>
      <p>These trusts also provide services at Sevenoaks Hospital</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="https://www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id=38558">Medway NHS Foundation Trust</a><br>Tel: 01634 830000</li>
        <li><a href="https://www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id=39681">Maidstone and Tunbridge Wells NHS Trust</a><br>Tel: 01622 729000</li>
        <li><a href="https://www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id=39823">Medway Community Healthcare</a><br>01634 337593</li>
        <li><a href="https://www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id=44663">Kent and Medway NHS and Social Care Partnership Trust</a><br>01622 724100</li>
        <li><a href="https://www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id=152194">King's College Hospital NHS Foundation Trust</a><br>020 3299 9000</li>
      </ul>
      <p>Don't know which trust provides the service you're looking for?<br><a href="https://www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id=152197">Look it up in Departments and services</a></p>

      <h2>What patients say</h2>
      <p>Latest reviews of this GP surgery.</p>
      <div class="nhsuk-panel">
        <h3><a href="/dentists/ratings-review/#1"><span class="nhsuk-u-visually-hidden">Read review tited</span>Good experience</a></h3>
        <p class="nhsuk-promo__description">I had need of a urgent appointment, I was seen within 3 hours of contacting the surgery. I had not been to this practice before. The staff...</p>
        <p class="nhsuk-body-s nhsuk-promo__grey2">20 March 2019</p>
      </div>

      <div class="nhsuk-panel">
        <h3><a href="/dentists/ratings-reviews/#2"><span class="nhsuk-u-visually-hidden">Read review titled </span>Friendly and professional service</a></h3>
        <p>I'm glad to have found a GP that provides such good service, particularly after much less favourable experiences with other practice...</p>
        <p class="nhsuk-body-s nhsuk-promo__grey2">19 March 2019</p>
      </div>

      <div class="nhsuk-panel">
        <h3><a href="/dentists/ratings-review/#3"><span class="nhsuk-u-visually-hidden">Read review tited</span>Really happy</a></h3> 
        <p>Really happy with the service at this surgery. Staff are very friendly and professional. Receptionist is really nice and w...</p>
        <p class="nhsuk-body-s nhsuk-promo__grey2">21 November 2017</p>
      </div> 

      <p><a href="/dentists/ratings-reviews/">Read all 7 reviews</a></p>
      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/dentists/leave-review">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Leave a review</span>
        </a>
      </div>
      <hr>

      <p><a href="">Report an issue with the information on this page</a></p>

    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
