<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layouts/layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Leave a review
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Leave a review",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/dentists/overview/",
    text: "High Ash Dental Surgery"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 2 of 10</span>

      <form action="/q2" method="post">

        {% call fieldset({
          legend: {
            text: "Your review",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <span id="error-message" class="nhsuk-error-message" style="display: none;">
          <span class="nhsuk-u-visually-hidden">Error:</span> 
          Please complete all fields
        </span>        

        {% from 'input/macro.njk' import input %}

        {{ input({
          "label": {
          "text": "Title of your review"
          },
          "hint": {
          "text": "For example 'Great practice'"
          },
          "id": "title",
          "name": "title",
          "value": data["title"],
          "classes": "nhsuk-input--width-full"
        }) }}

        {% from 'textarea/macro.njk' import textarea %}

        {{ textarea({
          "label": {
          "text": "Details"
          },
          "hint": {
          "text": "Leave a short review of your experience"
          },
          "id": "details",
          "name": "details",
          "value": data["details"]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "rating-question-1",
      "text": "Back"
      }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
