<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layouts/layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Leave a review
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Leave a review",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/dentists/overview/",
    text: "High Ash Dental Surgery"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="/rating-review" method="post">

        {% call fieldset({
          legend: {
            text: "When did you visit this dentist?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>High Ash Dental Surgery, 88 High Ash Drive, Leeds, LS17 8RE</p>

        <span class="nhsuk-hint">
          The visit must have taken place within the last 2 years.
        </span>

        <span id="error-message" class="nhsuk-error-message" style="display: none;">
          <span class="nhsuk-u-visually-hidden">Error:</span> 
          Date cannot be blank or more than 2 years ago
        </span>

        {% from 'date-input/macro.njk' import dateInput %}

        {{ dateInput({
          "hint": {
            "text": "For example, 3 2018"
          },
          "items": [
            {
              "name": "month",
              "value": data["month"],
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "year",
              "value": data["year"],
              "classes": "nhsuk-input--width-4"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

        {{ backLink({
        "href": "index",
        "text": "Back"
        }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
