<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout-app-header.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-u-margin-bottom-4">User reviews </h1>
      <p>10a/b Bentalls Shopping Centre, Leeds, LS9 4GD</p>
      <div class="nhsuk-u-margin-bottom-3 search-sort" aria-label="Comment search and filter">
        <form id="search" action="/search-pharmacy" method="POST" role="search">
          <label class="nhsuk-label" for="searchBar">Search by title</label>
          <div class="search-bar-buttons">
            <div class="search-bar">
              <input class="nhsuk-input nhsuk-input--width-10 profile-search" id="searchBar" name="search" type="text">
              <button class="nhsuk-profiles-search__submit" type="submit">
                <svg class="nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                </svg>
                <span class="nhsuk-u-visually-hidden">Search</span>
              </button>
            </div>
            <div class="filter-buttons">
              <button id="show-filter-button" class="nhsuk-button nhsuk-button--small nhsuk-u-margin-bottom-0" aria-expanded="false" aria-controls="filter">Filter and sort</button>
              <button class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-0" onclick="window.location='/profiles/'"/>Clear all</button>
            </div>
          </div>
          <div id="filter" class="filter nhsuk-u-margin-top-3" aria-label="Profiles filter">
            <h2>Filter by</h2>
            <div class="filter-container">
              <div class="nhsuk-form-group filter-block">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                    Star rating 
                  </legend>
                  <div class="nhsuk-checkboxes nhsuk-u-margin-bottom-3">
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="one-star" name="star-rating" type="checkbox" value="pharmacies">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="one-star">
                        1 Star
                      </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="two-star" name="star-rating" type="checkbox" value="dentists">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="two-star">
                        2 Star 
                      </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="three-star" name="star-rating" type="checkbox" value="gp">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="three-star">
                        3 Star 
                      </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="four-star" name="star-rating" type="checkbox" value="gp">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="four-star">
                        4 Star 
                      </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="five-star" name="star-rating" type="checkbox" value="gp">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="five-star">
                        5 Star 
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="nhsuk-form-group filter-block">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                    Date posted 
                  </legend>
                  <div class="nhsuk-checkboxes nhsuk-u-margin-bottom-3">
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="filter-posted-7-days" name="filter-date-posted" type="checkbox" value="last7days">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-posted-7-days">
                        Last 7 days 
                      </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="filter-posted-month" name="filter-date-posted" type="checkbox" value="thisMonth">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-posted-month">
                        This month 
                      </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="filter-posted-3-months" name="filter-date-posted" type="checkbox" value="threeMonths">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-posted-3-months">
                        Last 3 months 
                      </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="filter-posted-6-months" name="filter-date-posted" type="checkbox" value="sixMonths">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-posted-6-months">
                        Last 6 months 
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="nhsuk-form-group filter-block">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                    Date visted 
                  </legend>
                  <div class="nhsuk-checkboxes nhsuk-u-margin-bottom-3">
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="filter-visited-7-days" name="filter-date-visted" type="checkbox" value="last7days">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-visited-7-days">
                        Last 7 days 
                      </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="filter-visited-month" name="filter-date-visted" type="checkbox" value="thisMonth">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-visited-month">
                        This month 
                      </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="filter-visited-3-months" name="filter-date-visted" type="checkbox" value="threeMonths">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-visited-3-months">
                        Last 3 months 
                      </label>
                    </div>
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="filter-visited-6-months" name="filter-date-visted" type="checkbox" value="sixMonths">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="filter-visited-6-months">
                        Last 6 months 
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="filter-container">
              <div class="nhsuk-form-group filter-block">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                    Sort by 
                  </legend>
                  <div class="nhsuk-radios">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="star-rating" name="sort-by" type="radio" value="starRating">
                      <label class="nhsuk-label nhsuk-radios__label" for="star-rating">
                        Star rating 
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="date-posted" name="sort-by" type="radio" value="datePosted">
                      <label class="nhsuk-label nhsuk-radios__label" for="date-posted">
                        Date posted 
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="date-visited" name="sort-by" type="radio" value="dateVisited">
                      <label class="nhsuk-label nhsuk-radios__label" for="date-visted">
                        Date visited 
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="nhsuk-form-group filter-block">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                    Sort order 
                  </legend>
                  <div class="nhsuk-radios">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="ascending" name="sort-order" type="radio" value="ascending">
                      <label class="nhsuk-label nhsuk-radios__label" for="ascending">
                        Ascending 
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="descending" name="sort-order" type="radio" value="descending">
                      <label class="nhsuk-label nhsuk-radios__label" for="descending">
                        Descending 
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <button type="submit" class="nhsuk-button">Apply</button>
            <button type="submit" class="nhsuk-button nhsuk-button--secondary">Clear all</button>
          </div>
        </form>
      </div>

      <p class="nhsuk-body-l nhsuk-u-margin-bottom-0"><b>Excellent Service</b></p>
      <p>by Vikram Shinde <span class="nhsuk-body-s" style="display:inline">- Posted on 24/04/2019</span></p>
      <p>I have registered my 2 daughters as a new patients. The reception was polite while registering. She gave us all required information and helped us to get first assessment appointment. The dentists also was very friendly and helpful. The children didnt scared at all. Dentist made them comfortable. I would highly recommend this Dentist practice.</p>
      <p class="nhsuk-body-s">Visited 20/04/2019</p>
      <p><a href="/org-response/response">Respond to this comment</a></p>
      <hr>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-0"><b>Good Experience</b></p>
      <p>by Cheryl Wogan <span class="nhsuk-body-s" style="display:inline">- Posted on 20/03/2019</span></p>
      <p>I had need of a urgent appointment, I was seen within 1 hour of contacting the surgery. I had not been to this practice before.The staff were very friendly and professional I cannot recommend this practice enough.</p>
      <p class="nhsuk-body-s">Visited 20/04/2019</p>
      <p><a href="/org-response/response">Respond to this comment</a></p>
      <hr>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-0"><b>Friendly and professional service</b></p>
      <p>by Anonymous <span class="nhsuk-body-s" style="display:inline">- Posted on 19/03/2019</span></p>
      <p>I'm glad to have found a dentist that provides such good service, particularly after much less favourable experiences with other practices in North Leeds. Waiting times for routine appontments may take a little longer than I'd like, but emergency appontments are possible and there's even adequate parking nearby.</p>
      <p class="nhsuk-body-s">Visited 20/04/2019</p>
      <p><a href="/org-response/response">Respond to this comment</a></p>
      <hr>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-0"><b>Really happy</b></p>
      <p>by T Patel <span class="nhsuk-body-s" style="display:inline">- Posted on 20/11/2017</span></p>
      <p>Really happy with the service High Ash Dental Surgery. Staff are very friendly and professional. Receptionist is really nice and welcoming. The new Dental Hygienist is fantastic. Explained what was going to be done from start to finish and there was definitely visible patient care demonstrated. Just waiting for the books to open up again so i can get by family registered at this Surgery. Thanks</p>
      <p class="nhsuk-body-s">Visited 20/11/2017</p>
      <p><a href="/org-response/response">Respond to this comment</a></p>
      <hr>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-0"><b>Friendly and efficient</b></p>
      <p>by Anonymous <span class="nhsuk-body-s" style="display:inline">- Posted on 21/11/2017</span></p>
      <p>All staff have been very helpful and informative. Their kindness was especially appreciated when I received some unwelcome news; they all went into action very quickly to ensure I receive the best treatment. Thank you</p>
      <p class="nhsuk-body-s">Visited 21/11/2017</p>
      <p><a href="/org-response/response">Respond to this comment</a></p>
      <hr>

      {% from 'pagination/macro.njk' import pagination %}

      {{ pagination({
        "nextUrl": "/org-response/comments-p2",
        "nextPage": "Page 2"
      }) }}
      
    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
