<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout-app-header.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Respond to the user comment - Profile Manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS profile manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/profiles-comments">
          Choose a profile for reviews
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/org-response">User reviews</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/org-response">
      Back to user reviews
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">Respond to the user comment</h1>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-u-margin-bottom-0">Cohens</p>
      <p class="nhsuk-u-margin-bottom-0">54 Bridgegate, Leeds, LS22 7UZ </p>
      <p class="nhsuk-u-margin-bottom-0">0113 4555555</p>
      <h2 class="nhsuk-u-margin-bottom-0">Slow and rude</h2>
      <p class="nhsuk-u-margin-bottom-2" aria-hidden="true">
        <span class="stars">★ </span>
        out of 5
      </p>
      <p id="star-rating-1" class="nhsuk-u-visually-hidden">Rated 2 stars out of 5</p>
      <p>by Anonymous <span class="nhsuk-body-s" style="display:inline">- Posted on 20 September 2021</span></p>
      <p>Train your staff how to speak to customers properly please. I had to wait almost 20 minutes to pick up my wife’s prescription. Your staff served 5 other people before me and seemed to purposely make me wait. I asked politely if there was a problem and was told “you should have come earlier”. I could only come when I’d finished work. There’s no need to be rude to people. There was no explanation for why it all took so long. Some basic communication skills would be helpful please.</p>
      <p class="nhsuk-body-s">Visited September 2021</p>
      <div class="top-tips-mobile">
        <h2>Step-by-step guide for how to respond</h2>
        <details class="nhsuk-details nhsuk-u-margin-bottom-3">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Positive reviews
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ol>
              <li>Address the reviewer with their screen name, or ‘Dear patient’ if anonymous</li>
              <li>Thank them for their feedback</li>
              <li>Tailor your response to include what’s mentioned in the review</li>
              <li>Offer to pass feedback to the staff</li>
              <li>Sign off with your name and role</li>
            </ol>
          </div>
        </details>
        <details class="nhsuk-details nhsuk-u-margin-bottom-3">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Negative reviews 
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ol>
              <li>Address the reviewer with their screen name, or ‘Dear patient’ if anonymous</li>
              <li>Thank them for their feedback</li>
              <li>Identify yourself and your role</li>
              <li>Apologise and empathise for their poor experience</li>
              <li>Clarify what happened, if possible</li>
              <li>Tailor your response to include what’s mentioned in the review</li>
              <li>Offer reassurance and clarify any improvements you intend to make</li>
              <li>Tell them about any relevant help, online or offline</li>
              <li>Offer a direct telephone number or email address for them to contact you</li>
              <li>Sign off with your name and role</li>
            </ol>
          </div>
        </details>
      </div>
      <form action="/profile-manager/pharmacies/org-response/response" method="post">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="your-response">
            Your response
          </label>
          <textarea class="nhsuk-textarea" id="your-response" name="yourresponse" rows="8"></textarea>
        </div>
        <button class="nhsuk-button" type="submit">
          Submit response
        </button>
      </form>
      {{ backLink({
      "href": "/org-response/",
      "text": "Go back"
      }) }}
    </div>
    <div class="top-tips-desktop">
      <div class="nhsuk-grid-column-one-third">
        <aside>
          <h2>Step-by-step guide for how to respond</h2>
          <h3>Positive reviews</h3>
          <ol class="nhsuk-list nhsuk-list--number">
            <li>Address the reviewer with their screen name, or ‘Dear patient’ if anonymous</li>
            <li>Thank them for their feedback</li>
            <li>Tailor your response to include what’s mentioned in the review</li>
            <li>Offer to pass feedback to the staff</li>
            <li>Sign off with your name and role</li>
          </ol>
          <h3>
            Negative reviews 
          </h3>
          <ol class="nhsuk-list nhsuk-list--number">
            <li>Address the reviewer with their screen name, or ‘Dear patient’ if anonymous</li>
            <li>Thank them for their feedback</li>
            <li>Identify yourself and your role</li>
            <li>Apologise and empathise for their poor experience</li>
            <li>Clarify what happened, if possible</li>
            <li>Tailor your response to include what’s mentioned in the review</li>
            <li>Offer reassurance and clarify any improvements you intend to make</li>
            <li>Tell them about any relevant help, online or offline</li>
            <li>Offer a direct telephone number or email address for them to contact you</li>
            <li>Sign off with your name and role</li>
          </ol>
        </aside>
      </div>
    </div>
  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
