<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Staff at this GP surgery
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Staff at this GP surgery
          <span class="nhsuk-caption-xl">
            <span class="nhsuk-u-visually-hidden"> -</span> 
            Aylestone Hill Surgery
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this profile">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/register/">How to register with this GP surgery</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/services/">Services and clinics</a>
          </li>          
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Staff at this GP surgery</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/practice-group/">Other GP surgeries within practice group</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/ratings/">Performance ratings</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/p-ratings-reviews/">Patient ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Training Practice</h2>
      <p>This practice has been accredited as a GP Training Practice and will have attached to it one or more qualified doctors training to specialise in General Practice</p>

      <h2>Key staff facts:</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Gender of GPs: 6 male and 4 female</li>
        <li>Languages spoken: Russian, Ukrainian</li>
      </ul>

      <h2>GPs at this surgery</h2>
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">GPs at this surgery</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Name</th>
              <th class="nhsuk-table__header" scope="col">GMC Number</th>
              <th class="nhsuk-table__header" scope="col">Gender</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dr Diana Majeed</td>
              <td class="nhsuk-table__cell">2552860</td>
              <td class="nhsuk-table__cell">Female</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dr Antony McNeill Orr</td>
              <td class="nhsuk-table__cell">2870108</td>
              <td class="nhsuk-table__cell">Male</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dr Jonathan Mark Duffett</td>
              <td class="nhsuk-table__cell">3329050</td>
              <td class="nhsuk-table__cell">Male</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dr Geoff Corbett</td>
              <td class="nhsuk-table__cell">4521293</td>
              <td class="nhsuk-table__cell">Male</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dr Lalitha Jeyakumar</td>
              <td class="nhsuk-table__cell">6164290</td>
              <td class="nhsuk-table__cell">Female</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dr Tristan Jones</td>
              <td class="nhsuk-table__cell">7016313</td>
              <td class="nhsuk-table__cell">Male</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dr T McMillen</td>
              <td class="nhsuk-table__cell">4413570</td>
              <td class="nhsuk-table__cell">Male</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dr O Nesterenko</td>
              <td class="nhsuk-table__cell">6053447</td>
              <td class="nhsuk-table__cell">Female</td>
            </tr>
          <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dr Anthony Rignall</td>
              <td class="nhsuk-table__cell">6056063</td>
              <td class="nhsuk-table__cell">Male</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dr Holly Vaughan</td>
              <td class="nhsuk-table__cell">7046447</td>
              <td class="nhsuk-table__cell">Female</td>
            </tr>
          </tbody>
        </table>

      <p>For other staff members including Practice nursing team, reception and administration team <a href="https://www.herefordmedicalgroup.co.uk/team?category=gp-partners">see practice website</a>.</p>

      <p><a href="">Report an issue with the information on this page</a></p>
    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
