<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Weldricks Pharmacy
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
      </a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/opening-times/opening-times-start">Opening times</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/opening-times/days">Days</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">
      {% set displayname = 'alias0' %}
      {% if data["displayname"] == alias0 %}
      Back to Edit Weldricks Pharmacy
      {%else%}
      Back to Edit {{data["displayname"]}}
      {%endif%}
    </a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="/editor/opening-times/days" method="post">
      <input type="hidden" name="{{dayObj.key}}" value="{{dayObj.key}}" />
      {% for id, value in times %}
          <input type="hidden" name="{{id}}" value="{{value}}" />
      {% endfor %}
      <legend>
        <h1>Copy {{dayObj.display}}'s opening times to another day</h1>
      </legend>
      <div class="nhsuk-u-margin-bottom-5">
          <div class="nhsuk-checkboxes">
          {% for key, value in daysToDisplay %}
              <div class="nhsuk-checkboxes__item">
                <input type="checkbox" id="{{value.key}}" class="nhsuk-checkboxes__input" name="{{value.key}}" value="{{value.key}}" />
                <label for="{{value.key}}" class="nhsuk-label nhsuk-checkboxes__label">{{value.display}}</label>
              </div>
          {% endfor %}
        </div>
      </div>
      <button type="submit" class="nhsuk-button">Continue</button>
      <button type="submit" class="nhsuk-button nhsuk-button--secondary">Do not copy</button>
    </form>
  </div>
</div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}


{% block pageScripts %}
<script>

</script>
{% endblock %}
