<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}


<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Weldricks Pharmacy
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
      </a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/opening-times/opening-times-start">Opening times</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/opening-times/days">Days</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">
      {% set displayname = 'alias0' %}
      {% if data["displayname"] == alias0 %}
      Back to Edit Weldricks Pharmacy
      {%else%}
      Back to Edit {{data["displayname"]}}
      {%endif%}
    </a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form method="post" action="/editor/opening-times/days/{{dayObj.key}}/copy">
      <div id="enter-time" class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            <h1>{% set displayname = 'alias0' %}
              {% if data["displayname"] == alias0 %}
              What time is Weldricks Pharmacy open?
              {%else%}
              What time is {{data["displayname"]}} open?
              {%endif%}</h1>
          </legend>

          <details class="nhsuk-details nhsuk-u-margin-bottom-6">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                How to enter your opening times
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <span class="nhsuk-hint">
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Please enter your opening times in the 24 hour format. For midnight use 00:00 and for midday use 12:00</li>
                  <li>Times must not overlap over 2 days</li>
                  <li>On each day, opening times must close at 23:59</li>
                </ul>
                <h4>Example</h4>
                <p>If on Wednesday a pharmacy opens at 7pm and closes at 2am on Thursday morning, enter:</p>
                <p>Wednesday: 19:00-23:59<br>Thursday: 00:00-02:00</p></span>
            </div>
          </details>

          <div id="openingTimes" class="nhsuk-u-margin-bottom-6">
            <div id="timeEntry1" class="nhsuk-u-margin-bottom-6">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="openTime1">Open</label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" name="openTime1" type="text" id="openTime1" value={{currentDayOpeningTimes[0]}}>
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="closeTime1">Closed</label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" name="closeTime1" type="text" id="closeTime1" value={{currentDayOpeningTimes[1]}}>
                </div>
              </div>
              <a href="#" class="nhsuk-u-font-size-19" id="removeTime1">Remove time</a>
            </div>
            <div id="timeEntry2" class="nhsuk-u-margin-bottom-6">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="openTime2">Open</label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" name="openTime2" type="text" id="openTime2" value={{currentDayOpeningTimes[2]}}>
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="closeTime2">Closed</label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" type="text" name="closeTime2" id="closeTime2" value={{currentDayOpeningTimes[3]}}>
                </div>
              </div>
              <a href="#" class="nhsuk-u-font-size-19" id="removeTime2">Remove time</a>
            </div>
        
            <div id="timeEntry3" class="nhsuk-u-margin-bottom-6">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="openTime3">Open</label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" type="text" name="openTime3" id="openTime3" value={{currentDayOpeningTimes[4]}}>
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="closeTime3">Closed</label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" type="text" name="closeTime3" id="closeTime3" value={{currentDayOpeningTimes[5]}}>
                </div>
              </div>
              <a href="#" class="nhsuk-u-font-size-19" id="removeTime3">Remove time</a>
            </div>
            <p><a id="anotherTime" href="">Add another opening time to this day</a></p>
          </div>
        </fieldset>
        <button type="submit" class="nhsuk-button">Continue</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}


{% block pageScripts %}
<script>
  // Hiding additional time entries by default
  if (document.getElementById('openTime2').value == '') {
    document.getElementById('timeEntry2').style.display = 'none';
  }

  if (document.getElementById('openTime3').value == '') {
    document.getElementById('timeEntry3').style.display = 'none';
  }

  if (document.getElementById('openTime3').value !== '') {
    document.getElementById('anotherTime').style.display = 'none';
  }
  
  // Counter to display more time entries
  let counter = 1;
  document.getElementById('anotherTime').addEventListener('click', function (e) {
    e.preventDefault();
    counter++;
    // Display the previously hidden time entries
    if (counter <= 3) {
      document.getElementById(`timeEntry${counter}`).style.display = 'block';
      document.getElementById(`openTime${counter}`).focus();
    }
    if (counter === 3) {
      document.getElementById('anotherTime').style.display = 'none';
    }
  });

  document.getElementById('removeTime1').addEventListener('click', function (e) {
    e.preventDefault();
    document.getElementById('openTime1').value = '';
    document.getElementById('closeTime1').value = '';
  });

  document.getElementById('removeTime2').addEventListener('click', function (e) {
    e.preventDefault();
    document.getElementById('openTime2').value = '';
    document.getElementById('closeTime2').value = '';
  });

  document.getElementById('removeTime3').addEventListener('click', function (e) {
    e.preventDefault();
    document.getElementById('openTime3').value = '';
    document.getElementById('closeTime3').value = '';
  });

</script>
{% endblock %}
