  .flex-container {
    background:white;
    border-radius: 16px;
    border: 1px solid #e3e3e3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 16px;

    .flex-items {
      align-items: center;
      display: flex;

      img {
        margin-right: 16px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
 
  @media only screen and (max-width: 700px) {
    .flex-container {
      display: block;
      margin-bottom: 8px;

      .flex-items {
        display: block;

        p {
          margin-bottom: 8px;
        }
      }
    }
  }
