<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Overview
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Aylestone Hill Surgery
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-4" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Overview</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/register/">Register with this GP surgery</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/services/">Services and clinics</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/staff/">Staff at this GP surgery</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/practice-group/">Other GP surgeries within practice group</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/ratings/">Ratings</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/reviews/">Patient reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p><b>This GP surgery is currently closed</b>. Patients at this surgery can book evening and weekend appointments at another GP surgery by <a href="">calling 111</a>.</p>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
    <h2>Contact us</h2>
      <div class="nhsuk-grid-row nhsuk-panel-group nhsuk-u-margin-bottom-8">
        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item nhsuk-panel-group__item-nobottommargin">
          <div class="nhsuk-panel">
            <h3>Address</h3>
            <p>Aylestone Hill<br>
            Hereford<br>
            Hertfordshire<br>
            HR1 1HR</p>
            <p><a href="https://www.google.com/maps/place/Aylestone+Hill+Surgery/@52.0606363,-2.7046445,15z/data=!4m5!3m4!1s0x0:0x5314dd362c5e50d7!8m2!3d52.0606363!4d-2.7046445">Get directions</a></p>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item nhsuk-panel-group__item-nobottommargin">
          <div class="nhsuk-panel">
            <h3>Telephone</h3>
            <p>Reception<br> <a href="">01432 263063</a></p>
            <p>Appointments<br> <a href="">01432 263064</a></p>
            <p>Repeat prescriptions<br> <a href="">01432 263063</a></p>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3>Online</h3>
            <p class="nhsuk-u-margin-bottom-2"><a href="https://www.herefordmedicalgroup.co.uk/">Visit GP surgery website</a></p>
            <!--p><a href="mailto:info@highashdental.co.uk">Send email to dentists</a></p-->
          </div>
        </div>
      </div>
      <div class="nhsuk-action-link nhsuk-u-margin-bottom-8">
        <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Find another GP</span>
        </a>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h2>Reception opening times</h2>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Reception opening times</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Day</th>
              <th class="nhsuk-table__header" scope="col">Opening hours</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Monday</td>
              <td class="nhsuk-table__cell ">8am to 6.30pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Tuesday</td>
              <td class="nhsuk-table__cell ">8am to 6.30pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Wednesday</td>
              <td class="nhsuk-table__cell ">8am to 6.30pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Thursday</td>
              <td class="nhsuk-table__cell ">8am to 6.30pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday</td>
              <td class="nhsuk-table__cell ">8am to 6.30pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Saturday</td>
              <td class="nhsuk-table__cell ">Closed</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Sunday</td>
              <td class="nhsuk-table__cell ">Closed</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Bank holiday opening times</h2>
        <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Bank holiday opening times</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Holiday</th>
              <th class="nhsuk-table__header" scope="col">Date</th>
              <th class="nhsuk-table__header" scope="col">Opening hours</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Christmas day</td>
              <td class="nhsuk-table__cell">25 December</td>
              <td class="nhsuk-table__cell">Closed</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Boxing day</td>
              <td class="nhsuk-table__cell">26 December</td>
              <td class="nhsuk-table__cell">Closed</td>
            </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">New Year's day</td>
                <td class="nhsuk-table__cell">1st January</td>
                <td class="nhsuk-table__cell">Closed</td>
              </tr>
          </tbody>
        </table>
      </div>

      <h2>Appointments</h2>
      <p>The following GP appointments are available at this surgery:</p>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">GP appointments available at this surgery</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Appointment type</th>
              <th class="nhsuk-table__header" scope="col">Availability</th>
              <th class="nhsuk-table__header" scope="col">Details</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Same day / 48 hour emergency appointments</td>
              <td class="nhsuk-table__cell">Yes</td>
              <td class="nhsuk-table__cell">Phone reception from 8am</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Routine GP appointments</td>
              <td class="nhsuk-table__cell">Yes</td>
              <td class="nhsuk-table__cell">Contact reception or <a href="https://www.nhs.uk/NHSEngland/online-services/Pages/gp-services-choice-1.aspx">book online</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Telephone consultations</td>
              <td class="nhsuk-table__cell">Yes</td>
              <td class="nhsuk-table__cell">Contact reception</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Online consultations</td>
              <td class="nhsuk-table__cell">No</td>
              <td class="nhsuk-table__cell">Not available</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Evening & weekend appointments</td>
              <td class="nhsuk-table__cell">Yes</td>
              <td class="nhsuk-table__cell">Contact reception or phone 111 out of hours</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p>You must be registered with your GP’s online service to access the online appointment booking service. <a href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/gp-online-services/">Find out more about accessing online services</a></p>

      <h2>When GPs see patients</h2>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">When GPs see patients</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Day</th>
              <th class="nhsuk-table__header" scope="col">Opening hours</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Monday</td>
              <td class="nhsuk-table__cell ">8am to 11am<br>4pm to 6pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Tuesday</td>
              <td class="nhsuk-table__cell ">8am to 11am<br>4pm to 6pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Wednesday</td>
              <td class="nhsuk-table__cell ">8am to 11am<br>4pm to 6pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Thursday</td>
              <td class="nhsuk-table__cell ">8am to 11am<br>4pm to 6pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday</td>
              <td class="nhsuk-table__cell ">8am to 11am<br>4pm to 6pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Saturday</td>
              <td class="nhsuk-table__cell ">Closed</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Sunday</td>
              <td class="nhsuk-table__cell ">Closed</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p class="nhsuk-body-s">Last updated on 07/01/2019</p>

      <h2>Walk in service for registered patients</h2>
      <p>This GP surgery provides the following walk in service:</p>
      <p>Saturday 10am to Midday<br>
      1 times per month<br>
      <a href="https://www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id=39681">Quay House Medical Centre</a></p>

      <h2>Evening and weekend appointments</h2>
      <p>This GP surgery provides the following appointments:</p>
      <p>Tuesday 6.30pm to 8pm<br>
      2 times a month<br></p>
      <p>Additional evening and weekend appointments are available at the following GP surgeries: </p>
      <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-bottom-2">
        <li><a href="https://www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id=152196">South Wye Medical Centre</a></li>
        <li><a href="https://www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id=39599">The Marches Surgery</a></li>
        <li><a href="https://www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id=44595">Pendeen Surgery</a></li>
      </ul>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Book these appointments by contacting reception within practice hours or by calling 111</p>
          </div>
        </div>
      </div>

      <h2>Appointments with other staff at this surgery</h2>
      <p>The following services are available without having to see a GP:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>physiotherapist - for patients with back, neck and joint pain</li>
        <li>mental health therapist - for patients with stress, anxiety or depression</li>
      </ul>

      <h2>Customer facilities</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Car parking</li>
      </ul>

      <h2>Accessibility</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Disabled toilet</li>
        <li>Wheelchair access</li>
        <li>Step free access</li>
      </ul>

      <p class="nhsuk-body-s">Last updated on 07/01/2019</p>

      <p><a href="">Report an issue with the information on this page</a></p>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
