<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Services
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Clinics and services
          <span class="nhsuk-caption-xl">
            <span class="nhsuk-u-visually-hidden"> -</span> 
            Aylestone Hill Surgery
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this profile">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/appointments/">Appointments</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/register/">Register with this GP surgery</a>
          </li>          
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/clinics-services/">Clinics and services</a>

            <ol class="nhsuk-contents-list__list nhsuk-u-margin-top-2">
              <li class="nhsuk-contents-list__item">
                <a class="nhsuk-contents-list__link" href="/gps/clinics-services/atthissurgery">Clinics and services at this surgery</a>
              </li>
              <li class="nhsuk-contents-list__item">
                <span class="nhsuk-contents-list__current">Other available clinics and services</span>
              </li>
            </ol>

          </li> 
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/prescriptions/">Prescriptions</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/ratings-reviews/">Ratings and reviews</a>
          </li>
        </ol>
      </nav>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Other clinic and services</h2>
      <p>This GP surgery is part of a wide group practice – a network of local GP surgeries. You can may be able to use these clinics and services at another GP surgery. For further information contact reception on <a href="">012345 67089</a> or visit the <a href="https://www.herefordmedicalgroup.co.uk/services-we-provide">surgery website</a>.</p>

      <h2>Mental health</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Help for carers</li>
        <li>Mental health therapy</li>
        <li>Self-referral mental health counselling</li>
        <li>Social prescribing – this refers to people to community activities and classes to improve wellbeing</li>
      </ul>

      <h2>Minor surgery</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Freezing off skin growths like moles and verrucas</li>
      </ul>

      <h2>Staying mobile</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Care of bone, joint and muscle disorders including arthritis and osteoporosis</li>
        <li>Self-referral physiotherapy service</li>
        <li>Steroid injections for joint pain</li>
      </ul>

      <hr>
      
      <p><a href="">Report an issue with the information on this page</a></p>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
