
<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Aylestone Hill Surgery - Overview - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP surgery</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP surgery</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        <span role="text">
					How to register with this GP surgery  
          <span class="nhsuk-caption-xl">
            <span class="nhsuk-u-visually-hidden"> -</span> 
            Aylestone Hill Surgery
          </span>
        </span>
      </h1>
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this profile">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list" href="index">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">How to register with this GP surgery</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#">Leave a review</a>
          </li>
        </ol>
      </nav>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading">You can register to this GP</h2>
          <p>Although you may be able to register to this GP surgery, you may not be able to get some services as you’re located out of the catchment area.</p>
          <p>Alternatively, you can find another GP surgery using the link below.</p>
          <p><a href="#">Check another postcode</a></p>
        </div>
      </div>
			<h2>Register online using the NHS website</h2>
			<p>Registration will be faster and easier if you have your personal information ready.</p>
      <p>You do not need proof of address or immigration status, ID or an NHS number to register online with a GP.</p>
			<details class="nhsuk-details nhsuk-u-margin-bottom-6">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What you'll be asked during online registration
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>You'll be asked:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>for your name and address</li>
            <li>for the name and address of the GP you're registered with now, if there is one</li>
            <li>for your NHS number, if you know it</li>
            <li>for the name and address of an emergency contact</li>
            <li>for the name and address of your carer, if you have one</li>
            <li>about your medical history</li>
            <li>about allergies you might have</li>
            <li>about medication you might be taking</li>
            <li>for a way to contact you, like a phone number or email address</li>
          </ul>
        </div>
      </details>
			<div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="register-start">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Register online using the NHS website</span>
        </a>
      </div>
      <h2>Other ways to register</h2>
			<p>To find out more:</p>
			<ul class="nhsuk-list nhsuk-list--bullet">
				<li>check the <a href="#">GP surgery website</a></li>
				<li>phone the GP surgery reception on 020 8659 9343</li>
				<li>email <a href="mailto:info@surgery.co.uk">info@surgery.co.uk</a></li>
				<li>visit the GP surgery to collect a form – <a href="#">get directions (opens in Google Maps)</a></li>
			</ul>
			<h2>More information</h2>
      <p>Find out more about <a href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">how to register with a GP surgery</a>, including:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>if a surgery can refuse to register you</li>
        <li><a href="https://www.nhs.uk/nhs-services/gps/registering-with-a-gp-outside-your-area/">registering with a GP surgery outside the area you live</a></li>
      </ul>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
