
<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-app-header.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Confirm your contact details - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "../"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../profiles">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../../../manage-profile">
        Edit Cohens
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../../dashboard">
          Services
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../">
          Add details to your services
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="online">
          Can patients book their flu vaccine appointment online?
        </a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="online">
      Can patients book their flu vaccine appointment online?
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/profile-manager/pharmacies/editor/services/attributes/index"  method="post">
        <h1 id="con-title">
          Confirm flu vaccine booking options
        </h1>
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Can patients book online? 
            </dt>
            <dd class="nhsuk-summary-list__value">
              Yes 
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="online">
                Change<span class="nhsuk-u-visually-hidden"> can patients book online?</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Patient booking website address 
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{data["bookingWebsite"]}}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="website">
                Change<span class="nhsuk-u-visually-hidden"> Patient booking website address</span>
              </a>
            </dd>
          </div>
        </dl>
        {{ button({
          "text": "Save and confirm",
          "id": "btn_submit"
        }) }}
      </form>
      {{ backLink({
      "href": "contact-details-online-edit",
      "text": "Go back"
      }) }}
    </div>
  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

