<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager
{% endblock %}

{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Manage Weldricks Pharmacy
        {%else%}
        Manage {{data["displayname"]}}
        {%endif%}</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">
      {% set displayname = 'alias0' %}
      {% if data["displayname"] == alias0 %}
      Back to Manage Weldricks Pharmacy
      {%else%}
      Back to Manage {{data["displayname"]}}
      {%endif%}
    </a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 1 of 2</span>
      <h2>NHS commissioned services</h2>
      <p class="nhsuk-u-margin-bottom-6">Use the checkboxes below to choose which NHS commissioned services you would like to display on your public profile.</p>
    </div>
  </div>
  
  <form action="/nhs-services" method="post">

    <div class="nhsuk-grid-row">
      
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Minor ailments
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-1" name="nhscommissionedservices" type="checkbox" value="minorailmentservice" {{ checked("nhscommissionedservices", "minorailmentservice") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-1">
                  Minor ailment service
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Vaccinations
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-2" name="nhscommissionedservices" type="checkbox" value="flujabatrisk" {{ checked("nhscommissionedservices", "flujabatrisk") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-2">
                  Flu jab - at risk work groups
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Sexual Health
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-3" name="nhscommissionedservices" type="checkbox" value="emergencycontraception" {{ checked("nhscommissionedservices", "emergencycontraception") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-3">
                  Emergency contraception
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-4" name="nhscommissionedservices" type="checkbox" value="condomsupply" {{ checked("nhscommissionedservices", "condomsupply") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-4">
                  Condom supply
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-5" name="nhscommissionedservices" type="checkbox" value="chlamydiascreening" {{ checked("nhscommissionedservices", "chlamydiascreening") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-5">
                  Chlamydia screening
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-6" name="nhscommissionedservices" type="checkbox" value="pregnancytesting" {{ checked("nhscommissionedservices", "pregnancytesting") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-6">
                  Pregnancy testing
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Healthy living
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-7" name="nhscommissionedservices" type="checkbox" value="stopsmoking" {{ checked("nhscommissionedservices", "stopsmoking") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-7">
                  Stop smoking service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-8" name="nhscommissionedservices" type="checkbox" value="stopsmokingvoucher" {{ checked("nhscommissionedservices", "stopsmokingvoucher") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-8">
                  Stop smoking voucher service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-9" name="nhscommissionedservices" type="checkbox" value="weightmanagementservice" {{ checked("nhscommissionedservices", "weightmanagementservice") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-9">
                  Weight management service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-10" name="nhscommissionedservices" type="checkbox" value="alcoholservice" {{ checked("nhscommissionedservices", "alcoholservice") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-10">
                  Alcohol screening and intervention service
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Health checks and tests
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-11" name="nhscommissionedservices" type="checkbox" value="healthcheck" {{ checked("nhscommissionedservices", "healthcheck") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-11">
                  Health check
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Prescriptions & delivery
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-12" name="nhscommissionedservices" type="checkbox" value="appliancedispensing" {{ checked("nhscommissionedservices", "appliancedispensing") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-12">
                  Appliance dispensing
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-13" name="nhscommissionedservices" type="checkbox" value="stomacustomisation" {{ checked("nhscommissionedservices", "stomacustomisation") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-13">
                  Stoma customisation service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-14" name="nhscommissionedservices" type="checkbox" value="applianceusereviewservice" {{ checked("nhscommissionedservices", "applianceusereviewservice") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-14">
                  Appliance use review service
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Help with medicines
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-15" name="nhscommissionedservices" type="checkbox" value="medicineusereviewservice" {{ checked("nhscommissionedservices", "medicineusereviewservice") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-15">
                  Medicine use review service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhscommissionedservices-16" name="nhscommissionedservices" type="checkbox" value="newmedicineservice" {{ checked("nhscommissionedservices", "newmedicineservice") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhscommissionedservices-16">
                  New medicine service
                </label>
              </div>
            </div>
          </fieldset>
        
        </div>

      </div>

      <!--div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
        </div>
      </div-->

    </div>

    {{ button({
    "text": "Confirm and continue",
    "id": "btn_submit"
    }) }}

</form>

{{ backLink({
"href": "index",
"text": "Back"
}) }}
  

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
