<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Manage Profile - Services
{% endblock %}

{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Services",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">Manage Hyde Park Pharmacy</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">Back to Manage Hyde Park Pharmacy</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 1 of 2</span>
      <h3>NHS commissioned services</h3>
      <p class="nhsuk-u-margin-bottom-6">Use the checkboxes below to choose which NHS commissioned services you would like to display on your public profile.</p>
    </div>
  </div>
  
  <form action="/nhs-services" method="post">

    <div class="nhsuk-grid-row">
      
      <div class="nhsuk-grid-column-one-half">

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Minor ailments
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="minorailments" name="minorailments" type="checkbox" value="Yes" {{ checked("minorailments", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="minorailments">
                  Minor ailment service
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Vaccinations
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="flujabatrisk" name="flujabatrisk" type="checkbox" value="Yes" {{ checked("flujabatrisk", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="flujabatrisk">
                  Flu jab - at risk work groups
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Sexual Health
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="emergencycontraception" name="emergencycontraception" type="checkbox" value="Yes" {{ checked("emergencycontraception", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="emergencycontraception">
                  Emergency contraception
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="condomsupply" name="condomsupply" type="checkbox" value="Yes" {{ checked("condomsupply", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="condomsupply">
                  Condom supply
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="chlamydiascreening" name="chlamydiascreening" type="checkbox" value="Yes" {{ checked("chlamydiascreening", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="chlamydiascreening">
                  Chlamydia screening
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="pregnancytesting" name="pregnancytesting" type="checkbox" value="Yes" {{ checked("pregnancytesting", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="pregnancytesting">
                  Pregnancy testing
                </label>
              </div>
            </div>
          </fieldset>
        
        </div>

          
          {{ checkboxes({
            "idPrefix": "healthy-living",
            "name": "healthy-living",
            "fieldset": {
              "legend": {
                "html": "<h3 class='nhsuk-u-font-size-19 nhsuk-u-font-weight-regular'>Healthy living</h3>"
              }
            },
            "items": [
              {
                "value": "stopSmoking",
                "text": "Stop smoking service"
              },
              {
                "value": "stopSmokingVoucher",
                "text": "Stop smoking voucher service"
              },
              {
                "value": "weightManagementService",
                "text": "Weight management service"
              },
              {
                "value": "alcoholService",
                "text": "Alcohol screening and intervention service"
              }
            ]
          }) }}
          
          {{ checkboxes({
            "idPrefix": "health-checks",
            "name": "health-checks",
            "fieldset": {
              "legend": {
                "html": "<h3 class='nhsuk-u-font-size-19 nhsuk-u-font-weight-regular'>Health checks and tests</h3>"
              }
            },
            "items": [
              {
                "value": "healthCheck",
                "text": "Health check"
              }
            ]
          }) }}

      </div>

      <div class="nhsuk-grid-column-one-half">

        {{ checkboxes({
          "idPrefix": "prescriptions-delivery",
          "name": "prescriptions-delivery",
          "fieldset": {
            "legend": {
              "html": "<h3 class='nhsuk-u-font-size-19 nhsuk-u-font-weight-regular'>Prescriptions & delivery</h3>"
            }
          },
          "items": [
            {
              "value": "applianceDispensing",
              "text": "Appliance dispensing"
            },
            {
              "value": "stomaCustomisation",
              "text": "Stoma customisation service"
            },
            {
              "value": "applianceUseReviewService",
              "text": "Appliance use review service"
            }
          ]
        }) }}
        
        {{ checkboxes({
          "idPrefix": "help-with-medicine",
          "name": "help-with-medicine",
          "fieldset": {
            "legend": {
              "html": "<h3 class='nhsuk-u-font-size-19 nhsuk-u-font-weight-regular'>Help with medicines</h3>"
            }
          },
          "items": [
            {
              "value": "medicineUseReviewService",
              "text": "Medicine use review service"
            },
            {
              "value": "newMedicineService",
              "text": "New medicine service"
            }
          ]
        }) }}
      </div>

    </div>

    {{ button({
    "text": "Continue",
    "id": "btn_submit"
    }) }}

</form>

{{ backLink({
"href": "index",
"text": "Back"
}) }}
  

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
