<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager
{% endblock %}

{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Weldricks Pharmacy
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">
      {% set displayname = 'alias0' %}
      {% if data["displayname"] == alias0 %}
      Back to Edit Weldricks Pharmacy
      {%else%}
      Back to Edit {{data["displayname"]}}
      {%endif%}
    </a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 2 of 2</span>
      <h2>Private services</h2>
      <p class="nhsuk-u-margin-bottom-6">Tick the checkboxes to choose which private services you would like to display on your profile.</p class="nhsuk-caption-l nhsuk-u-margin-bottom-4">
    </div>
  </div>

  <form action="/private-services" method="post">

    <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Vaccinations
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-1" name="privateservices" type="checkbox" value="flujabatriskP" {{ checked("privateservices", "flujabatriskP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-1">
                  Flu vaccine - for not at risk groups
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-2" name="privateservices" type="checkbox" value="travelclinicP" {{ checked("privateservices", "travelclinicP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-2">
                  Travel clinic
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Sexual health
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-3" name="privateservices" type="checkbox" value="emergencycontraceptionP" {{ checked("privateservices", "emergencycontraceptionP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-3">
                  Emergency contraception
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices=4" name="privateservices" type="checkbox" value="chlamydiascreeningP" {{ checked("privateservices", "chlamydiascreeningP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-4">
                  Chlamydia screening
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-5" name="privateservices" type="checkbox" value="pregnancytestingP" {{ checked("privateservices", "pregnancytestingP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-5">
                  Pregnancy testing
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Healthy living
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-6" name="privateservices" type="checkbox" value="stopsmokingP" {{ checked("privateservices", "stopsmokingP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-6">
                  Stop smoking service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-7" name="privateservices" type="checkbox" value="weightmanagementserviceP" {{ checked("privateservices", "weightmanagementserviceP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-7">
                  Weight management service
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Health checks and tests
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-8" name="privateservices" type="checkbox" value="bloodpressureP" {{ checked("privateservices", "bloodpressureP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-8">
                  Blood pressure monitoring
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-9" name="privateservices" type="checkbox" value="diabeticscreeningP" {{ checked("privateservices", "diabeticscreeningP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-9">
                  Diabetes screening
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-10" name="privateservices" type="checkbox" value="healthcheckP" {{ checked("privateservices", "healthcheckP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-10">
                  Health check
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Prescriptions & delivery
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-11" name="privateservices" type="checkbox" value="prescriptiondeliveryP" {{ checked("privateservices", "prescriptiondeliveryP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-11">
                  Prescription delivery service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-12" name="privateservices" type="checkbox" value="smsremindersP" {{ checked("privateservices", "smsremindersP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservicesP-12">
                  SMS repeat prescription reminders
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-13" name="privateservices" type="checkbox" value="mobileappP" {{ checked("privateservices", "mobileappP") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-13">
                  Mobile app for repeat prescription
                </label>
              </div>
            </div>
          </fieldset>

        </div>

      </div>

      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-form-group">
        </div>
      </div>
    
    </div>

    <p>I confirm that the service information is correct.</p>

  <input type="submit" class="nhsuk-button" value="Save & confirm" />
  
</form>

{{ backLink({
"href": "nhs-services",
"text": "Back"
}) }}

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
