<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Manage Profile - Services
{% endblock %}

{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Services",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">Manage Hyde Park Pharmacy</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">Back to Manage Hyde Park Pharmacy</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 2 of 2</span>
      <h3>Private services</h3>
      <p class="nhsuk-u-margin-bottom-6">Use the checkboxes below to choose which private services you would like to display on your public profile.</p class="nhsuk-caption-l nhsuk-u-margin-bottom-4">
    </div>
  </div>

  <form action="/private-services" method="post">

    <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-one-half">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Vaccinations
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="flujabatriskP" name="flujabatriskP" type="checkbox" value="Yes" {{ checked("flujabatriskP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="flujabatriskP">
                  Flu jab - at risk work groups
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="travelClinicP" name="travelClinicP" type="checkbox" value="Yes" {{ checked("travelClinicP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="travelClinicP">
                  Travel clinic
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Sexual health
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="emergencyContraceptionP" name="emergencyContraceptionP" type="checkbox" value="Yes" {{ checked("emergencyContraceptionP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="emergencyContraceptionP">
                  Emergency contraception
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="chlamydiaScreeningP" name="chlamydiaScreeningP" type="checkbox" value="Yes" {{ checked("chlamydiaScreeningP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="chlamydiaScreeningP">
                  Chlamydia screening
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="pregnancyTestingP" name="pregnancyTestingP" type="checkbox" value="Yes" {{ checked("pregnancyTestingP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="pregnancyTestingP">
                  Pregnancy testing
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Healthy living
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="stopSmokingP" name="stopSmokingP" type="checkbox" value="Yes" {{ checked("stopSmokingP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="stopSmokingP">
                  Stop smoking service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="weightManagementServiceP" name="weightManagementServiceP" type="checkbox" value="Yes" {{ checked("weightManagementServiceP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="weightManagementServiceP">
                  Weight management service
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Health checks and tests
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="bloodPressureP" name="bloodPressureP" type="checkbox" value="Yes" {{ checked("bloodPressureP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="bloodPressureP">
                  Blood pressure monitoring
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="diabeticScreeningP" name="diabeticScreeningP" type="checkbox" value="Yes" {{ checked("diabeticScreeningP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="diabeticScreeningP">
                  Disabetic screening
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="healthCheckP" name="healthCheckP" type="checkbox" value="Yes" {{ checked("healthCheckP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="healthCheckP">
                  Health check
                </label>
              </div>
            </div>
          </fieldset>

        </div>

      </div>

      <div class="nhsuk-grid-column-one-half">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
              <h3 class="nhsuk-fieldset__heading">
                Prescriptions & delivery
              </h3>
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="prescriptionDeliveryP" name="prescriptionDeliveryP" type="checkbox" value="Yes" {{ checked("prescriptionDeliveryP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="prescriptionDeliveryP">
                  Prescription delivery service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="smsRemindersP" name="smsRemindersP" type="checkbox" value="Yes" {{ checked("smsRemindersP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="smsRemindersP">
                  SMS repeat prescription reminders
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="mobileAppP" name="mobileAppP" type="checkbox" value="Yes" {{ checked("mobileAppP", "Yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="mobileAppP">
                  Mobile app for repeat prescription
                </label>
              </div>
            </div>
          </fieldset>

        </div>

      </div>
    
    </div>

  <input type="submit" class="nhsuk-button" value="Save & return" />
  
</form>

{{ backLink({
"href": "nhs-services",
"text": "Back"
}) }}

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
