<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Ask a doctor a question
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Ask a doctor a question",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/gps/overview/",
    text: "Aylestone Hill Surgery"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 2 of 4</span>

      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-4">Your details</h1>

      <p>We only use your email address to communicate with you about your question.</p>

      <form action="/aaq3" method="post">

        <fieldset class="nhsuk-fieldset">

          <span id="error-message" class="nhsuk-error-message" style="display: none;">
            <span class="nhsuk-u-visually-hidden">Error:</span> 
            Please complete all fields below
          </span>  

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="name">
              Your full name
            </label>
            <input class="nhsuk-input nhsuk-input--width-full" id="name" name="name" type="text" value="{{data["name"]}}">
          </div>

          <label class="nhsuk-label">
            What is your date of birth?
          </label>
          <span class="nhsuk-hint" id="dob-hint">
            For example, 31 3 1980
          </span>
          <div class="nhsuk-date-input" id="dob">
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="day">
                  Day
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*" value="{{data["day"]}}">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="month">
                  Month
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*" value="{{data["month"]}}">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="year">
                  Year
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*" value="{{data["year"]}}">
              </div>
            </div>
          </div>
          
          <div class="nhsuk-form-group"> 
            <label class="nhsuk-label" for="phone">
              Your phone number
            </label>
            <input class="nhsuk-input nhsuk-input--width-full" id="phone" name="phone" type="text" value="{{data["phone"]}}">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="emailaddress">
              Your email address
            </label>
            <input class="nhsuk-input nhsuk-input--width-full" id="emailaddress" name="emailaddress" type="text" value="{{data["emailaddress"]}}">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="confirmemailaddress">
              Confirm email address
            </label>
            <input class="nhsuk-input nhsuk-input--width-full" id="confirmemailaddress" name="confirmemailaddress" type="text" value="{{data["confirmemailaddress"]}}">
          </div>

          {{ button({
            "text": "Continue",
            "id": "btn_submit"
          }) }}

        </fieldset>

      </form>

      {{ backLink({
      "href": "aaq1",
      "text": "Back"
      }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
