<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout-app-header-pharmacies.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Your profiles - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "../editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>
        Check your profiles
      </h1>
      <a class="nhsuk-skip-link" href="#profileslist">Skip filter</a>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <div class="search-sort">
            <form id="search" action="/profile-manager/hospitals/editor/profiles/search-hospital" method="POST" role="search">
              <label class="nhsuk-label" for="searchBar">Search by name, postcode or ODS Code</label>
              <div class="search-bar-buttons">
                <div class="search-bar">
                  <input class="nhsuk-input nhsuk-input--width-10 profile-search" id="searchBar" name="search" type="text">
                  <button class="nhsuk-profiles-search__submit" type="submit">
                    <svg class="nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                      <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                    </svg>
                    <span class="nhsuk-u-visually-hidden">Search</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="profileslist">
        <div class="profile-list-pagination-counter">
          {% if (searchTerm) %}
          <p>Showing <span class="nhsuk-u-font-weight-bold">1-{{ currentHospitals.length }} of {{hospitals.length}}</span> results for <span class="nhsuk-u-font-weight-bold">{{ searchTerm }}</span>.</p>
          {% else %}
          <p>Showing <span class="nhsuk-u-font-weight-bold">1-{{ currentHospitals.length }} results of {{hospitals.length}}</span>.</p>
          {% endif %}
          <p>Page <span class="nhsuk-u-font-weight-bold">1 of 2</span></p>
        </div>
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <table role="table" class="nhsuk-table-responsive">
              <caption class="nhsuk-table__caption">Your profiles</caption>
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" scope="col">Name</th>
                  <th role="columnheader" scope="col">Address</th>
                  <th role="columnheader" scope="col">Type</th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                {% for hospital in currentHospitals %}
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Name </span>
                    {% if hospital.Name == "Mile End Hospital" %}
                      <a href="..manage-profile-mileend">
                        {{hospital.Name}} <span class="nhsuk-u-visually-hidden"> located at {{hospital.Line1}}</span>
                      </a>
                    {% elseif hospital.Name == "The Royal London Hospital" %}
                      <a href="../manage-profile-royal">
                        {{hospital.Name}} <span class="nhsuk-u-visually-hidden"> located at {{hospital.Line1}}</span>
                      </a>
                    {% else %}
                      <a href="#">
                        {{hospital.Name}} <span class="nhsuk-u-visually-hidden"> located at {{hospital.Line1}}</span>
                      </a>
                    {% endif %}
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Address </span>
                    {{hospital.Line1}}, {{ hospital.City }}, {{ hospital.Postcode }}
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Type</span>{{ hospital.Type }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <span class="page-link active" aria-current="page">1 of 2</span>
          </li>
          <li class="page-item">
            <a class="page-link" href="./profiles-page2" aria-label="Go to next page">Next</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="./profiles-page2" aria-label="Go to last page">Last</a>
          </li>
        </ul>
      </nav>
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back
        </a>
      </div>
    </div>
  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
