<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout-app-header-pharmacies.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "/profile-manager/hospitals/editor/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>
        Edit profiles 
      </h1>
      <a class="nhsuk-skip-link" href="#profileslist">Skip filter</a>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <div class="search-sort">
            <form id="search" action="/profile-manager/hospitals/editor/profiles/search-dentist" method="POST" role="search">
              <label class="nhsuk-label" for="searchBar">Search by name, postcode or ODS Code</label>
              <div class="search-bar-buttons">
                <div class="search-bar">
                  <input class="nhsuk-input nhsuk-input--width-10 profile-search" id="searchBar" name="search" type="text">
                  <button class="nhsuk-profiles-search__submit" type="submit">
                    <svg class="nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                      <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                    </svg>
                    <span class="nhsuk-u-visually-hidden">Search</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="nhsuk-table__panel-with-heading-tab nhsuk-u-margin-top-0">
        <table role="table" class="nhsuk-table-responsive">
          <caption class="nhsuk-table__caption">Your profiles</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" scope="col">Name</th>
              <th role="columnheader" scope="col">Address</th>
              <th role="columnheader" scope="col">Type</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
                {% for hospital in currentHospitals %}
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Name </span>
                    {% if hospital.Name == "Mile End Hospital" %}
                      <a href="..manage-profile-mileend">
                        {{hospital.Name}} <span class="nhsuk-u-visually-hidden"> located at {{hospital.Line1}}</span>
                      </a>
                    {% elseif hospital.Name == "The Royal London Hospital" %}
                      <a href="../manage-profile-royal">
                        {{hospital.Name}} <span class="nhsuk-u-visually-hidden"> located at {{hospital.Line1}}</span>
                      </a>
                    {% else %}
                      <a href="#">
                        {{hospital.Name}} <span class="nhsuk-u-visually-hidden"> located at {{hospital.Line1}}</span>
                      </a>
                    {% endif %}
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Address </span>
                    {{hospital.Line1}}, {{ hospital.City }}, {{ hospital.Postcode }}
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Type</span>{{ hospital.Type }}
                  </td>
                </tr>
                {% endfor %}
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="./" aria-label="Go to first page">First</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="./" aria-label="Go to previous page">Previous</a>
          </li>
          <li class="page-item">
            <span class="page-link active" aria-current="page">2 of 2</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
