<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layouts/layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Prescription support
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">High street pharmacies</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Back to High street pharmacies</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Prescription support
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Hyde Park Pharmacy
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/highstreetpharmacies/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Prescription support</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/highstreetpharmacies/health-services/">Health services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/highstreetpharmacies/ratings-reviews/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/highstreetpharmacies/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

      <h2>Prescription queries</h2>
      <p>Pharmacists can answer your questions on prescription and over-the-counter medicines such as paracetamol.</p>
      <p>They can also help with the disposal of unwanted or out-of-date medicines.</p>
      <p>This pharmacy also provides:</p>

      <h3>NHS New medicine service</h3>
      <p>Advice and support service for patients who may find it difficult to understand how and when to take new medicines for:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Asthma</li>
        <li>Chronic obstructive pulmonary disease (COPD)</li>
        <li>Type 2 diabetes</li>
        <li>High blood pressure</li>
        <li>Conditions which need blood thinning medicines </li>
      </ul>

      <h3>NHS Medicine use review</h3>
      <p>A face-to-face medicine check-up consultation by a pharmacist for patients who are regularly taking several prescription medicines or have a long-term illness. The service focuses on:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Increasing your knowledge of the medicines you take</li>
        <li>Why you take them</li>
        <li>How you can take them more easily </li>
      </ul>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
