<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Enter an alternative organisation name - Profile Manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS profile manager",
        "href": "/profile-manager/pharmacies/editor/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="..">Home</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../profiles">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../manage-profile">
          Edit profile
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="name-start">
          Change profile name 
        </a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="name-start">
        Change profile name
      </a>
    </p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Enter new name</h1>
      <form action="/profile-manager/pharmacies/editor/change-name/name-edit" method="post">
        {% if data["newname"] %}
          <p>Current name: {{data["newname"]}}</p>
        {% else %}
          <p>Current name: Cohens</p>
        {% endif %}
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="newname">
            New profile name 
          </label>
          <input class="nhsuk-input" id="newname" name="newname" type="text">
        </div>
        {{ button({
        "text": "Continue",
        "id": "btn_submit"
        }) }}
      </form>
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go Back
        </a>
      </div>
    </div>
  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
