/* Alerts ======================================================================= */
.nhsuk-alert-black {
  border-left: solid 16px #000;
}

.nhsuk-alert-amber {
  border-left: solid 16px #ffb81c;
}

.nhsuk-alert-red {
  border-left: solid 16px #d5281b;
}

.nhsuk-alert-green {
  border-left: solid 16px #007f3b;
}

.nhsuk-confirmation-alert {
  background-color: #fff;
  border-left-color: #007f3b;
}