.cqc-rating {
  &--list-list-item {
    font-size: 18px;
    padding: 10px 0 8px 8px;
    
    &:first-child {
      margin-bottom: 0;
    }
  }
  
  &-active {
    box-shadow: inset 0px 0px 0px 3px #005eb8;
    font-weight: 600;
  }
  
  &--indicator {
    margin-bottom: 3px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 26px;
    vertical-align: middle;
    width: 26px;
    
    &-star {
      color: #6b8a3a;
      font-size: 28px;
      font-weight: 600;
      line-height: 28px;
    }
    
    &-green {
      background-color: #6b8a3a;
    }
    
    &-amber {
      background-color: #f2a94f;
    }
    
    &-red {
      background-color: #b83229;
    }
  }
}

@media (max-width: 768px) {
  .cqc-rating--list-list-item {
    font-size: 16px;
  }
}
