.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;

  .page-item {
    margin: 0 2px;

    .page-link {
      background-color: #fff;
      display: block;
      padding: 0.5em 0.75em;

      &:focus {
        background-color: #ffeb3b;
      }
    }
    .active {
      background-color: #005eb8;
      color: #fff;
    }
  }
}
