/* ==========================================================================
   #RICH TEXT EDITOR
   ========================================================================== */
	 .nhsuk-rich-text-editor__toolbar {
		// @include govuk-clearfix;
		margin-bottom: govuk-spacing(2);
	}
	
	.nhsuk-rich-text-editor__toolbar-button {
		background-color: white;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 40px 40px;
		border: 2px solid black;
		color: black;
		cursor: pointer;
		float: left;
		text-decoration: none;
		height: 40px;
		margin-left: -2px;
		outline: 0;
		vertical-align: top;
		width: 40px;
	
		&:first-child {
			margin-left: 0;
		}
	
		// Fix unwanted button padding in Firefox
		&::-moz-focus-inner {
			padding: 0;
			border: 0;
		}
	
		&:focus {
			background-color: $nhsuk-focus-color; 
			color: $nhsuk-focus-text-color; 
			box-shadow: 0 -2px $nhsuk-focus-text-color, 0 4px $nhsuk-focus-text-color; 
			outline: none;
			position: relative;
			z-index: 2;
		}
	
	}
	
	.nhsuk-rich-text-editor__toolbar-button--bold {
		background-image: url("/images/svg/icon-wysiwyg-bold.svg");
	}
	
	.nhsuk-rich-text-editor__toolbar-button--italic {
		background-image: url("/images/svg/icon-wysiwyg-italic.svg");
	}
	
	.nhsuk-rich-text-editor__toolbar-button--underline {
		background-image: url("/images/svg/icon-wysiwyg-underline.svg");
	}
	
	.nhsuk-rich-text-editor__toolbar-button--unordered-list {
		background-image: url("/images/svg/icon-wysiwyg-unordered-list.svg");
		margin-left: 10px;
	}
	
	.nhsuk-rich-text-editor__toolbar-button--ordered-list {
		background-image: url("/images/svg/icon-wysiwyg-ordered-list.svg");
	}
	
	.nhsuk-rich-text-editor__content {
		min-height: 130px;
		outline: none;
		overflow: auto;
		resize: vertical;
	}