$color_nhsuk-white: #fff;
$nhsuk-border-color: #d8dde0;
$color_nhsuk-grey-1: #4c6272;
$color_nhsuk-grey-2: #768692;
$color_nhsuk-grey-3: #aeb7bd;
$color_nhsuk-grey-4: #d8dde0;
$color_nhsuk-grey-5: #f0f4f5;

.search-sort {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media(max-width: 768px) {
    display: block; 
  }

  .search-bar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: end;

    @media(max-width: 768px) {
      display: block;
    }
  }

  .search-bar {
    display: flex;

    @media (max-width: 768px){
      margin-bottom: 1em; 
    }
  }

  .search-input {
    margin-right: 1em;
    width: 75%;
  }

  .search-button {
    margin: 0;
    padding: 4px 16px;
  }

  .sort {
    a {
      border-right: 1px solid $nhsuk-border-color;
      padding-right: .5em;

      &:last-child {
        border-right: 0;
      }
    }
  }
}

.filter-buttons {
  button:first-child {
    margin-right: .5em;
  }
  
  button:last-child {
    margin-right: 0;
  }

  @media (max-width:768px) {
    display: block;
    margin-bottom: .5em;
  }
}

.nhsuk-profiles-search__submit {
  background-color: green;
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  cursor: pointer;
  display: block;
  float: right;
  font-size: inherit;
  height: 40px;
  line-height: inherit;
  outline: 0;
  width: 44px;
}

.nhsuk-profiles-search__submit:hover {
  background-color: #00662f;
}

.nhsuk-profiles-search__submit:focus {
  background: #ffeb3b;
  box-shadow: 0 4px 0 #212b32;
  color: #212b32;
  outline: 4px solid transparent;

  .nhsuk-icon__search {
    fill: #000 !important;
  }
}

.nhsuk-icon__search {
  height: 39px;
  width: 36px;
  fill: #fff !important;
}

.nhsuk-button--small {
  padding: 6px 8px;
}

.filter-container {
  display: flex;
  border-bottom: 3px solid $nhsuk-border-color;
  margin-bottom: 1em;

  @media (max-width: 768px) {
    display: block;
    margin-bottom: 0;
  }

  .filter-block {
    border-right: 2px solid $nhsuk-border-color;
    display: inline-block;
    margin-right: 2em;
    padding: 1em 2em 0 0;

    @media (max-width: 768px) {
      display: block; 
      border: 0;
      margin: 0;

      &:last-child {
        padding-bottom: 1em;
      }
    }
  }
}