$color_nhsuk-white: #fff;
$nhsuk-border-color: #d8dde0;

.search-sort {
  margin-bottom: 40px;
  // align-items: center;
  background-color: $color_nhsuk-white;
  // display: flex;
  // justify-content: space-between;
  padding: 1em 2em;
  border-bottom: 4px solid #d8dde0;

  .search-bar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .search-bar {
    align-items: center;
    display: flex;
    height: 60px;
  }

  .search-input {
    margin-right: 1em;
    width: 75%;
  }

  .search-button {
    margin: 0;
    padding: 4px 16px;
  }

  .sort {
    a {
      border-right: 1px solid $nhsuk-border-color;
      padding-right: .5em;

      &:last-child {
        border-right: 0;
      }
    }
  }
}

.nhsuk-profiles-search__submit {
  background-color: green;
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  cursor: pointer;
  display: block;
  float: right;
  font-size: inherit;
  height: 40px;
  line-height: inherit;
  outline: 0;
  width: 44px;
}

.nhsuk-profiles-search__submit:hover {
  background-color: #00662f;
}

.nhsuk-profiles-search__submit:focus {
  background: #ffeb3b;
  box-shadow: 0 4px 0 #212b32;
  color: #212b32;
  outline: 4px solid transparent;

  .nhsuk-icon__search {
    fill: #000 !important;
  }
}

.nhsuk-icon__search {
  height: 39px;
  width: 36px;
  fill: #fff !important;
}

