
.table-one-row {
  display: grid;
  grid-template-columns: 30% auto auto;
}

.table-one-row__header {
  border-bottom: 2px solid #d8dde0;
  font-size: 19px;
  font-weight: 600;
  padding: 16px 24px 16px 0;
}

.table-one-row__data {
  border-bottom: 1px solid #d8dde0;
  font-size: 19px;
  padding: 16px 24px 16px 0;
}