<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
{{ header({
"showNav": "true",
"showSearch": "false",
"primaryLinks": [
{
"url"  : "/editor/index",
"label" : "Home"
},
{
'url' : '#',
'label' : 'Add profile'
},
{
'url'  : '#',
'label' : 'Manage users'
},
{
'url'  : '#',
'label' : 'Manage reviews'
},
{
'url' : '#',
'label' : 'Services near you'
}
]
})
}}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">My profiles</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Dentists</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Back to Dentists</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    <p>Step 1 of 3</p>
    <h1>
      Search profiles
    </h1>
    <p>Search below to find the profiles that you maintain.</p>
    <form action="/search-profiles" method="post">
      <label class="nhsuk-label" for="search-profile">Search by city, name, postcode, ODS or Trust code</label>
      <input id="search-profile" class="nhsuk-input" type="text" name="searchQuery"/>
      <button class="nhsuk-button" type="submit">Continue</button>
    </form>
  </div>

</div>

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">


    <p><a href="">Report an issue with the information on this page</a></p>

  </div>

</div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
{{ footer({
"links": [
{
"URL": "#",
"label": "NHS sites"
},
{
"URL": "#",
"label": "About us"
},
{
"URL": "#",
"label": "Contact us"
},
{
"URL": "#",
"label": "Sitemap"
},
{
"URL": "#",
"label": "Our policies"
}
]
})}}
{% endblock %}
