<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Ratings and reviews
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Sevenoaks Hospital
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-8" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/appointments/">Appointments</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/patients-visitors/">Patients and visitors</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/departments/">A-Z of departments and services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/facilities/">Facilities</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Ratings, reviews and complaints</span>

            <ol class="nhsuk-contents-list__list nhsuk-u-margin-top-2">
              <li class="nhsuk-contents-list__item">
                <a class="nhsuk-contents-list__link" href="/hospitals/ratings-reviews/">Performance ratings</a>
              </li>
              <li class="nhsuk-contents-list__item">
                <a class="nhsuk-contents-list__link" href="/hospitals/ratings-reviews/">Patient ratings and reviews</a>
              </li>
              <li class="nhsuk-contents-list__item">
                <a class="nhsuk-contents-list__link" href="/hospitals/ratings-reviews/">Leave a review</a>
              </li>
              <li class="nhsuk-contents-list__item">
                <a class="nhsuk-contents-list__link" href="/hospitals/ratings-reviews/complaint/">Making a complaint</a>
              </li>
            </ol>

          </li>
        </ol>
      </nav>

    </div>

  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2>Feedback for Sevenoaks hospital</h2>

      <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-bottom-8">
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          
          <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/hospitals/ratings-reviews/">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Performance ratings</h3>
              <p class="nhsuk-promo__description">Official ratings for this hospital's performance</p>
            </div>
          </a>
          </div>

        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          
          <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/hospitals/ratings-reviews/">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Patient ratings and reviews</h3>
              <p class="nhsuk-promo__description">Patient feedback for this hospital</p>
            </div>
          </a>
          </div>

        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          
          <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/hospitals/ratings-reviews/complaint/">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Complaints</h3>
              <p class="nhsuk-promo__description">How to make a complaint</p>
            </div>
          </a>
          </div>

        </div>
      </div>


      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/dentists/leave-review">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Review this hospital</span>
        </a>
      </div>

    </div>
  </div>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <hr>
      <p><a href="">Report an issue with the information on this page</a></p>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
