<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends 'layout-header-no-permissions.html' %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/editor-login/no-profiles-request-pending"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
			<h1>Request submitted</h1>
      <p>It may take up to 7 days for the NHS service desk to process your request.</p>
      <p>You'll get an email to confirm when your profiles have been added to your account.</p>
      <p>If you've not heard within 7 days, contact the NHS service desk.</p>
    </div>
  </div>
{% endblock %}
