{% from 'input/macro.njk' import input %}

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends 'layout-header-no-permissions.html' %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Enter profile details - Profile Manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
			<h1>Enter profile details</h1>
      <form action="/editor-login/add-profiles/add-profile" method="POST">
        <div class="org-form-list">
          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                Do you know your profile's ODS Code? 
              </legend>
              <div class="nhsuk-hint" id="contact-hint">
                <!-- <p>The NHS service desk will process your request quicker if you submit an ODS code for this profile.</p> -->
                <p>You can <a href="#" target="_blank">find an ODS code by using the ODS portal (opens in a new window or tab)</a>.</p>
              </div>
              <div class="nhsuk-radios nhsuk-radios--conditional">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="ods-yes" name="odsCode" type="radio" value="odsCodeYes" aria-controls="conditional-ods-code-yes" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="ods-yes">
                    Yes 
                  </label>
                </div>
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-ods-code-yes">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="ods-code">
                      ODS Code 
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="ods-code" name="odsCodeValue" type="text">
                  </div>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="ods-no" name="odsCode" type="radio" value="odsCodeNo" aria-controls="conditional-ods-code-no" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="ods-no">
                    No 
                  </label>
                </div>
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-ods-code-no">
                  {{ input({
                    "label": {
                      "text": "Profile name"
                    },
                    "hint": {
                      "text": "For example, your pharmacy, dental practice, or hospital name"
                    },
                    "id": "org1-name",
                    "name": "org1-name",
                    "classes": "nhsuk-input--width-20"
                  }) }}
                  {{ input({
                    "label": {
                      "text": "Town or city"
                    },
                    "id": "org1-town-city",
                    "name": "org1-town-city",
                    "classes": "nhsuk-input--width-20"
                  }) }}
                  {{ input({
                    "label": {
                      "text": "Postcode"
                    },
                    "id": "org1-postcode",
                    "name": "org1-postcode",
                    "classes": "nhsuk-input--width-10",
                    "autocomplete": "postal-code"
                  }) }}
                </div>
              </div>
            </fieldset>
          
          </div>
        </div>
        <button type="submit" class="nhsuk-button">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}

