{% from 'input/macro.njk' import input %}

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends 'layout-header-no-permissions.html' %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Comment response tool - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Organsation Profiles and Profile Editor",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
			<h1>Add a profile</h1>
      <p>Send a request to the NHS service desk to add profiles to your account.</p>
      <form action="/editor-login/add-profiles/add-profile" method="POST">
        <p>If you have a large number of profiles to manage, you may find it easier to <a href="#">contact the NHS service desk</a>.</p>
        <div class="org-form-list">
          {{ input({
            "label": {
              "text": "Profile name"
            },
						"hint": {
							"text": "For example, your pharmacy, dental practice, or hospital name"
						},
            "id": "org1-name",
            "name": "org1-name",
            "classes": "nhsuk-input--width-20"
          }) }}
          {{ input({
            "label": {
              "text": "Town or city"
            },
            "id": "org1-town-city",
            "name": "org1-town-city",
            "classes": "nhsuk-input--width-20"
          }) }}
          {{ input({
            "label": {
              "text": "Postcode"
            },
            "id": "org1-postcode",
            "name": "org1-postcode",
            "classes": "nhsuk-input--width-10"
          }) }}
          <!-- <p>The NHS service desk will process your request more quickly if you submit an ODS code for this profile.</p>
          {{ input({
            "label": {
              "text": "ODS Code (optional)"
            },
            "id": "org1-ods-code",
            "name": "org1-ods-code",
            "classes": "nhsuk-input--width-10"
          }) }}
          <p>You can <a href="#" target="_blank">find an ODS code by using the ODS portal (opens in a new window or tab)</a>.</p> -->
        </div>
        <button type="submit" class="nhsuk-button">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}
