<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-app-header.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Check your answers before confirming - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href=".//">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../profiles">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Cohens 
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="services-edit">
          Services 
        </a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="services-edit">
      Services
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 2 of 2</span>
      <h1>Check your answers before confirming</h1>
      <form action="/profile-manager/pharmacies/editor/services/services-check" method="post">
          <h2>NHS services</h2>
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Provided 
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list">
                  <li>Chlamydia screening</li>
                  <li>Condom supply</li>
                  <li>Emergency contraception</li>
                  <li>Stop smoking service</li>
                  <li>Stop smoking voucher service</li>
                </ul>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="services-edit">
                  Change<span class="nhsuk-u-visually-hidden"> NHS services that your practice provides</span>
                </a>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Not provided 
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list">
                  <li>Alcohol screening and intervention service</li>
                  <li>Medicine use review service</li>
                  <li>Minor ailment service</li>
                  <li>Needle and syringe exchange</li>
                  <li>NHS Health check</li>
                  <li>Pregnancy testing</li>
                  <li>Weight management service</li>
                </ul>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="services-edit">
                  Change<span class="nhsuk-u-visually-hidden"> NHS services that your practice does not provide</span>
                </a>
              </dd>
            </div>
          </dl>

          <h2>Non-NHS services</h2>
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Provided 
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list">
                  <li>Diabetes screening</li>
                  <li>Flu vaccine - for not at risk groups</li>
                  <li>Health check</li>
                  <li>Travel clinic</li>
                </ul>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="services-edit">
                  Change<span class="nhsuk-u-visually-hidden"> non-NHS that your practice does not provide</span>
                </a>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Not provided 
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list">
                  <li>Blood pressure monitoring </li>
                  <li>Emergency contraception</li>
                  <li>Pregnancy testing </li>
                  <li>Stop smoking service</li>
                </ul>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="services-edit">
                  Change<span class="nhsuk-u-visually-hidden"> non-NHS services that your practice does not provide</span>
                </a>
              </dd>
            </div>
          </dl>
          
          <h2>General pharmacy services</h2>
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Provided 
              </dt>
              <dd class="nhsuk-summary-list__value">
                <p>No general pharmacy services selected</p>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="services-edit">
                  Change<span class="nhsuk-u-visually-hidden"> general pharmacy services that your practice provides</span>
                </a>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Not provided 
              </dt>
              <dd class="nhsuk-summary-list__value">
                <ul class="nhsuk-list">
                  <li>Appliance dispensing</li>
                  <li>Appliance use review service</li>
                  <li>Appointment booking available</li>
                  <li>Inhaler recycling</li>
                  <li>Multi-lingual staff</li>
                </ul>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="services-edit#generalPharmacyServices">
                  Change<span class="nhsuk-u-visually-hidden"> general pharmacy services that your practice does not provide</span>
                </a>
              </dd>
            </div>
          </dl>

        {{ button({
          "text": "Save and confirm",
          "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "services-edit",
      "text": "Go back"
      }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
