<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-app-header-pharmacies.html" %}

<!-- Adds a custom class to the <main> wrapper -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Services - Profile manager - NHS
{% endblock %}

{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "/profile-manager/pharmacies/editor/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href=".//">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../profiles">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../manage-profile">
        Manage your profile
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="dashboard">
          Services 
        </a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="dashboard">
      Back to services 
    </a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 1 of 2</span>
      <h1>NHS website services</h1>
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            New services available to select
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <ul>
            <li>NHS blood pressure check service</li>
            <li>NHS pharmacy contraception service</li>
          </ul>
        </div>
      </details>
      <p>Select the services to display on your profile.</p>
      <form action="/profile-manager/pharmacies/editor/services/services-edit" method="post">
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="general-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h2 class="nhsuk-fieldset__heading">General pharmacy services</h2>
            </legend>
            <div class="nhsuk-hint" id="general-hint">
              Select all options that are relevant to you.
            </div>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-1" name="services" type="checkbox" value="Appliance dispensing">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-1">
                  Appliance dispensing
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-2" name="services" type="checkbox" value="Appliance use review service">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-2">
                  Appliance use review service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-3" name="services" type="checkbox" value="Appointment booking available for consultations" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-3">
                  Appointment booking available for consultations
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-4" name="services" type="checkbox" value="Appointment booking for consultations not required" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-4">
                  Appointment booking for consultations not required
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-5" name="services" type="checkbox" value="Inhaler recycling">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-5">
                  Inhaler recycling
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-6" name="services" type="checkbox" value="Multi-lingual staff">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-6">
                  Multi-lingual staff
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-7" name="services" type="checkbox" value="New medicine service" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-7">
                  New medicine service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-8" name="services" type="checkbox" value="Other health professionals onsite">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-8">
                  Other health professionals onsite
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-9" name="services" type="checkbox" value="Prescription collection from local General Practices" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-9">
                  Prescription collection from local General Practices
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-10" name="services" type="checkbox" value="Prescription delivery service" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-10">
                  Prescription delivery service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-11" name="services" type="checkbox" value="Private consultation room" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-11">
                  Private consultation room
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-12" name="services" type="checkbox" value="Seasonal flu vaccination service (at risk groups)" {{ checked("services", "Seasonal flu vaccination service (at risk groups)") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-12">
                  Seasonal flu vaccination service (at risk groups)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-13" name="services" type="checkbox" value="Stoma appliance customisation service">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-13">
                  Stoma appliance customisation service
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="nhs-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h2 class="nhsuk-fieldset__heading">NHS pharmacy services</h2>
            </legend>
            <div class="nhsuk-hint" id="nhs-hint">
              Select all options that are relevant to you.
            </div>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-1" name="nhsservices" type="checkbox" value="Alcohol screening and intervention service">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-1">
                  Alcohol screening and intervention service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-2" name="nhsservices" type="checkbox" value="Anticoagulant monitoring service">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-2">
                  Anticoagulant monitoring service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-3" name="nhsservices" type="checkbox" value="Blood-borne virus testing">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-3">
                  Blood-borne virus testing
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-4" name="nhsservices" type="checkbox" value="yes">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-4">
                  Chlamydia screening and treatment (NHS)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-5" name="nhsservices" type="checkbox" value="yes">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-5">
                  Condom supply
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-5" name="nhsservices" type="checkbox" value="Domiciliary support service">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-5">
                  Domiciliary support service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-7" name="nhsservices" type="checkbox" value="Emergency contraception (NHS)" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-7">
                  Emergency contraception (NHS)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-8" name="nhsservices" type="checkbox" value="Gluten-free food service" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-8">
                  Gluten-free food service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-9" name="nhsservices" type="checkbox" value="H.pylori detection test">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-9">
                  H.pylori detection test
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-10" name="nhsservices" type="checkbox" value="Head lice management" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-10">
                  Head lice management
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-11" name="nhsservices" type="checkbox" value="Healthy start vitamins">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-11">
                  Healthy start vitamins
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-12" name="nhsservices" type="checkbox" value="Inhaler technique service (NHS)" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-12">
                  Inhaler technique service (NHS)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-13" name="nhsservices" type="checkbox" value="Medication review service" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-13">
                  Medication review service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-14" name="nhsservices" type="checkbox" value="Minor ailment service" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-14">
                  Minor ailment service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-15" name="nhsservices" type="checkbox" value="Needle and syringe exchange">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-15">
                  Needle and syringe exchange
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-16" name="nhsservices" type="checkbox" value="NHS blood pressure check service">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-16">
                  NHS blood pressure check service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-17" name="nhsservices" type="checkbox" value="NHS Health Check" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-17">
                  NHS Health Check
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-18" name="nhsservices" type="checkbox" value="NHS Health Check" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-18">
                  NHS pharmacy contraception service 
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-19" name="nhsservices" type="checkbox" value="Post-discharge support" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-19">
                  Post-discharge support
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-20" name="nhsservices" type="checkbox" value="Pregnancy testing (NHS)">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-20">
                  Pregnancy testing (NHS)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-21" name="nhsservices" type="checkbox" value="Gluten-free food service" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-21">
                  Stop smoking service (NHS)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-22" name="nhsservices" type="checkbox" value="Gluten-free food service">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-22">
                  Stop smoking voucher service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-23" name="nhsservices" type="checkbox" value="Gluten-free food service">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-23">
                  Supervised consumption of medicines
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-24" name="nhsservices" type="checkbox" value="Gluten-free food service" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-24">
                  Vaccination service (NHS)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-25" name="nhsservices" type="checkbox" value="Gluten-free food service">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-25">
                  Weight management (NHS)
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6" aria-describedby="nonnhs-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h2 class="nhsuk-fieldset__heading">Non-NHS pharmacy services</h2>
            </legend>
            <div class="nhsuk-hint" id="nonnhs-hint">
              Select all options that are relevant to you.
            </div>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="non-nhs-services-1" name="non-nhs-services" type="checkbox" value="Chlamydia screening and treatment (Non-NHS)">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="non-nhs-services-1">
                  Chlamydia screening and treatment (Non-NHS)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="non-nhs-services-2" name="non-nhs-services" type="checkbox" value="Emergency contraception (Non-NHS)" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="non-nhs-services-2">
                  Emergency contraception (Non-NHS)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="non-nhs-services-3" name="non-nhs-services" type="checkbox" value="Healthcheck" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="non-nhs-services-3">
                  Healthcheck
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="non-nhs-services-4" name="non-nhs-services" type="checkbox" value="Inhaler technique service (Non-NHS)" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="non-nhs-services-4">
                  Inhaler technique service (Non-NHS)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="non-nhs-services-5" name="non-nhs-services" type="checkbox" value="Pregnancy testing (Non-NHS)">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="non-nhs-services-5">
                  Pregnancy testing (Non-NHS)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="non-nhs-services-6" name="non-nhs-services" type="checkbox" value="Seasonal flu vaccination service (not at risk groups)" {{ checked("services", "Seasonal flu vaccination service (not at risk groups)") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="non-nhs-services-6">
                  Seasonal flu vaccination service (not at risk groups)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="non-nhs-services-7" name="non-nhs-services" type="checkbox" value="Stop smoking service (Non-NHS)" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="non-nhs-services-7">
                  Stop smoking service (Non-NHS)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="non-nhs-services-8" name="non-nhs-services" type="checkbox" value="Travel clinic" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="non-nhs-services-8">
                  Travel clinic
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="non-nhs-services-9" name="non-nhs-services" type="checkbox" value="Type 2 diabetes screening" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="non-nhs-services-9">
                  Type 2 diabetes screening
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="non-nhs-services-10" name="non-nhs-services" type="checkbox" value="Vaccination service (Non-NHS)" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="non-nhs-services-10">
                  Vaccination service (Non-NHS)
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="non-nhs-services-11" name="non-nhs-services" type="checkbox" value="Weight management (Non-NHS)">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="non-nhs-services-11">
                  Weight management (Non-NHS)
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {{ button({
        "text": "Continue",
        "id": "btn_submit"
        }) }}
      </form>
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back
        </a>
      </div>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
