<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-app-header.html" %}

<!-- Adds a custom class to the <main> wrapper -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Edit services - Profile Manager - NHS
{% endblock %}

{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS profile manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/profiles">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Cohens 
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">
      {% set displayname = 'alias0' %}
      {% if data["displayname"] == alias0 %}
      Back to Edit Cohens 
      {%else%}
      Back to Edit {{data["displayname"]}}
      {%endif%}
    </a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 1 of 2</span>
      <h1>Edit services</h1>
      <p class="nhsuk-u-margin-bottom-6">Use the boxes to choose which services you would like to display on your profile.</p>
    </div>
  </div>
  <form action="/profile-manager/pharmacies/editor/services/services-edit" method="post">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
            <h2>
              NHS Services
            </h2>
            <legend class="nhsuk-u-visually-hidden">
              NHS Services
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-1" name="alcoholservice" type="checkbox" value="yes" {{ checked("alcoholservice", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-1">
                  Alcohol screening and intervention service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-2" name="chlamydiascreening" type="checkbox" value="yes" {{ checked("chlamydiascreening", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-2">
                  Chlamydia screening
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-3" name="condomsupply" type="checkbox" value="yes" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-3">
                  Condom supply
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-4" name="emergencycontraception" type="checkbox" value="yes" {{ checked("emergencycontraception", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-4">
                  Emergency contraception
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-5" name="medicineusereviewservice" type="checkbox" value="yes" {{ checked("medicineusereviewservice", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-5">
                  Medicine use review service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-6" name="minorailmentservice" type="checkbox" value="yes" {{ checked("minorailmentservice", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-6">
                  Minor ailment service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-7" name="needleandsyringeexchange" type="checkbox" value="yes" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-7">
                  Needle and syringe exchange 
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-8" name="healthcheck" type="checkbox" value="yes" {{ checked("healthcheck", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-8">
                  NHS Health check
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-9" name="pregnancytesting" type="checkbox" value="yes" {{ checked("pregnancytesting", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-9">
                  Pregnancy testing
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-10" name="stopsmoking" type="checkbox" value="yes" {{ checked("stopsmoking", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-10">
                  Stop smoking service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-11" name="stopsmokingvoucher" type="checkbox" value="yes" {{ checked("stopsmokingvoucher", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-11">
                  Stop smoking voucher service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nhsservices-12" name="weightmanagementservice" type="checkbox" value="yes" {{ checked("weightmanagementservice", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsservices-12">
                  Weight management service
                </label>
              </div>
            </div>
          </fieldset>
          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
            <h2>Non-NHS Services</h2>
            <legend class="nhsuk-u-visually-hidden">
              Non-NHS Services
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-1" name="bloodpressureP" type="checkbox" value="yes" {{ checked("bloodpressureP", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-1">
                  Blood pressure monitoring
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-2" name="chlamydiascreeningP" type="checkbox" value="yes" {{ checked("chlamydiascreeningP", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-2">
                  Chlamydia screening
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-3" name="emergencycontraceptionP" type="checkbox" value="yes" {{ checked("emergencycontraceptionP", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-3">
                  Emergency contraception
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-4" name="healthcheckP" type="checkbox" value="yes" {{ checked("healthcheckP", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-4">
                  Health check
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-5" name="pregnancytestingP" type="checkbox" value="yes" {{ checked("pregnancytestingP", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-5">
                  Pregnancy testing
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-6" name="flujabatriskP" type="checkbox" value="yes" {{ checked("flujabatriskP", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-6">
                  Flu vaccine - for not at risk groups
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-7" name="stopsmokingP" type="checkbox" value="yes" {{ checked("stopsmokingP", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-7">
                  Stop smoking service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-8" name="travelclinicP" type="checkbox" value="yes" {{ checked("travelclinicP", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-8">
                  Travel clinic
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-9" name="diabeticscreeningP" type="checkbox" value="yes" {{ checked("diabeticscreeningP", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-9">
                  Diabetes screening
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="privateservices-10" name="weightmanagementserviceP" type="checkbox" value="yes" {{ checked("weightmanagementserviceP", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="privateservices-10">
                  Weight management service
                </label>
              </div>
            </div>
          </fieldset>
          <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-6">
            <h2>
              General pharmacy services
            </h2>
            <legend class="nhsuk-u-visually-hidden">
              General pharmacy services
            </legend>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-1" name="appliancedispensing" type="checkbox" value="yes" {{ checked("appliancedispensing", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-1">
                  Appliance dispensing
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-2" name="applianceusereviewservice" type="checkbox" value="yes" checked>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-2">
                  Appliance use review service
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-3" name="appointmentbookingavailable" type="checkbox" value="yes" {{ checked("appointmentbookingavailable", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-3">
                  Appointment booking available
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-4" name="inhalerrecycling" type="checkbox" value="yes" {{ checked("inhalerrecycling", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-4">
                  Inhaler recycling
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="generalservices-5" name="multilingualstaff" type="checkbox" value="yes" {{ checked("multilingualstaff", "yes") }}>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="generalservices-5">
                  Multi-lingual staff
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    {{ button({
    "text": "Continue",
    "id": "btn_submit"
    }) }}
</form>

{{ backLink({
"href": "/editor/manage-profile",
"text": "Go back"
}) }}
  

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
