<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layouts/layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Services
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Opticians</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Back to Opticians</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Services
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Appleson Optometrists
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/opticians/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Services</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/opticians/ratings-reviews/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/opticians/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

      <h2>NHS eye tests</h2>
      <p>This optician provides NHS eye tests performed by an Optometrist who is trained to recognise eye abnormalities.</p>
      <p>Your eye test will include:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Tests to focus and coordinate the eyes</li>
        <li>Examinations and tests to detect conditions such as <a href="https://www.nhs.uk/conditions/glaucoma/">glaucoma</a>, <a href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/">macular degeneration</a> and <a href="https://www.nhs.uk/conditions/cataracts/">cataracts</a></li>
      </ul>
      <p><a href="https://www.nhs.uk/using-the-nhs/nhs-services/opticians/visiting-an-optician/">Find out more about NHS eye tests</a></p>

      <h2>Specialist eye care</h2>
      <p>The following specialist treatments are also provided that may be available on the NHS:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Diabetic eye screening to check for eye problems caused by diabetes</li>
        <li>Screening for minor eye conditions including red eye, floaters & flashing lights, in growing lashes, watery eyes and superficial foreign bodies</li>
        <li>Glaucoma eye tests including an eye pressure test, an examination of the front part of your eye and a visual field test</li>
        <li>Domiciliary services for patients that cannot reach an optician</li>
      </ul>

      <h2>Free NHS eye tests and help with the cost of replacement glasses or contact lenses</h2>
      <p>Some people are entitled to a <a href="https://www.nhs.uk/using-the-nhs/help-with-health-costs/free-nhs-eye-tests-and-optical-vouchers/">free NHS eye test or an optical voucher</a> to help reduce the cost of glasses or contact lenses</p>
      <p>You should <a href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">check if you’re eligible for help to pay your eye care costs</a>. This is because you may be fined up to £100 plus the cost of your treatment if you claim for free treatment you’re not entitled to.</p>

      <h2>Hearing services</h2>
      <p>This optician also provides NHS hearing services including:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="https://www.nhs.uk/conditions/hearing-tests/">NHS hearing tests</a></li>
        <li>NHS hearing aids and fitting</li>
      </ul>
      <p>Your GP can refer you to this service.</p>
    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
