.button-link {
	background: none;
  border: none;
  color: #005eb8;
  cursor: pointer;
	text-decoration: underline;
	font-size: 19px;

	&:hover {
		color: #7C2855;
		text-decoration: none;
	}

	&:focus {
		background-color: #ffeb3b;
		box-shadow: 0 -2px #ffeb3b,0 4px #212b32;
		color: #212b32;
		outline: 4px solid transparent;
		text-decoration: none;
	}

	&:visited {
		color: #330072;
	}
}