<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layouts/layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Prescription support
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/Service-Search/pharmacies/internetpharmacies">Search for an online pharmacy</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/Service-Search/pharmacies/internetpharmacies">Search for an online pharmacy</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Prescription support
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Pharmacy2u Ltd
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/distancesellingpharmacies/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Prescription support</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/distancesellingpharmacies/ratings-reviews/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/distancesellingpharmacies/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

      <h2>Medicine queries</h2>
      <p>Pharmacists can answer your questions on prescription-only medicines plus medicines that you can buy without a prescription such as paracetamol.</p>
      <p>They can also help with the disposal of unwanted or out of date medicines.</p>
      <p>Find out more about your medicine in <a href="https://www.nhs.uk/medicines/">our medicines A-Z</a></p>

      <h3>NHS New medicine service</h3>
      <p>Advice and support if you find it difficult to understand how to take a medicine you’ve just begun for:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>asthma</li>
        <li>chronic obstructive pulmonary disease (COPD)</li>
        <li>type 2 diabetes</li>
        <li>high blood pressure</li>
        <li>conditions which need blood thinning medicines </li>
      </ul>

      <h3>NHS Medicine use review</h3>
      <p>A face-to-face medicine check-up consultation by a pharmacist if you regularly take several prescription medicines or have a long-term illness. The service focuses on:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>increasing your knowledge of the medicines you take</li>
        <li>why you take them</li>
        <li>how you can take them more easily</li>
      </ul>

      <h2>Get help with NHS prescription costs</h2>
      <p>There is usually a charge for NHS prescriptions.</p>
      <p>You can sometimes get free NHS prescriptions, for example if you’re over 60, or if you’re pregnant.</p>
      <p>Prescriptions are also free for children and for people on some benefits.</p>
      <p><a href="https://www.nhs.uk/using-the-nhs/help-with-health-costs/get-help-with-prescription-costs/">Am I entitled to free prescriptions?</a></p>
      <p>You should <a href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">check what help you could get to pay for NHS prescriptions</a>. This is because you may be fined up to £100 plus the cost of your treatment if you claim for free treatment you’re not entitled to.</p>
      
    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
