<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/Opticians/LocationSearch/9">Search for an opticians</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/Opticians/LocationSearch/9">Search for an opticians</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Overview
          <span class="nhsuk-caption-xl">
            <span class="visually-hidden"> -</span> 
            Appleson Optometrists
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this profile">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Overview</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/opticians/services/">Treatments and services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/opticians/ratings-reviews/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/opticians/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>

  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
    <h2>Contact us</h2>
    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <h3>Address</h3>
            <p>43 Market Place<br>
            Wetherby<br>
            Leeds<br>
            LS22 6LN</p>
            <p><a href="https://www.google.com/maps/place/Appleson+Optometrists/@53.928687,-1.3891424,17z/data=!3m1!4b1!4m5!3m4!1s0x48794f121493d169:0xdd4048d17311c9e3!8m2!3d53.928687!4d-1.3869537">Get directions</a></p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <h3>Phone</h3>
            <p><a href="">01937 583278</a></p>
            <h3>Online</h3>
            <p class="nhsuk-u-margin-bottom-2"><a href="http://www.applesonoptometrists.co.uk">Visit opticians website</a></p>
            <p><a href="mailto:info@applesonoptometrists.co.uk">Send email to opticians</a></p>
          </div>
        </div>
      </li>
    </ul>
    <div class="nhsuk-action-link nhsuk-u-margin-bottom-8">
      <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/Opticians/LocationSearch/9">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Find another opticians</span>
      </a>
    </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2>Opening times</h2>
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">Opening times</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Day</th>
            <th class="nhsuk-table__header" scope="col">Opening hours</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Monday</td>
            <td class="nhsuk-table__cell ">Closed</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Tuesday</td>
            <td class="nhsuk-table__cell ">9am to 5.15pm</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Wednesday</td>
            <td class="nhsuk-table__cell ">9am to 5.15pm</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Thursday</td>
            <td class="nhsuk-table__cell ">9am to 5.15pm</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Friday</td>
            <td class="nhsuk-table__cell ">9am to 5.15pm</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Saturday</td>
            <td class="nhsuk-table__cell ">9am to 1pm</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Sunday</td>
            <td class="nhsuk-table__cell ">Closed</td>
          </tr>
        </tbody>
      </table>
      <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last updated: 12 January 2020</p>
      <h2>Temporary changes to opening times</h2>
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">Temporary changes to opening times</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Day</th>
            <th class="nhsuk-table__header" scope="col">Date</th>
            <th class="nhsuk-table__header" scope="col">Opening hours</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Monday</td>
            <td class="nhsuk-table__cell">2 September</td>
            <td class="nhsuk-table__cell">9am to 11am</td>
          </tr>
        </tbody>
      </table>

      <h2>Bank holiday opening times</h2>
      <div class="table-one-row nhsuk-u-margin-bottom-7">
        <div class="table-one-row__header" aria-hidden="true">Holiday</div>
        <div class="table-one-row__header" aria-hidden="true">Date</div>
        <div class="table-one-row__header" aria-hidden="true">Opening hours</div>
        <p class="table-one-row__data"><span class="nhsuk-u-visually-hidden">Holiday </span>Summer bank holiday</p>
        <p class="table-one-row__data"><span class="nhsuk-u-visually-hidden">Date </span>26 August</p>
        <p class="table-one-row__data">
          <span class="nhsuk-u-visually-hidden">Opening hours </span>
          <span>9am to 11am</span>
        </p>
      </div>

      <h2>Customer facilities</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Car parking</li>
      </ul>

      <h2>Accessibility</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Disabled car parking</li>
        <li>Wheelchair access</li>
        <li>Step-free access</li>
      </ul>
      <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last updated: 12 January 2020</p>

      <h2>What patients say</h2>
      <p>Latest reviews of this opticians.</p>

      <p><a href="/ratings-reviews/">Read all 13 reviews</a></p>
      <ul class="nhsuk-card-group">
        <li class="nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                New glasses 
              </h3>
              <span class="starssmall">★★★★</span>
              <p>As usual the service was efficient and professional. The appointment was spot on time and the examination thorough. The after service in ...</p>
              <p class="nhsuk-u-secondary-text-color">20 March 2019</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Professional and Patient Focussed
              </h3>
              <span class="starssmall">★★★★</span>
              <p>Excellent assessment of all aspects of vision and eye health. When I needed new glasses the optometrist was wonderful</p>
              <p class="nhsuk-u-secondary-text-color">21 March 2019</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                An eye on excellence
              </h3>
              <span class="starssmall">★★★★</span>
              <p>As usual the service was efficient and professional. The appointment was spot on time and the examination thorough. The after service in ..</p>
              <p class="nhsuk-u-secondary-text-color">20 March 2019</p>
            </div>
          </div>
        </li>
      </ul>
      <p class="nhsuk-u-margin-bottom-8"><a href="/ratings-reviews/">Read all 13 reviews</a></p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/leave-review">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Leave a review</span>
        </a>
      </div>
      <hr>

      <p><a href="">Report an issue with the information on this page</a></p>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
