
<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout-header-no-permissions.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
You currently have no profiles to manage - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "../"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-u-margin-bottom-8">
        <h1 class="nhsuk-u-margin-bottom-0">You currently have no profiles to manage</h1>
        <span class="nhsuk-caption-xl">
          John Smith
        </span>
      </div>
      <div class="nhsuk-warning-text nhsuk-u-margin-bottom-4">
        <span class="nhsuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="nhsuk-warning-text__text">
          <span class="nhsuk-warning-text__assistive">Warning</span>No profiles are linked to your email address</strong>
      </div>
      <p class="nhsuk-u-margin-bottom-6">You now need to add or transfer profiles to your new account.</p>
      <div class="nhsuk-u-margin-bottom-8">
        <h2>Add profiles</h2>
        <p>If you're a new comment responder or profile editor, you need to add new profiles to your account.</p>
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="/profile-manager/hospitals/editor-login/register/use-system-for">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Add profiles</span>
          </a>
        </div>
      </div>
      <h2>Transfer your dentist profiles</h2>
      <p>If you edit dentist profiles on the current NHS website profile editor, you need to transfer them to your new account on the NHS Profile Manager.</p>
      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/profile-manager/hospitals/editor-login/register/previous-email">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Transfer dentist profiles</span>
        </a>
      </div>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

