<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Manage Profile - Address
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Address",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">Manage Hyde Park Pharmacy</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">Back to Manage Hyde Park Pharmacy</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">   
      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 1 of 1</span>  

      <form action="/address" method="post">

        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            Your address
          </legend>
          <p>You must notify Primary Care Support England (PCSE) of a change of address. More information is available <a href="https://pcse.england.nhs.uk/services/performers-lists/#2">here</a>.</p>
          <p>The address on your profile page will then be automatically updated as soon as your application has been processed by PCSE.</p>
          <p>Use the form below to make temporary a change of address (30 days) whilst your application is being processed on this page.</p>

          <span id="error-message" class="nhsuk-error-message" style="display: none;">
            <span class="nhsuk-u-visually-hidden">Error:</span> 
            You must enter an address
          </span>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="address1">
              Address 1
            </label>
            <input class="nhsuk-input" id="address1" name="address1" type="text" aria-describedby="input" value="{{data["address1"]}}">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="address2">
              Address 2
            </label>
            <input class="nhsuk-input" id="address2" name="address2" type="text" aria-describedby="input" value="{{data["address2"]}}">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="town">
              Town
            </label>
            <input class="nhsuk-input" id="town" name="town" type="text" aria-describedby="input" value="{{data["town"]}}">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="county">
              County
            </label>
            <input class="nhsuk-input" id="county" name="county" type="text" aria-describedby="input" value="{{data["county"]}}">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="postcode">
              Postcode
            </label>
            <input class="nhsuk-input" id="postcode" name="postcode" type="text" aria-describedby="input" value="{{data["postcode"]}}">
          </div>

        </fieldset>

        {{ button({
        "text": "Save and return",
        "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "/editor/manage-profile",
      "text": "Go back"
      }) }}

    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
