<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Order a repeat prescription
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Order a repeat prescription",
        "href": "/repeat-prescriptions"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
      "href": "rp-emailcheck",
      "text": "Back"
      }) }}

      <h1 class="nhsuk-u-margin-bottom-6">You already have an NHS&nbsp;login</h1>
      <p>You can now sign in.</p>

      <form action="https://nhs-login.herokuapp.com/set-up/demo/enter-email" method="get">

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
