<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Repeat prescriptions
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Repeat prescriptions",
        "href": "/repeat-prescriptions"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{#{% block beforeContent %}
  {{ breadcrumb({
    href: "/repeat-prescriptions/denied-no-camera",
    text: "< Back"
  }) }}
{% endblock %}#}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
      "href": "/repeat-prescriptions/denied-no-camera",
      "text": "Back"
      }) }}

      <h1 class="nhsuk-u-margin-bottom-4">How to register for NHS Login without having to upload ID documents</h1>

      <p>Register for an NHS login with your laptop or PC - <a href="https://nhs-login.herokuapp.com/set-up/v7/enter-email">www.nhs.uk/register</a></p>
      <p>After registering you will need to prove your identity using a driving license or a passport.</p>
      <p>As you will not be able to do this on your device, you will need some registration details from your GP surgery.</p>
      <p><b>You will be given the following details:</b></p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Linkage Key (could also be called Passphrase)</li>
        <li>O.D.S. Code (could also be called Organisation Code or Practice I.D.)</li>
        <li>Account I.D.</li>
      </ul>

      <p>When you have all 3 details, go back to <a href="https://nhs-login.herokuapp.com/set-up/v7/login-enter-password">www.nhs.uk/login</a> to login to online services and use the 3 registration details to prove who you are.</p>

      {{ backLink({
      "href": "/repeat-prescriptions/denied-no-camera",
      "text": "Back"
      }) }}

    </div>

  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
