<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Order a repeat prescription
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Order a repeat prescription",
        "href": "/repeat-prescriptions"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
      "href": "rp-question-1",
      "text": "Back"
      }) }}      

      <h1 class="nhsuk-u-margin-bottom-6">You cannot use this service</h1>

      <form action="https://www.nhs.uk" method="post">

        <div class="nhsuk-form-group">

          <p>This service is only available to people who are registered at a GP surgery in England. It's not available in Scotland, Wales or Northern Ireland.</p>
          
          <p>If your registered GP surgery is in:</p>
          <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-bottom-6">
            <li>Scotland: <a href="https://www.nhsinform.scot/scotlands-service-directory/gp-practices">contact your GP surgery</a></li>
            <li>Wales: <a href="https://www.myhealthonline-inps2.wales.nhs.uk/welcome">go to My Health Online</a></li>
            <li>Northern Ireland: <a href="https://www.nidirect.gov.uk/articles/gp-online-services">go to nidirect</a></li>
          </ul>

        </div>

      </form>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "https://www.nhs.uk/our-policies/",
        "label": "Our policies"
      },
      {
        "URL": "",
        "label": "Accessibility statement"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
