<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Repeat prescriptions
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Repeat prescriptions",
        "href": "/repeat-prescriptions"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{#{% block beforeContent %}
  {{ breadcrumb({
    href: "/repeat-prescriptions/rp-question-device-desktop",
    text: "< Back"
  }) }}
{% endblock %}#}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
      "href": "rp-question-device-desktop",
      "text": "Back"
      }) }}

      <h1>A camera is required for registering with NHS Login</h1>

      <p>If you have a smartphone we suggest that you use it to register.</p>
      <h2>Switch to your smartphone</h2>
      <p>To do this, go to the NHS login registration page <a href="https://nhs-login.herokuapp.com/set-up/v7/enter-email">www.nhs.uk/register</a> on your mobile or tablet.</p>
      <h2>I do not have a smartphone</h2>
      <p>How to register for NHS Login <a href="/repeat-prescriptions/denied-no-smartphone-camera">without having to upload ID documents.</a></p>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
