<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Order a repeat prescription
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Order a repeat prescription",
        "href": "/repeat-prescriptions"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
      "href": "rp-question-device-desktop",
      "text": "Back"
      }) }}
      <h1 class="nhsuk-u-margin-bottom-6">You will now start the sign up process for an NHS login</h1>
      <p>If you experience any problems registering on your laptop or desktop PC, try signing up at <span class="nhsuk-u-font-weight-bold">www.nhs.uk/register</span> on your smartphone or tablet instead.</p>
      <a class="nhsuk-button" role="button" href="https://nhs-login.herokuapp.com/set-up/demo/enter-email">Continue</a>
    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "https://www.nhs.uk/our-policies/",
        "label": "Our policies"
      },
      {
        "URL": "",
        "label": "Accessibility statement"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
