<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Repeat prescriptions
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Repeat prescriptions",
        "href": "/repeat-prescriptions"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{#{% block beforeContent %}
  {{ breadcrumb({
    href: "/repeat-prescriptions/rp-question-5",
    text: "< Back"
  }) }}
{% endblock %}#}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "rp-question-3",
        "text": "Back"
        }) }}

      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 4 of 5</span>

      <form action="/rpq5" method="post">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              When you run out of medicines do your reorder from your pharmacy rather than your GP?
            </legend>

            <span id="error-message" class="nhsuk-error-message" style="display: none;">
              <span class="nhsuk-u-visually-hidden">Error:</span> 
              Please select an option
            </span>
            <span class="nhsuk-hint"> 
              
            </span>
            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="requestrepeat-1" name="requestrepeat" type="radio" value="Yes"{{checked("requestrepeat","Yes")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="requestrepeat-1">
                  Yes
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="requestrepeat-2" name="requestrepeat" type="radio" value="No"{{checked("requestrepeat","No")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="requestrepeat-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>

        </div>

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "rp-question-3",
      "text": "Back"
      }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
