<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Order a repeat prescription
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Order a repeat prescription",
        "href": "/repeat-prescriptions"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
      "href": "/repeat-prescriptions/rp-question-device",
      "text": "Back"
      }) }}
      
      <form action="/confident" method="post">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              Can you transfer photos from a digital camera or smartphone to your laptop or desktop PC?
            </legend>
            <p>You will need to transfer images of ID documents. This could be via WiFi, cable connection, email or a cloud storage service.</p>

            <span id="error-message" class="nhsuk-error-message" style="display: none;">
              <span class="nhsuk-u-visually-hidden">Error:</span> 
              Please select an option
            </span>
            <span class="nhsuk-hint">
              
            </span>
            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="confident-1" name="confident" type="radio" value="Yes"{{checked("confident","Yes")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="confident-1">
                  Yes
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="confident-2" name="confident" type="radio" value="No"{{checked("confident","No")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="confident-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>

        </div>

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>

  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "https://www.nhs.uk/our-policies/",
        "label": "Our policies"
      },
      {
        "URL": "",
        "label": "Accessibility statement"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
