<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Repeat prescriptions
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Repeat prescriptions",
        "href": "/repeat-prescriptions"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{#{% block beforeContent %}
  {{ breadcrumb({
    href: "start",
    text: "< Back"
  }) }}
{% endblock %}#}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "/repeat-prescriptions/used-b4",
        "text": "Back"
        }) }}

      <h1 class="nhsuk-u-margin-bottom-4">Can I order repeat prescriptions online?</h1>

      <p>We would like to ask you a few questions before taking you through the process of registering for an NHS login.</p>

    </div>

  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="/repeat-prescriptions/rp-question-1" method="post">
        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}
      </form>

      {{ backLink({
      "href": "/repeat-prescriptions/used-b4",
      "text": "Back"
      }) }}

    </div>

  </div>


{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
