<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Repeat prescriptions
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/">Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">NHS Services</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three/level-four">Pharmacies</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/">Back to Pharmacies</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>How to order repeat prescriptions online</h1>

      <p>Most prescriptions are now electronic, which means you do not have to go into your GP surgery to get a repeat prescription.</p>
      <p>You can order your medicine online and get it delivered to you or collect it from a pharmacy.</p>
      <p>You can do this in 3 simple steps.</p>

      <h2>1. Register with an online prescription service</h2>RP 

      <p class="">You can order repeat prescriptions through the NHS website. You will need to register with NHS login to use the service.</p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/repeat-prescriptions/rp-landing">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Register for repeat prescriptions via the NHS website</span>
        </a>
      </div>

      <p>There are other apps and websites you can use to order repeat prescriptions. Some may also let you see your medical records and book GP appointments.</p>

      <p class="nhsuk-u-font-weight-bold">You can also:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>use the <a href="https://www.nhs.uk/apps-library/nhs-app/">NHS app</a> from the Google Play store and the App store</li>
        <li>use one of the <a href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/gp-online-services/">online health services</a> that are available at your GP surgery – check your GP surgery website to see which providers you can use</li>
        <li>search online for pharmacies that have an online repeat prescription service</li>
      </ul>

      <p class="nhsuk-u-margin-bottom-6">When you’ve chosen a service to use, you’ll need to register to create an account.</p>


      <h2>2. Order your prescription </h2>

      <p>Once you’ve created an account using the website or app, you will be able to see your existing repeat prescriptions or order new ones.</p>
      <p>Your GP may have already approved a number of repeat prescriptions that you can order from a pharmacy. This is called a Repeat Dispense.</p>
      <p>Some repeat prescriptions may need approval from your GP before you can order them from a pharmacy.</p>
      <p>If you do not have a repeat prescription, a request will be sent for your GP surgery to approve. You’ll be told when the prescription has been approved or if the GP wants to talk to you before they approve it.</p>


      <h2>3. Choose how to collect your prescription</h2>

      <p>You have a choice of different ways to collect your prescription </p>
      <p class="nhsuk-u-font-weight-bold">You may be able to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-bottom-6">
        <li>get your medicine delivered to you</li>
        <li>get your medicine sent to a specific pharmacy (nominated pharmacy) — they'll let you know when it's ready to collect</li>
        <li>go to any pharmacy to collect your medicine — you may get a paper copy of your prescription to bring with you, or the pharmacy may be able to find your prescription using your NHS number</li>
      </ul>

      <p class="nhsuk-u-font-weight-bold">Do not go to a pharmacy to collect medicines if:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>you have symptoms of coronavirus (a high temperature or a new, continuous cough)</li>
        <li>you live with someone who has symptoms</li>
        <li>you are at very high risk of coronavirus</li>
      </ul>

      <p>Get your medicines delivered or ask someone to collect them.</p>
      <p>If you're pick up medicines for someone else, leave them outside their door but make sure you see them collect them.</p>

      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">
          Page last reviewed: 15 April 2020<br>
          Next review due: 15 April 2020
        </p>
      </div>

    </div>

  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/nhs-sites/">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/about-us/">About us</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/contact-us/">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/personalisation/login.aspx">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/about-us/sitemap/">Sitemap</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/accessibility/">Accessibility</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/our-policies/">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/our-policies/cookies-policy/">Cookies</a></li>
      </ul>
      
      <p class="nhsuk-footer__copyright">© Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}
