<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout-app-header.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  NHS Profile Manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS profile manager",
        "href": "./"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-margin-bottom-8">
        <h1 class="nhsuk-u-margin-bottom-0">NHS profile manager</h1>
        <span class="nhsuk-caption-xl">
          John Smith
        </span>
      </div>
    </div>
  </div>
  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="profiles/">Edit profiles</a>
          </h2>
          <p class="nhsuk-card__description">Update the information on your profiles, including opening hours, facilities and services</p>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="../profiles-comments/">Respond to reviews</a>
          </h2>
          <p class="nhsuk-card__description">Read and respond to reviews left by NHS website users</p>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="/profile-manager/pharmacies/editor-login/register/use-system-for">Add profiles</a>
          </h2>
					<p>This will send a request to the NHS website service desk</p>
        </div>
      </div>
    </li>
  </ul>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/editor/accessibility-statement",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
let displayname = req.body.displayname;
</script>
{% endblock %}
