<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Cohens
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/opening-times/opening-times-start">Opening times</a></li>
      <!--li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/opening-times/temporary-changes/temporary-changes-date">Temporary changes</a></li-->
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">
      {% set displayname = 'alias0' %}
      {% if data["displayname"] == alias0 %}
      Back to Edit Cohens
      {%else%}
      Back to Edit {{data["displayname"]}}
      {%endif%}
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Temporary changes to pharmacy opening times</h1>
    {% if tempChanges.length > 0 %}
      <dl class="nhsuk-summary-list opening-times nhsuk-u-margin-bottom-5">
        {% for singleTempChange in tempChanges %}
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              {{ singleTempChange.date }} 
            </dt>
            <dd class="nhsuk-summary-list__value">
            {% if singleTempChange.time === 'Closed' %}
              <span>{{ singleTempChange.time }}</span>
            {% else %}
              {% for tempChangeTime in singleTempChange.time %}
                <p>{{ tempChangeTime }}</p>
              {% endfor %}
            {% endif %}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> {{ singleTempChange.date }}</span>
              </a>
            </dd>
          </div>
        {% endfor %}
      </dl>
    {% endif %}
    <p class="nhsuk-u-margin-bottom-8"><a href="temporary-changes-date">Add another temporary change</a></p>

    {{ backLink({
    "href": "/editor/opening-times/opening-times-start",
    "text": "Back"
    }) }}

  </div>
</div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
