<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Mental health'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Pregnancy'
        },
        {
          'url' : '#',
          'label' : 'NHS services'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Appointments
          <span class="nhsuk-caption-xl">
            <span class="nhsuk-u-visually-hidden"> -</span> 
            Sevenoaks Hospital
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this profile">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Appointments</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/patients-visitors/">Patients and visitors</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/departments/">Departments and services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/facilities/">Facilities</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/ratings-reviews/">Ratings and reviews</a>
          </li>
        </ol>
      </nav>

    </div>

  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>How to book an appointment</h2>
      <p>You will generally need to be referred by a doctor for a hospital appointment or admission to hospital as an in-patient.</p>
      <p>There are 2 ways to get a hospital appointment or admission:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>we will contact you to arrange a date</li>
        <li>you will be asked to book your own appointment using the NHS e-Referral Service</li>
      </ul>

      <h3>The NHS e-Referral service</h3>
      <p>Your GP may be able to book your appointment with you at the same time as they refer you.</p>
      <p>Or you can book your appointment at a later stage. In this instance, you’ll be given an appointment request letter which includes:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>your unique booking reference number</li>
        <li>your NHS Number</li>
        <li>a list of hospitals or clinics to choose from</li>
        <li>a password</li>
      </ul>
      <p>You can use these details to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="https://www.ebs.ncrs.nhs.uk/login">book online</a></li>
        <li>book by phoning The Appointments Line (TAL) on <a href="tel: 01908 774 663">01908 774 663</a> (Monday to Friday 9am-5pm, excluding bank holidays)</li>
      </ul>
      <p><a href="https://www.nhs.uk/using-the-nhs/nhs-services/hospitals/nhs-e-referral-service/">Find more information about booking an appointment using the NHS e-Referral service.</a></p>

      <h2>How to cancel or change an appointment</h2>
      <p>We understand there may be times when you’re unable to attend your appointment or admission.</p>
      <p>If you booked your appointment using the NHS e-Referral service, you can change or cancel the appointment <a hre="https://www.ebs.ncrs.nhs.uk/login">online</a> or by phoning The Appointments Line (TAL) on <a href="tel: 01908 774 663">01908 774 663</a> (Monday to Friday 9am-5pm, excluding bank holidays).</p>
      <p>You can also call one of our dedicated appointment cancellation lines:</p>

      
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Appointment phone numbers</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Department</th>
              <th class="nhsuk-table__header" scope="col">Phone number</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Head & Neck</td>
              <td class="nhsuk-table__cell"><a href="tel: 01622 228218">01622 228218</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Surgery Breast</td>
              <td class="nhsuk-table__cell"><a href="tel: ">01622 228220</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Urology and Pain</td>
              <td class="nhsuk-table__cell"><a href="tel:">01622 228220</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Trauma & Orthopaedics</td>
              <td class="nhsuk-table__cell"><a href="tel:">01622 228221</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Women’s & Children</td>
              <td class="nhsuk-table__cell"><a href="tel:">01622 228222</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">General Medicine</td>
              <td class="nhsuk-table__cell"><a href="tel:">01622 228219</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Rheumatology</td>
              <td class="nhsuk-table__cell"><a href="tel:">01622 228219</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Neurology</td>
              <td class="nhsuk-table__cell"><a href="tel:">01622 228219</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Care of Elderly</td>
              <td class="nhsuk-table__cell"><a href="tel:">01622 228219</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Respiratory</td>
              <td class="nhsuk-table__cell"><a href="tel:">01622 228219</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Diabetes</td>
              <td class="nhsuk-table__cell"><a href="tel:">01622 228219</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Cardiology</td>
              <td class="nhsuk-table__cell"><a href="tel:">01622 228219</a></td>
            </tr>
          </tbody>
        </table>
      <p>Phone the hospital switchboard if you want to cancel or change an appointment that you did not book using the NHS e-Referral service or your department is not listed.</p>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <hr>
      <p><a href="">Report an issue with the information on this page</a></p>
      <p>Information supplied by <a href="">Maidstone and Tunbridge Wells NHS Trust</a></p>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
