{% from 'button/macro.njk' import button %}

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-no-cookie.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
We have found a match for this email address - Comment response tool - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
			<h1>We have sent a confirmation email to your old address</h1>
      <p>We have sent an email to name@email.com, which contains a confirmation code.</p>
      <p>You might need to check your spam or junk folder.</p>
      <p>If you do not get the email you can <a href="/editor-login/register/previous-email">enter your address again</a> or <a href="#">request profiles via the NHS service desk</a>.</p>
      <form action="/editor-login/register/confirmation-code" method="POST">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="confirmationCode">
            Enter your confirmation code 
          </label>
          <input class="nhsuk-input" id="confirmationCode" name="confirmaton-code" type="text">
        </div>
        <button class="nhsuk-button" type="submit">Continue</button>
      </form>
      {{ backLink({
      "href": "index",
      "text": "Back"
      }) }}
    </div>
  </div>
{% endblock %}
