{% from 'button/macro.njk' import button %}
{% from 'error-summary/macro.njk' import errorSummary %}

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-no-cookie.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Which email address did you sign in with on your old account? - Profile Manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if hasErrors %}
        {{ errorSummary({
          "titleText": "There is a problem",
          "errorList": errorList
        }) }}
      {% endif %}
			<form action="/editor-login/register/previous-email" method="POST">
        {% if hasErrors %}
          <div class="nhsuk-form-group nhsuk-form-group--error">
        {% else %}
          <div class="nhsuk-form-group">
        {% endif %}
          <label class="nhsuk-label" for="email">
            <h1>Which non-NHSmail address do you sign in with on the current NHS website profile editor?</h1>
          </label>
          <p>If you dont have access</p>
          <div id="email-hint" class="nhsuk-hint">We will transfer your current profiles to your new account. </div>
          {% if hasErrors %}
            <span class="nhsuk-error-message" id="email-error">
              <span class="nhsuk-u-visually-hidden">Error:</span> Enter an email address
            </span>
            <input class="nhsuk-input nhsuk-input--error nhsuk-input--width-30" aria-describedby="email-hint email-error" id="email" name="email" type="text" aria-describedby="email-hint">
          {% else %}
            <input class="nhsuk-input nhsuk-input--width-30" id="email" name="email" type="text" aria-describedby="email-hint">
          {% endif %}
          <!-- {{ input({
            "label": {
              "text": "Which non-NHSmail address do you sign in with on the current NHS website profile editor?",
              "classes": "nhsuk-label--xl",
              "isPageHeading": true
            },
            "hint": {
              "text": "We will transfer your current profiles to your new account."
            },
            "id": "email",
            "name": "email",
            "classes": "nhsuk-input--width-30",
            "attributes": {
              "value": primaryTelephone 
            },
            "errorMessage": {
              "text": errors.email
            } if errors.email
          }) }} -->
				</div>
				<button class="nhsuk-button" type="submit">Continue</button>
			</form>
      {{ backLink({
      "href": "/editor-login/no-profiles-landing",
      "text": "Back"
      }) }}
		</div>
	</div>
{% endblock %}
