{% from 'button/macro.njk' import button %}
{% from 'error-summary/macro.njk' import errorSummary %}

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-no-cookie.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Which email address did you sign in with on your old account? - Profile Manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if hasErrors %}
        {{ errorSummary({
          "titleText": "There is a problem",
          "errorList": errorList
        }) }}
      {% endif %}
			<form action="/editor-login/register/previous-email" method="POST">
				<div class="nhsuk-form-group">
          {{ input({
            "label": {
              "text": "Which email address did you sign in with on your old account?",
              "classes": "nhsuk-label--xl",
              "isPageHeading": true
            },
            "hint": {
              "text": "This will help us to transfer your old profiles to your new account."
            },
            "id": "email",
            "name": "email",
            "classes": "nhsuk-input--width-30",
            "attributes": {
              "value": primaryTelephone 
            },
            "errorMessage": {
              "text": errors.email
            } if errors.email
          }) }}
				</div>
				<button class="nhsuk-button" type="submit">Continue</button>
			</form>
      {{ backLink({
      "href": "/editor-login/no-profiles-landing",
      "text": "Back"
      }) }}
		</div>
	</div>
{% endblock %}
