<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Services and clinics
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Services and clinics
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Aylestone Hill Surgery
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/register/">Register with this GP surgery</a>
          </li>          
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Services and clinics</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/staff/">Staff at this GP surgery</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/practice-group/">Other GP surgeries within practice group</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/ratings/">Ratings</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/reviews/">Patient reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Prescription services</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Prescription requests without seeing a GP</li>
        <li>Medication review for people with long term conditions provided by an onsite clinical pharmacist</li>
        <li>Manage your repeat prescriptions online. You must be registered with your online GP service to use this facility. <a href="https://www.nhs.uk/NHSEngland/online-services/Pages/gp-services-choice-1.aspx">Login to your online GP service</a></li>
      </ul>

      <h2>Self-referral clinics / services</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Physiotherapist first contact service helping patients with back, neck and joint pain</li>
        <li>Mental health therapist service helping patients with stress, anxiety and depression</li>
        <li>Social care prescribing link service providing referrals to community services</li>
        <li>Baby clinic</li>
        <li>Sports clinic (paid for service)</li>
        <li>Asthma clinic</li>
        <li>Diabetes clinic providing insulin initiation</li>
        <li>Learning disability health check</li>
      </ul>

      <h2>Clinics where you may need a referral from a GP</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Asthma clinic</li>
        <li>COPD clinic</li>
        <li>Diabetes clinic</li>
      </ul>

      <h2>Vaccinations</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Child immunisations</li>
        <li>Flu vaccination (at risk groups)</li>
        <li>Travel vaccinations including Yellow Fever (paid for service)</li>
      </ul>

      <h2>Health checks and testing</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>NHS health check</li>
        <li>Vascular testing</li>
        <li>Sight tests</li>
        <li>Chlamydia testing</li>
      </ul>

      <h2>Healthy Living services</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Smoking cessation clinic</li>
        <li>Dietitian service</li>
        <li>Family planning</li>
      </ul>
      <p><a href="">Report an issue with the information on this page</a></p>
    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
