
<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout-app-header-pharmacies.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Confirm that you want to delete this department - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "/profile-manager/hospitals/editor/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../editor">Home</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../../../">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../index">
          Your departments 
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../../departments/urology/manage-urology">
          Manage your profile
        </a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../../departments/urology/manage-urology">
      Back to your profile
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-two-thirds">
			<form action="/profile-manager/hospitals/editor/profiles/royal/departments/remove/remove-done">
				<div class="nhsuk-form-group">
					<fieldset class="nhsuk-fieldset">
						<legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
							<h1 class="nhsuk-fieldset__heading">
							  Confirm that you want to delete this department
							</h1>
						</legend>
            <p>This will delete Urology and all of its information.</p> 
            <p>If you need to add this department later, you will need to set it up again.</p>
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="confirm-delete" name="confirmDelete" type="checkbox" value="delete">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="confirm-delete">
                  I confirm that I want to delete this department and all of its information
                </label>
              </div>
            </div>
					</fieldset>
				</div>
				<button type="submit" class="nhsuk-button nhsuk-button--warning">Delete department</button>
        <p><a href="remove-departments" class="nhsuk-button nhsuk-button--secondary" role="button" draggable="false">Cancel</a></p>
			</form>
			<div class="nhsuk-back-link">
				<a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
					<svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
						<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
					</svg>
					Go back
				</a>
			</div>
    </div>
  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
let displayname = req.body.displayname;
</script>
{% endblock %}