

<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Org name - Overview
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor">Back to My profiles</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form method="post" action="/editor/opening-times/bank-holiday/opening-time">
      <div id="enter-time" class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            <h1>What time is Hyde Park Pharmacy open on 26 December 2019?</h1>
          </legend>
          <span class="nhsuk-hint">Please enter times below in the 24 hour format. For midnight use 00:00 and for midday use 12:00. Times must not overlap. For services that close at midnight please use 23:59 to avoid validation errors. Services that start at midnight please use 00:00.</span>
          <div id="openingTimes">
            <div id="timeEntry1" class="nhsuk-u-margin-bottom-3">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="bankHolOpenTime1">Open</label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" name="bankHolOpenTime1" type="text" id="bankHolOpenTime1">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="bankHolCloseTime1">Closed</label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" name="bankHolCloseTime1" type="text" id="bankHolCloseTime1">
                </div>
              </div>
            </div>
            <div id="timeEntry2" class="nhsuk-u-margin-bottom-3">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="bankHolOpenTime2">Open</label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" name="bankHolOpenTime2" type="text" id="bankHolOpenTime2">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="bankHolCloseTime2">Closed</label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" type="text" name="bankHolCloseTime2" id="bankHolCloseTime2">
                </div>
              </div>
            </div>
            <div id="timeEntry3" class="nhsuk-u-margin-bottom-3">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="bankHolOpenTime3">Open</label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" type="text" name="bankHolOpenTime3" id="bankHolOpenTime3">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="bankHolCloseTime3">Closed</label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" type="text" name="bankHolCloseTime3" id="bankHolCloseTime3">
                </div>
              </div>
            </div>
            <p><a id="anotherTime" href="">Add another opening time</a></p>
          </div>
        </fieldset>
        <button type="submit" class="nhsuk-button">Continue</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
{{ footer({
"links": [
{
"URL": "#",
"label": "NHS sites"
},
{
"URL": "#",
"label": "About us"
},
{
"URL": "#",
"label": "Contact us"
},
{
"URL": "#",
"label": "Sitemap"
},
{
"URL": "#",
"label": "Our policies"
}
]
})}}
{% endblock %}


{% block pageScripts %}
<script>
  // Hiding additional time entries by default
  document.getElementById('timeEntry2').style.display = 'none';
  document.getElementById('timeEntry3').style.display = 'none';

  // Counter to display more time entries
  let counter = 1;
  document.getElementById('anotherTime').addEventListener('click', function (e) {
    e.preventDefault();
    counter++;
    // Display the previously hidden time entries
    if (counter <= 3) {
      document.getElementById(`timeEntry${counter}`).style.display = 'block';
      document.getElementById(`bankHolOpenTime${counter}`).focus();
    }
    if (counter === 3) {
      document.getElementById('anotherTime').style.display = 'none';
    }
  });

  // 24 hour checkbox
  document.getElementById("24hours").addEventListener('click', () => {
    if (document.getElementById('24hours').checked) {
      const openingTimes = document.querySelector('#openingTimes').children;
      const openingTimesArray = Array.from(openingTimes);
      for (var i = 0; i < openingTimesArray.length; i++) {
        openingTimesArray[i].querySelectorAll('input').forEach( (input) => {
          input.disabled = true;
        })
      }
    } else {
      document.getElementById('openingTimes').style.display = "block";
    }
  });

</script>
{% endblock %}
