<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Cohens
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">
      {% set displayname = 'alias0' %}
      {% if data["displayname"] == alias0 %}
      Back to Edit Cohens
      {%else%}
      Back to Edit {{data["displayname"]}}
      {%endif%}
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span id="steps" class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 3 of 3</span>

      <form action="/contact-details-check"  method="post">

        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

          <legend id="val-title" class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l nhsuk-u-margin-bottom-4">
            Your contact details
          </legend>

          <legend id="con-title"class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l nhsuk-u-margin-bottom-4">
            Confirm your contact details
          </legend>

          <p id="edit-all"><a href="contact-details-phone-edit">Edit all contact details</a></p>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Reception telephone
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{data["telephone"]}}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="contact-details-phone-edit">
                  Change<span class="nhsuk-u-visually-hidden"> reception telephone</span>
                </a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Repeat prescriptions telephone
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{data["telephone2"]}}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="contact-details-phone-edit">
                  Change<span class="nhsuk-u-visually-hidden"> repeat prescriptions telephone</span>
                </a>
              </dd>
            </div>
            
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Website
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{data["website"]}}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="contact-details-online-edit">
                  Change<span class="nhsuk-u-visually-hidden"> website</span>
                </a>
              </dd>
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Email
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{data["email"]}}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="contact-details-online-edit">
                  Change<span class="nhsuk-u-visually-hidden"> email</span>
                </a>
              </dd>
            </div>

            <!--div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Online consultation URL
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{data["onlineconsultation"]}}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="contact-details-consultation-edit">
                  Change<span class="nhsuk-u-visually-hidden"> online consultation</span>
                </a>
              </dd>
            </div-->
            
          </dl>

        </fieldset>

        {{ button({
          "text": "Save and confirm",
          "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "contact-details-online-edit",
      "text": "Back"
      }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

