<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Practice 1
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">
      {% set displayname = 'alias0' %}
      {% if data["displayname"] == alias0 %}
      Back to Edit Practice 1
      {%else%}
      Back to Edit {{data["displayname"]}}
      {%endif%}
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">   
      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 1 of 4</span>  

      <form autocomplete="off" action="/contact-details" method="post">

        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            Your phone details
          </legend>

          <span id="error-message" class="nhsuk-error-message" style="display: none;">
            <span class="nhsuk-u-visually-hidden">Error:</span> 
            You must enter a phone number
          </span>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="telephone">
              Reception telephone number
            </label>
            {% if data["telephone"] %}
            <input class="nhsuk-input" id="telephone" name="telephone" type="text" aria-describedby="input" value="{{data["telephone"]}}">
            {% else %}
              <input class="nhsuk-input" id="telephone" name="telephone" type="text" aria-describedby="input" value="0123456789">
            {% endif %}
          </div>


          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="telephone2">
              Repeat prescriptions telephone number
            </label>
            <input class="nhsuk-input" id="telephone2" name="telephone2" type="text" aria-describedby="input" value="{{data["telephone2"]}}">
          </div>

        </fieldset>

        {{ button({
        "text": "Continue",
        "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "contact-details-start",
      "text": "Back"
      }) }}

    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
