<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout-app-header.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Organisation Profile Manager
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>
        <span role="text">
          Welcome
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span>
            Weldricks pharmacy
          </span>
        </span>
      </h1>
    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
    <div class="nhsuk-grid-column-two-thirds">
      <!--Use the links below to manage the content of your profiles, respond to comments, manage your organisation's users and permissions, or view and action notifications and any outstanding tasks.</-->
      <p>Use the links below to manage the content of your profiles.</p>
    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-bottom-6">
    
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="/profiles/">
        <!--img class="nhsuk-promo__img" src="https://assets.nhs.uk/prod/images/MS_1018_give_blood.2e16d0ba.fill-2400x1350.jpg" alt=""-->
          <div class="nhsuk-promo__content">
            <h3 class="nhsuk-promo__heading">Edit profiles</h3>
            <p class="nhsuk-promo__description">Update the content of your profiles, including opening hours, facilities and services.</p>
            <!--hr>
            <p class="nhsuk-promo__description nhsuk-body-s">Non-MVP links / stats etc.</p-->
          </div>
        </a>
      </div>
    </div>
            
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="/profiles-comments/">
        <!--img class="nhsuk-promo__img" src="https://assets.nhs.uk/prod/images/MS_1018_give_blood.2e16d0ba.fill-2400x1350.jpg" alt=""-->
          <div class="nhsuk-promo__content">
            <h3 class="nhsuk-promo__heading">Respond to comments</h3>
            <p class="nhsuk-promo__description">Use the comments tool to read and respond to comments left by users.</p>
            <!--hr>
            <p class="nhsuk-promo__description nhsuk-body-s">Non-MVP links / stats etc.</p-->
          </div>
        </a>
      </div>
    </div>
            
  </div>

  

  <!--div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-grid-row nhsuk-panel-group nhsuk-u-margin-bottom-8">

        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3>Profiles</h3>
            <p>Update the content of your profiles, including opening hours, facilities and services.</p>
            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Edit profiles</span>
              </a>
            </div>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3>Comments</h3>
            <p>Use the comments tool to review and respond to comments.</p>
            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Manage comments</span>
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div-->


{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
let displayname = req.body.displayname;
</script>
{% endblock %}
