<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layouts/layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "false",
      "primaryLinks": [
        {
          "url"  : "/editor",
          "label" : "My profiles"
        },
        {
          'url' : '/editor/picker',
          'label' : 'Add profile'
        },
        {
          'url'  : '/editor',
          'label' : 'Manage users'
        },
        {
          'url'  : '/editor',
          'label' : 'Review comments'
        },
        {
          'url'  : '/editor',
          'label' : 'Logout'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>
        <span role="text">
          My profiles
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Org name / username
          </span>
        </span>
      </h1>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <p>Click on the profile names below to manage its content.</p>
      
      <div class="nhsuk-toolbar">
        <ul class="nhsuk-toolbar-list">
          <li class="nhsuk-toolbar-list-item"><a href="">Notifications</a>:<b> 0</b></li>
          <li class="nhsuk-toolbar-list-item"><a href="">Review comments</a>:<b> 0</b></li>
          <li class="nhsuk-toolbar-list-item"><a href="">Delete record</a></li>
        </ul>
      </div>

      <div class="nhsuk-table__panel-with-heading-tab">
        <!--h3 class="nhsuk-table__heading-tab">My profiles</h3-->
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">My profiles</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col"></th>
                <th class="nhsuk-table__header" scope="col">Name</th>
                <th class="nhsuk-table__header" scope="col">Address</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">

                  <label class="container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>

                </td>
                <td class="nhsuk-table__cell"><a href="/editor/manage-profile">Hyde Park Pharmacy</a></td>
                <td class="nhsuk-table__cell ">46 Woodsley Road, LS3 1DT</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">

                  <label class="container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>

                </td>
                <td class="nhsuk-table__cell">Profile name</td>
                <td class="nhsuk-table__cell ">address, postcode</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">

                  <label class="container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>

                </td>
                <td class="nhsuk-table__cell">Profile name</td>
                <td class="nhsuk-table__cell ">address, postcode</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
let displayname = req.body.displayname;
</script>
{% endblock %}
