<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout-app-header.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-0">Edit profile</h1>
      <span class="nhsuk-page-heading__small nhsuk-u-margin-bottom-4">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Practice 1
        {%else%}
        {{data["displayname"]}}
        {%endif%}
      </span>
      <p>10a/b Bentalls Shopping Centre, Leeds, LS23 9DH</p>
    </div>
  </div>

  <!--div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
    <div class="nhsuk-grid-column-two-thirds">
      <p>Use these links to edit the various content sections of this profile.</p>
    </div>
  </-->
  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-alert nhsuk-alert--warning nhsuk-alert--icon nhsuk-u-margin-bottom-5" role="alert">
        <h2 class="nhsuk-u-visually-hidden">Validation required</h2>
        <svg class="nhsuk-icon nhsuk-icon__warning nhsuk-alert__icon" fill="none" aria-hidden="true" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
          <g>
            <g>
              <path d="M501.609,384.603L320.543,51.265c-13.666-23.006-37.802-36.746-64.562-36.746c-26.76,0-50.896,13.74-64.562,36.746
                c-0.103,0.176-0.19,0.352-0.293,0.528L10.662,384.076c-13.959,23.491-14.223,51.702-0.719,75.457
                c13.535,23.769,37.919,37.948,65.266,37.948h360.544c27.347,0,52.733-14.179,66.267-37.948
                C515.524,435.779,515.261,407.566,501.609,384.603z M225.951,167.148c0-16.586,13.445-30.03,30.03-30.03
                c16.586,0,30.03,13.445,30.03,30.03v120.121c0,16.584-13.445,30.03-30.03,30.03s-30.03-13.447-30.03-30.03V167.148z
                M255.981,437.421c-24.839,0-45.046-20.206-45.046-45.046c0-24.839,20.206-45.045,45.046-45.045
                c24.839,0,45.045,20.206,45.045,45.045C301.027,417.214,280.821,437.421,255.981,437.421z"></path>
            </g>
          </g>
        </svg>
        <p class="nhsuk-heading-m nhsuk-u-margin-0">You need to <a href="validate">validate your service</a></p>
      </div>
      {% if recentChangeMade %}
        <div class="nhsuk-alert nhsuk-alert--success nhsuk-alert--icon nhsuk-u-margin-bottom-5" role="alert">
          <h2 class="nhsuk-u-visually-hidden">Your recent changes</h2>
          <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-alert__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
          </svg>
          <p class="nhsuk-heading-m nhsuk-u-margin-0">You have successfully edited or validated your information</p>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-bottom-6">
    
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="org-name-start">
        <!--img class="nhsuk-promo__img" src="https://assets.nhs.uk/prod/images/MS_1018_give_blood.2e16d0ba.fill-2400x1350.jpg" alt=""-->
          <div class="nhsuk-promo__content">
            <h2 class="nhsuk-promo__heading">Organisation name</h2>
            <!--p class="nhsuk-promo__description">Change the organisation name for your profile.</p-->
            <hr class="nhsuk-u-margin-top-4">
            {% set displayname = 'alias0' %}
            {% if data["displayname"] == alias0 %}
            <p class="nhsuk-promo__description nhsuk-body-s">Current organisation name:<br> <b class="nhsuk-body-m">Practice 1</b></p>
            {%else%}
            <p class="nhsuk-promo__description nhsuk-body-s">Current organisation name:<br> <b class="nhsuk-body-m">{{data["displayname"]}}</b></p>
            {%endif%}
          </div>
        </a>
      </div>
    </div>
            
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="contact-details-start">
        <!--img class="nhsuk-promo__img" src="https://assets.nhs.uk/prod/images/MS_1018_give_blood.2e16d0ba.fill-2400x1350.jpg" alt=""-->
          <div class="nhsuk-promo__content">
            <h2 class="nhsuk-promo__heading">Contact details</h2>
            <!--p class="nhsuk-promo__description">Update or validate your telephone, website and email details.</p-->
            <hr class="nhsuk-u-margin-top-4">
            <p class="nhsuk-promo__description nhsuk-body-s">Last updated:<br>  <b class="nhsuk-body-m">{{ contactDetailsLastUpdatedDate }}</b></p>
          </div>
        </a>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="opening-times/opening-times-start">
        <!--img class="nhsuk-promo__img" src="https://assets.nhs.uk/prod/images/MS_1018_give_blood.2e16d0ba.fill-2400x1350.jpg" alt=""-->
          <div class="nhsuk-promo__content">
            <h2 class="nhsuk-promo__heading">Opening times</h2>
            <!--p class="nhsuk-promo__description">Update or validate your opening times including bank holidays and temporary changes.</p-->
            <hr class="nhsuk-u-margin-top-4">
            <p class="nhsuk-promo__description nhsuk-body-s">Last updated:<br> <b class="nhsuk-body-m">{{ openingTimesLastUpdatedDate }}</b></p>
          </div>
        </a>
      </div>
    </div>
            
  </div>

  <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-bottom-6">
    
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="facilities/facilities-edit">
          <!--img class="nhsuk-promo__img" src="https://assets.nhs.uk/prod/images/MS_1018_give_blood.2e16d0ba.fill-2400x1350.jpg" alt=""-->
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Facilities</h2>
              <!--p class="nhsuk-promo__description">Update or validate your customer facilities.</p-->
              <hr class="nhsuk-u-margin-top-4">
              <p class="nhsuk-promo__description nhsuk-body-s" style="vertical-align:bottom;">Last updated:<br> <b class="nhsuk-body-m">{{ facilitiesLastUpdatedDate }}</b></p>
            </div>
          </a>
        </div>
      </div>
              
      <!--div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="services/index">

            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Services</h2>
              <p class="nhsuk-promo__description">Update or validate your service information.</p>
              <hr>
              <p class="nhsuk-promo__description nhsuk-body-s">Last updated:<br> <b class="nhsuk-body-m">{{ servicesLastUpdatedDate }}</b></p>
            </div>
          </a>
        </div>
      </div-->

      <!-- <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="availability/index">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Accepting new patients</h2>
              <hr class="nhsuk-u-margin-top-4">
              <p class="nhsuk-promo__description nhsuk-body-s">Last updated:<br> <b class="nhsuk-body-m">{{ availabilityLastUpdatedDate }}</b></p>
            </div>
          </a>
        </div>
      </div> -->

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="new-patients/index">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">New patient registration</h2>
              <hr class="nhsuk-u-margin-top-4">
              {% if data["newpatientstatus"] %}
              <p class="nhsuk-promo__description nhsuk-body-s">Accepting new patients:<br> <b class="nhsuk-body-m">{{data["newpatientstatus"]}}</b></p>
              {% endif %}
              <p class="nhsuk-promo__description nhsuk-body-s">Last updated:<br> <b class="nhsuk-body-m">{{ newpatientLastUpdatedDate }}</b></p>
            </div>
          </a>
        </div>
      </div>

    </div>

    <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-bottom-6">

              
    </div>


{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
let displayname = req.body.displayname;
</script>
{% endblock %}