<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout-app-header.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
    <div class="nhsuk-grid-column-two-thirds">
      {% if recentChangeMade %}
        <div class="nhsuk-alert nhsuk-alert--success nhsuk-alert--icon nhsuk-u-margin-bottom-5" role="alert">
          <h2 class="nhsuk-u-visually-hidden">Your recent changes</h2>
          <svg class="nhsuk-icon nhsuk-icon__tick nhsuk-alert__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
          </svg>
          <p class="nhsuk-heading-m nhsuk-u-margin-0">You have successfully edited or validated your information</p>
        </div>
      {% endif %}
      <h1 class="nhsuk-u-margin-bottom-0">Edit profile</h1>
      <span class="nhsuk-page-heading__small nhsuk-u-margin-bottom-4">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Practice 1
        {%else%}
        {{data["displayname"]}}
        {%endif%}
      </span>
      <p>10a/b Bentalls Shopping Centre, Leeds, LS23 9DH</p>
    </div>
  </div>

  <!--div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
    <div class="nhsuk-grid-column-two-thirds">
      <p>Use these links to edit the various content sections of this profile.</p>
    </div>
  </-->

  <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-bottom-6">
    
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="org-name-start">
        <!--img class="nhsuk-promo__img" src="https://assets.nhs.uk/prod/images/MS_1018_give_blood.2e16d0ba.fill-2400x1350.jpg" alt=""-->
          <div class="nhsuk-promo__content">
            <h2 class="nhsuk-promo__heading">Organisation name</h2>
            <!--p class="nhsuk-promo__description">Change the organisation name for your profile.</p-->
            <hr class="nhsuk-u-margin-top-4">
            {% set displayname = 'alias0' %}
            {% if data["displayname"] == alias0 %}
            <p class="nhsuk-promo__description nhsuk-body-s">Current organisation name:<br> <b class="nhsuk-body-m">Practice 1</b></p>
            {%else%}
            <p class="nhsuk-promo__description nhsuk-body-s">Current organisation name:<br> <b class="nhsuk-body-m">{{data["displayname"]}}</b></p>
            {%endif%}
          </div>
        </a>
      </div>
    </div>
            
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="contact-details-start">
        <!--img class="nhsuk-promo__img" src="https://assets.nhs.uk/prod/images/MS_1018_give_blood.2e16d0ba.fill-2400x1350.jpg" alt=""-->
          <div class="nhsuk-promo__content">
            <h2 class="nhsuk-promo__heading">Contact details</h2>
            <!--p class="nhsuk-promo__description">Update or validate your telephone, website and email details.</p-->
            <hr class="nhsuk-u-margin-top-4">
            <p class="nhsuk-promo__description nhsuk-body-s">Last updated:<br>  <b class="nhsuk-body-m">{{ contactDetailsLastUpdatedDate }}</b></p>
          </div>
        </a>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="opening-times/opening-times-start">
        <!--img class="nhsuk-promo__img" src="https://assets.nhs.uk/prod/images/MS_1018_give_blood.2e16d0ba.fill-2400x1350.jpg" alt=""-->
          <div class="nhsuk-promo__content">
            <h2 class="nhsuk-promo__heading">Opening times</h2>
            <!--p class="nhsuk-promo__description">Update or validate your opening times including bank holidays and temporary changes.</p-->
            <hr class="nhsuk-u-margin-top-4">
            <p class="nhsuk-promo__description nhsuk-body-s">Last updated:<br> <b class="nhsuk-body-m">{{ openingTimesLastUpdatedDate }}</b></p>
          </div>
        </a>
      </div>
    </div>
            
  </div>

  <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-bottom-6">

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="facilities/facilities-edit">
          <!--img class="nhsuk-promo__img" src="https://assets.nhs.uk/prod/images/MS_1018_give_blood.2e16d0ba.fill-2400x1350.jpg" alt=""-->
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Facilities</h2>
              <!--p class="nhsuk-promo__description">Update or validate your customer facilities.</p-->
              <hr class="nhsuk-u-margin-top-4">
              <p class="nhsuk-promo__description nhsuk-body-s" style="vertical-align:bottom;">Last updated:<br> <b class="nhsuk-body-m">{{ facilitiesLastUpdatedDate }}</b></p>
            </div>
          </a>
        </div>
      </div>
              
      <!--div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="services/index">

            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Services</h2>
              <p class="nhsuk-promo__description">Update or validate your service information.</p>
              <hr>
              <p class="nhsuk-promo__description nhsuk-body-s">Last updated:<br> <b class="nhsuk-body-m">{{ servicesLastUpdatedDate }}</b></p>
            </div>
          </a>
        </div>
      </div-->

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="availability/index">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Accepting new patients</h2>
              <hr class="nhsuk-u-margin-top-4">
              <p class="nhsuk-promo__description nhsuk-body-s">Last updated:<br> <b class="nhsuk-body-m">{{ availabilityLastUpdatedDate }}</b></p>
            </div>
          </a>
        </div>
      </div>

      <!--div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">  
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="new-patients/index">
          <img class="nhsuk-promo__img" src="https://assets.nhs.uk/prod/images/MS_1018_give_blood.2e16d0ba.fill-2400x1350.jpg" alt="">
            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">New patient registration</h2>
              <hr class="nhsuk-u-margin-top-4">
              <p class="nhsuk-promo__description nhsuk-body-s">Accepting new patients:<br> <b class="nhsuk-body-m">{{data["newpatientstatus"]}}</b></p>
              <p class="nhsuk-promo__description nhsuk-body-s">Last updated:<br> <b class="nhsuk-body-m">{{ newpatientLastUpdatedDate }}</b></p>
            </div>
          </a>
        </div>
      </div-->

    </div>

    <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-bottom-6">

              
    </div>

    <div class="nhsuk-grid-row nhsuk-panel-group">
      <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">

        <div class="nhsuk-panel editor">
          <h3>Contact details</h3>
          <div class="options">
            <span class="edit-link"><a href="contact-details-start">Edit</a></span> <span class="validate-link"><a href="contact-details-check">Validate</a></span>
          </div>
          <div class="lastupdated">
            <p class="nhsuk-body-s">Last updated:<br><span class="nhsuk-body-m nhsuk-u-font-weight-bold">{{ contactDetailsLastUpdatedDate }}</span></p>
          </div>
        </div>

      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
        <div class="nhsuk-panel">
          <h3>Healthy weight</h3>
          <p>Check your BMI using our healthy weight calculator and find out if you're a healthy weight</p>
        </div>
      </div>
    </div>


{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
let displayname = req.body.displayname;
</script>
{% endblock %}