<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Trust</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Trust</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Overview
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Leeds Teaching Hospitals NHS Trust
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-8" role="navigation" aria-label="Pages in this profile">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Overview</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/hospitals-clinics/">Hospitals and clinics</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>

  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2>Contact us</h2>
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3>Address</h3>
              <p>St. James's University Hospital<br>
                Beckett Street<br>
                Leeds<br>
                West Yorkshire<br>
                LS9 7TF</p>
              <p><a href="https://www.google.com/maps/place/St+James's+University+Hospital/@53.8076035,-1.5242858,17z/data=!3m1!4b1!4m5!3m4!1s0x48795c7250e0a67f:0x559f76063308c16b!8m2!3d53.8076035!4d-1.5220971">Get directions</a></p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
            <h3>Phone</h3>
            <p>General<br><a href="">0113 2433144</a></p>
            <h3>Online</h3>
            <p><a href="http://www.leedsth.nhs.uk">Visit website</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-action-link nhsuk-u-margin-bottom-8">
        <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Find another Trust</span>
        </a>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
    <div class="nhsuk-grid-column-two-thirds">
      <h2>About this trust</h2>
      <p>The Leeds Teaching Hospitals NHS Trust is one of the largest trusts in the UK and includes the one of the largest teaching hospitals in Europe. We focus on providing quality services of both secondary care and specialist tertiary care to the population of Leeds and the surrounding area.</p>
      <p>We are also a regional centre for a number of specialist services such as cancer and cardiac surgery, and the Trust is recognised as a national centre of excellence for specialist services such as paediatric and adult liver transplantation.</p>
      <p>The Trust has approximately 2,500 inpatient beds together with critical care and day case beds. In total, we employ over 14,000 staff across six sites, treating around a million patients a year with a budget of £789m.</p>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>What patients say</h2>
      <p>Latest reviews of this hospital.</p>

      <p><a href="/ratings-reviews/">Read all 7 reviews</a></p>
      <ul class="nhsuk-card-group">
        <li class="nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Good experience
              </h3>
              <span class="starssmall">★★★★</span>
              <p>I had need of a urgent appointment, I was seen within 3 hours of contacting the surgery. I had not been to this practice before. The staff ...</p>
              <p class="nhsuk-u-secondary-text-color">20 March 2019</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Friendly and professional service
              </h3>
              <span class="starssmall">★★★★</span>
              <p>I'm glad to have found a GP that provides such good service, particularly after much less favourable experiences with other practice ...</p>
              <p class="nhsuk-u-secondary-text-color">21 March 2019</p>
            </div>
          </div>
        </li>
        <li class="nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Really happy 
              </h3>
              <span class="starssmall">★★★★</span>
              <p>Really happy with the service at this surgery. Staff are very friendly and professional. Receptionist is really nice and w ....</p>
              <p class="nhsuk-u-secondary-text-color">20 March 2019</p>
            </div>
          </div>
        </li>
      </ul>
      <p class="nhsuk-u-margin-bottom-8"><a href="/ratings-reviews/">Read all 7 reviews</a></p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/dentists/leave-review">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Leave a review</span>
        </a>
      </div>
      <hr>

      <p><a href="">Report an issue with the information on this page</a></p>
      <p>Information supplied by <a href="">Maidstone and Tunbridge Wells NHS Trust</a></p>

    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
