<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS profile manager",
        "href": "/editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Cohens
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">
      {% set displayname = 'alias0' %}
      {% if data["displayname"] == alias0 %}
      Back to Edit Cohens
      {%else%}
      Back to Edit {{data["displayname"]}}
      {%endif%}
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/newpatients" method="post">
        <div class="nhsuk-form-group">

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                Are you accepting new patient registrations?
              </legend>
            
              <span class="nhsuk-hint" id="example-hint">
                Choose yes or no.
              </span>

              <span id="error-message" class="nhsuk-error-message" style="display: none;">
                <span class="nhsuk-u-visually-hidden">Error:</span> 
                You must choose an option
              </span>
            
              <div class="nhsuk-radios nhsuk-radios--inline">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-1" name="newpatients" type="radio" value="Yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                    Yes
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-2" name="newpatients" type="radio" value="No">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          
          </div>
        
        </div>

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "/editor/manage-profile",
      "text": "Go back"
      }) }}

    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
