<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layouts/layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Services
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Dentists</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Back to Dentists</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Services
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            High Ash Dental Surgery
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/dentists/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Services</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/dentists/ratings-reviews/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/dentists/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

      <h2>Treatments that you may be able to get from High Ash Dental Surgery</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Advice about looking after your teeth and gums</li>
        <li>Check-ups and polishing</li>
        <li>Crowns, bridges, fillings</li>
        <li>Braces and other orthodontic treatment</li>
        <li>Gum disease treatment</li>
        <li>Surgery - including taking teeth out</li>
        <li>Root canal treatment</li>
        <li>Medicine to help you relax (sedation)</li>
        <li>Home visits if needed</li>
      </ul>
      <p><a href="https://www.nhs.uk/live-well/healthy-body/dental-treatments/">Find out more about NHS dental treatments</a></p>

      <h3>What you can get on the NHS</h3>
      <p>Check-ups and advice are always available on the NHS. You can get other treatments on the NHS if your dentist says there’s a clinical need for them.</p>
      
      <h2>How much does NHS dental treatment cost?</h2>
      <p>You generally have to pay for NHS dental care and treatment. How much you pay depends on what you’re having done.</p>
      <p>NHS dental care is free for children and for people on some benefits.</p>
      <p>You may be able to get <a href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">help with dental costs</a> if you need it.</p>
    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
