
<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-app-header.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Regular health check opening times - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../profiles">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../../../manage-profile">
        Edit Cohens
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../../dashboard">
          Services
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../index">
          Add details to your services
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="dashboard">
          Health check opening times 
        </a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="dashboard">
      Health check opening times
    </a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Regular health check opening times</h1>
    <!--p class="nhsuk-u-margin-bottom-0">Last updated on {{ openingTimesUpdatedDate }}</p-->
    <dl class="nhsuk-summary-list opening-times" title="Standard opening times">
			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
					Monday
				</dt>
				<dd class="nhsuk-summary-list__value">
					Closed
				</dd>
				<dd class="nhsuk-summary-list__actions">
					<a href="#">
						Change<span class="nhsuk-u-visually-hidden"> Monday</span>
					</a>
				</dd>
			</div>
			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
				  Tuesday	
				</dt>
				<dd class="nhsuk-summary-list__value">
					Closed
				</dd>
				<dd class="nhsuk-summary-list__actions">
					<a href="#">
						Change<span class="nhsuk-u-visually-hidden"> Tuesday</span>
					</a>
				</dd>
			</div>
			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
				  Wednesday	
				</dt>
				<dd class="nhsuk-summary-list__value">
					Closed
				</dd>
				<dd class="nhsuk-summary-list__actions">
					<a href="#">
						Change<span class="nhsuk-u-visually-hidden"> Wednesday</span>
					</a>
				</dd>
			</div>
			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
				  Thursday	
				</dt>
				<dd class="nhsuk-summary-list__value">
					Closed
				</dd>
				<dd class="nhsuk-summary-list__actions">
					<a href="#">
						Change<span class="nhsuk-u-visually-hidden"> Thursday</span>
					</a>
				</dd>
			</div>
			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
				  Friday	
				</dt>
				<dd class="nhsuk-summary-list__value">
					Closed
				</dd>
				<dd class="nhsuk-summary-list__actions">
					<a href="#">
						Change<span class="nhsuk-u-visually-hidden"> Friday</span>
					</a>
				</dd>
			</div>
			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
				  Saturday	
				</dt>
				<dd class="nhsuk-summary-list__value">
					Closed
				</dd>
				<dd class="nhsuk-summary-list__actions">
					<a href="#">
						Change<span class="nhsuk-u-visually-hidden"> Friday</span>
					</a>
				</dd>
			</div>
			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
					Sunday
				</dt>
				<dd class="nhsuk-summary-list__value">
					Closed
				</dd>
				<dd class="nhsuk-summary-list__actions">
					<a href="#">
						Change<span class="nhsuk-u-visually-hidden"> Sunday</span>
					</a>
				</dd>
			</div>
    </dl>
    <a href="./dashboard" class="nhsuk-button">Save and confirm</a>
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back
      </a>
    </div>
  </div>
</div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
