<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-app-header.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Confirm your contact details - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "../"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../editor/">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../../editor/profiles/">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../index">
          Your departments 
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../manage-urology">
          Manage your profile 
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="phone-edit">
          Department telephone number 
        </a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="phone-edit">
      Department telephone number 
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/profile-manager/hospitals/editor/profiles/royal/departments/urology/contact-details/contact-details-check"  method="post">
        <h1 id="con-title">
          Confirm your contact details
        </h1>
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Department telephone number
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data["telephone"] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="phone-edit">
                Change<span class="nhsuk-u-visually-hidden"> department telephone number</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Extension number
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data["extension"] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="phone-edit">
                Change<span class="nhsuk-u-visually-hidden"> extension number</span>
              </a>
            </dd>
          </div>
        </dl>
        {{ button({
          "text": "Save and confirm",
          "id": "btn_submit"
        }) }}
      </form>
      {{ backLink({
      "href": "phone-edit",
      "text": "Go back"
      }) }}
    </div>
  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

