
<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Tabs test - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "../"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
			<h1>Tabs test</h1>
			<div class="nhsuk-tabs" data-module="nhsuk-tabs">
				<h2 class="nhsuk-tabs__title">Contents</h2>
				<ul class="nhsuk-tabs__list">
					<li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
						<a class="nhsuk-tabs__tab" href="#tab-one">Tab one</a>
					</li>
					<li class="nhsuk-tabs__list-item">
						<a class="nhsuk-tabs__tab" href="#tab-two">Tab two</a>
					</li>
					<li class="nhsuk-tabs__list-item">
						<a class="nhsuk-tabs__tab" href="#tab-three">Tab three</a>
					</li>        
				</ul>
				<div class="nhsuk-tabs__panel" id="tab-one">  
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>      
				</div>
				<div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="tab-two">  
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>      
				</div>
				<div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="tab-three">  
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>      
				</div>  
			</div>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
{% endblock %}

