{% from 'action-link/macro.njk' import actionLink %}

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-no-cookie.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Comment response tool - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Manage your organisation's profiles</h1>
      <p>Use this service to manage your organisation's information, including:</p>
      <ul>
        <li>contact details</li>
        <li>opening times</li>
        <li>services and facilities</li>
        <li>managing comments</li>
      </ul>
      <p>You will need to register for this service first, even if you have previously used the NHS Website Profile Editor or the Organisation Response Tool.</p>
      <p class="nhsuk-u-margin-bottom-5"><a href="">Get help with this tool (opens in a new window or tab)</a>.</p>
      {{ actionLink({
        "text": "Register",
        "href": "register/register-start"
      }) }}
      {{ actionLink({
        "text": "Sign in",
        "href": "sign-in/sign-in-start"
      }) }}
    </div>
  </div>
{% endblock %}
