<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
			<h1>Your pharmacy profiles have been transferred</h1>
      <p>Your profiles have transferred successfully from the current NHS website profile editor.</p>
      <p>It is not yet possible to edit profiles in the NHS profile manager. For now, you will need to edit profiles on the current NHS website profile editor.</p>
      <p>You should now view your profiles in the NHS profile manager to make sure you have everything you need, for when you can edit profiles.</p>
      <p>This is a new service – your <a href="#">feedback</a> will help us to improve it.</p>
			<a class="nhsuk-button" href="/editor">Continue</a>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
{% endblock %}
