<!-- Extends the layout from /docs/views/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Profile Manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
			<h1>Register for the new NHS profile manager</h1>
      <p>The new NHS profile manager is combining the current NHS website profile editor and the comment response tool.</p>
      <p>It will be possible to edit profiles in the NHS profile manager from January 2022.</p>
      <p>Register to be ready when the new editing system is launched.</p>
      <h2>Secure access with NHSmail</h2>
      <p>Register for the NHS profile manager with your personal NHSmail address only. You will not be able to log in with shared NHSmail addresses or other types of email.</p>
      <p><a href="https://support.nhs.net/knowledge-base/registering-for-an-nhsmail-account/">How to register for a personal NHSmail account if you do not have one</a></p>
      <p><a href="https://support.nhs.net/knowledge-base/nhsmail-pods-faqs/">NHSmail support for new users</a></p>
      <h2>Register now</h2>
      <p>Register now to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>prepare your new account to use NHSmail</li>
        <li>transfer your current pharmacy profiles</li>
        <li>check your transferred profiles</li>
      </ul>
			<a class="nhsuk-button" href="/editor-login/sign-in/nhs-signin">Register using your personal NHSmail address</a>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
{% endblock %}
