
<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}
{% from 'checkboxes/macro.njk' import checkboxes %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
{{ header({
"showNav": "true",
"showSearch": "false",
"primaryLinks": [
{
"url"  : "/editor",
"label" : "My profiles"
},
{
'url' : '/editor/picker',
'label' : 'Add profile'
},
{
'url'  : '/editor',
'label' : 'Manage users'
},
{
'url'  : '/editor',
'label' : 'Review comments'
},
{
'url'  : '/editor',
'label' : 'Logout'
}
]
})
}}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor">Back to My profiles</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="/copy-day" method="post">
      {# {{ checkboxes({
        "idPrefix": "copyDays",
        "name": "copyDays",
        "fieldset": {
          "legend": {
            "text": "Copy Monday's opening times to another day"
          }
        },
      "items": [
        {
          "value": "tuesday",
          "text": "Tuesday"
        },
        {
          "value": "wednesday",
          "text": "Wednesday"
        },
        {
          "value": "thursday",
          "text": "Thursday"
        },
        {
          "value": "friday",
          "text": "Friday"
        },
        {
          "value": "saturday",
          "text": "Saturday"
        },
        {
          "value": "sunday",
          "text": "Sunday"
        }
      ]
      }) }} #}
      <legend>
        <h1>Copy Monday's opening times to another day</h1>
      </legend>
      <div class="nhsuk-checkboxes">
        <div class="nhsuk-checkboxes__item">
          <input type="checkbox" id="copyTuesday" class="nhsuk-checkboxes__input" name="copyDays" value="tuesday" />
          <label for="copyTuesday" class="nhsuk-label nhsuk-checkboxes__label">Tuesday</label>
        </div>
      </div>
      <div class="nhsuk-checkboxes">
        <div class="nhsuk-checkboxes__item">
          <input type="checkbox" id="copyWednesday" class="nhsuk-checkboxes__input" name="copyDays" value="wednesday" />
          <label for="copyWednesday" class="nhsuk-label nhsuk-checkboxes__label">Wednesday</label>
        </div>
      </div>
      <div class="nhsuk-checkboxes">
        <div class="nhsuk-checkboxes__item">
          <input type="checkbox" id="copyThursday" class="nhsuk-checkboxes__input" name="copyDays" value="thursday" />
          <label for="copyThursday" class="nhsuk-label nhsuk-checkboxes__label">Thursday</label>
        </div>
      </div>
      <div class="nhsuk-checkboxes">
        <div class="nhsuk-checkboxes__item">
          <input type="checkbox" id="copyFriday" class="nhsuk-checkboxes__input" name="copyDays" value="friday" />
          <label for="copyFriday" class="nhsuk-label nhsuk-checkboxes__label">Friday</label>
        </div>
      </div>
      <div class="nhsuk-checkboxes">
        <div class="nhsuk-checkboxes__item">
          <input type="checkbox" id="copySaturday" class="nhsuk-checkboxes__input" name="copyDays" value="saturday" />
          <label for="copySaturday" class="nhsuk-label nhsuk-checkboxes__label">Saturday</label>
        </div>
      </div>
      <div class="nhsuk-checkboxes">
        <div class="nhsuk-checkboxes__item">
          <input type="checkbox" id="copySunday" class="nhsuk-checkboxes__input" name="copyDays" value="sunday" />
          <label for="copySunday" class="nhsuk-label nhsuk-checkboxes__label">Sunday</label>
        </div>
      </div>
      <button type="submit" class="nhsuk-button">Continue</button>
      <a class="nhsuk-button nhsuk-button--secondary" href="/editor/opening-times/days">Do not copy</a>
    </form>
  </div>
</div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
{{ footer({
"links": [
{
"URL": "#",
"label": "NHS sites"
},
{
"URL": "#",
"label": "About us"
},
{
"URL": "#",
"label": "Contact us"
},
{
"URL": "#",
"label": "Sitemap"
},
{
"URL": "#",
"label": "Our policies"
}
]
})}}
{% endblock %}


{% block pageScripts %}
<script>

</script>
{% endblock %}
