
<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-app-header.html" %}
{% from 'error-summary/macro.njk' import errorSummary %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
PALS telephone number - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS Profile Manager",
        "href": "../"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../profiles">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item">
				<a class="nhsuk-breadcrumb__link" href="../manage-profile">
				  Manage your profile	
        </a>
			</li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../manage-profile">
      Back to manage your profile 
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 1 of 3</span>  
      <form action="/profile-manager/hospitals/editor/profiles/royal/contact-details/pals-telephone" method="post">
        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--xl" for="pals-telephone">
              PALS telephone number
            </label>
          </h1>
          <p>You need to:</p>
          <ul id="pals-telephone-hint" class="nhsuk-list--bullet">
            <li>use the direct number for the patient advice and liaison service (PALS) </li>
            <li>enter a full UK landline number</li>
          </ul>
          <input class="nhsuk-input nhsuk-input--width-10" id="pals-telephone" name="palsTelephone" type="text" inputmode="numeric" aria-describedby="pals-telephone-hint" value={{palsTelephone}}>
        </div>
        {{ button({
        "text": "Continue",
        "id": "btn_submit"
        }) }}
      </form>
			<div class="nhsuk-back-link">
				<a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
					<svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
						<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
					</svg>
					Go back
				</a>
			</div>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
{% endblock %}
