<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Facilities - Sevenoaks Hospital - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Mental health'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Pregnancy'
        },
        {
          'url' : '#',
          'label' : 'NHS services'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsuk-breadcrumb--viewer" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol id="breadcrumb_list" class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a id="breadcrumb-link-0" class="nhsuk-breadcrumb__link" href="/">Home</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a id="breadcrumb-link-1" class="nhsuk-breadcrumb__link" href="/nhs-services">NHS services</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a id="breadcrumb-link-2" class="nhsuk-breadcrumb__link" href="/nhs-services/hospitals">Hospitals</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a id="breadcrumb-link-3" class="nhsuk-breadcrumb__link" href="/service-search/hospital">Find a hospital</a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 id="page-heading">
        <span role="text">
          <span class="nhsuk-caption-xl">
            Sevenoaks Hospital
            <span class="nhsuk-u-visually-hidden"> -</span>
          </span>
          Facilities
        </span>
      </h1>
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this profile">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="../overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="../departments/">Departments and services</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Facilities</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#">Leave a review</a>
          </li>
        </ol>
      </nav>

      <h2>Facilities for patients and visitors</h2>
      <h3>Accommodation</h3>
      <ul id="facilities-list-1" class="nhsuk-list nhsuk-list--bullet">
        <li id="facility-list-name-1-1">Access to TV</li>
        <li id="facility-list-name-1-2">Public telephone</li>
      </ul>
      <h3>Food and amenities on-site</h3>
      <ul id="facilities-list-2" class="nhsuk-list nhsuk-list--bullet">
        <li id="facility-list-name-2-1">Cafe</li>
        <li id="facility-list-name-2-2">Shop</li>
      </ul>
      <h3>Parking</h3>
      <ul id="facilities-list-3" class="nhsuk-list nhsuk-list--bullet">
        <li id="facility-list-name-3-1">Car Parking</li>
        <li id="facility-list-name-3-2">Disabled parking</li>
      </ul>
      <h3>Accessibility</h3>
      <ul id="facilities-list-4" class="nhsuk-list nhsuk-list--bullet">
        <li id="facility-list-name-4-1">Disabled parking</li>
        <li id="facility-list-name-4-2">Induction loop</li>
        <li id="facility-list-name-4-3">Wheelchair access</li>
        <li id="facility-list-name-4-4">Signing service available</li>
      </ul>
      <div class="nhsuk-review-date nhsuk-u-margin-bottom-8 nhsuk-u-margin-top-2">
        <p id="facilities_lastUpdated" class="nhsuk-body-s">Last updated: 19 July 2012</p>
      </div>

      <hr>
      <p><a href="">Report an issue with the information on this page</a></p>
      <p>Information supplied by <a href="">Kent Community Health NHS Foundation Trust</a></p>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
