<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-app-header.html" %}
{% from 'error-summary/macro.njk' import errorSummary %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Your phone details - Profile Manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS profile manager",
        "href": "/editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/profiles">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Cohens
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">
      {% set displayname = 'alias0' %}
      {% if data["displayname"] == alias0 %}
      Back to Edit Cohens
      {%else%}
      Back to Edit {{data["displayname"]}}
      {%endif%}
    </a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if hasErrors %}
        {{ errorSummary({
          "titleText": "There is a problem",
          "errorList": errorList
        }) }}
      {% endif %}
      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 1 of 3</span>  
      <h1 class="nhsuk-heading-l">Your phone details</h1>
      <form action="/profile-manager/pharmacies/editor/contact-details/contact-details-phone-edit" method="post">
        <div class="nhsuk-form-group">
          {{ input({
            "label": {
              "text": "Full telephone number"
            },
            "id": "telephone",
            "name": "telephone",
            "classes": "nhsuk-input--width-20",
            "attributes": {
              "value": primaryTelephone 
            },
            "errorMessage": {
              "text": errors.telephone
            } if errors.telephone
          }) }}
        </div>
        {{ button({
        "text": "Continue",
        "id": "btn_submit"
        }) }}
      </form>

      {{ backLink({
      "href": "contact-details-start",
      "text": "Go back"
      }) }}

    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
{% endblock %}
