<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-app-header.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Your new opening times - Profile Manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/profiles">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Cohens
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
      </a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/opening-times/opening-times-start">Opening times</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/editor/manage-profile">
      {% set displayname = 'alias0' %}
      {% if data["displayname"] == alias0 %}
      Back to Edit Cohens
      {%else%}
      Back to Edit {{data["displayname"]}}
      {%endif%}
    </a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Your new opening times</h1>
    <form method="POST" action="/profile-manager/pharmacies/editor/opening-times/confirm-opening-times">
      <dl class="nhsuk-summary-list opening-times" title="Standard opening times">
        {% for day in openingTimes %}
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              {{ day.name }}
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if day.times.length %}
                {% set cls = cycler(" to ", "") %}
                {%- for time in day.times | batch(2) -%}
                <p>
                  {%- for times in time -%}
                    {{ times }}{{cls.next()}}
                  {%- endfor -%}
                </p>
                {%- endfor %}
              {% else %}
                Closed
              {% endif %}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="/editor/opening-times/days/{{ day.name | lower}}">
                Change<span class="nhsuk-u-visually-hidden">{{ day.name }}</span>
              </a>
            </dd>
          </div>
        {% endfor %}
      </dl>
      <button class="nhsuk-button" type="submit">Save and confirm</button>
    </form>
    <!-- <a class="nhsuk-button" href="/editor/opening-times/opening-times-start">Save and confirm</a> -->
  </div>
</div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
{{ footer({
"links": [
{
"URL": "#",
"label": "NHS sites"
},
{
"URL": "#",
"label": "About us"
},
{
"URL": "#",
"label": "Contact us"
},
{
"URL": "#",
"label": "Sitemap"
},
{
"URL": "#",
"label": "Our policies"
}
]
})}}
{% endblock %}
