<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-app-header.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
 Open on {{dayObj.display}}? - Profile manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS profile manager",
        "href": "../"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../..">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="../../profiles">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Cohens
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
      </a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../opening-times/opening-times-start">Opening times</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../../opening-times/days">Opening days</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="../../opening-times/days">
      {% set displayname = 'alias0' %}
      {% if data["displayname"] == alias0 %}
      Back to opening days 
      {%else%}
      Back to Edit {{data["displayname"]}}
      {%endif%}
    </a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form method="post" action="/profile-manager/pharmacies/editor/opening-times/days/{{dayObj.key}}/set">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-5">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading">
              {% set displayname = 'alias0' %}
              {% if data["displayname"] == alias0 %}
              Is Cohens open on {{dayObj.display}}?
              {%else%}
              Is {{data["displayname"]}} open on {{dayObj.display}}?
              {%endif%}
            </h1>
          </legend>
          <div class="nhsuk-radios nhsuk-radios--conditional">
            <div class="nhsuk-radios__item">
              <input id="open" class="nhsuk-radios__input" type="radio" value="yes" name="open" aria-controls="conditional-opening-times">
              <label class="nhsuk-label nhsuk-radios__label" for="open">Yes</label>
            </div>
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-opening-times">
              <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-u-font-weight-bold">
                  {% set displayname = 'alias0' %}
                    {% if data["displayname"] == alias0 %}
                    Which time slots is Cohens open for on {{dayObj.display}}?
                    {%else%}
                    What time is {{data["displayname"]}} open on {{dayObj.display}}?
                    {%endif%}
                </legend>
                <span class="nhsuk-hint">Enter opening times in the 24 hour format.</span>
                <span class="nhsuk-hint">For 9am use 09:00 and for midday use 12:00.</span>
                <div id="openingTimes" class="nhsuk-u-margin-bottom-2">
                  <div id="timeEntry1" class="nhsuk-u-margin-bottom-3">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="openTime1">Open <span class="nhsuk-u-visually-hidden">1</span></label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" name="openTime1" type="text" id="openTime1" value={{currentDayOpeningTimes[0]}}>
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="closeTime1">Closed <span class="nhsuk-u-visually-hidden">1</span></label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" name="closeTime1" type="text" id="closeTime1" value={{currentDayOpeningTimes[1]}}>
                      </div>
                    </div>
                  </div>
                  <div id="timeEntry2" class="nhsuk-u-margin-bottom-3">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="openTime2">Open <span class="nhsuk-u-visually-hidden">2</span></label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" name="openTime2" type="text" id="openTime2" value={{currentDayOpeningTimes[2]}}>
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="closeTime2">Closed <span class="nhsuk-u-visually-hidden">2</span></label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" type="text" name="closeTime2" id="closeTime2" value={{currentDayOpeningTimes[3]}}>
                      </div>
                    </div>
                  </div>
                  <div id="timeEntry3">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="openTime3">Open <span class="nhsuk-u-visually-hidden">3</span></label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" type="text" name="openTime3" id="openTime3" value={{currentDayOpeningTimes[4]}}>
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="closeTime3">Closed <span class="nhsuk-u-visually-hidden">3</span></label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" type="text" name="closeTime3" id="closeTime3" value={{currentDayOpeningTimes[5]}}>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="nhsuk-radios__item">
              <input id="closed" class="nhsuk-radios__input" type="radio" value="no" name="open">
              <label class="nhsuk-label nhsuk-radios__label" for="closed">No</label>
            </div>
          </div>
        </fieldset>
        <button type="submit" class="nhsuk-button">Continue</button>
      </div>
    </form>
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go Back
      </a>
    </div>
  </div>
</div>

{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
