<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Services and clinics
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Appointments
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Aylestone Hill Surgery
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Appointments</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/register/">Register with this GP surgery</a>
          </li>          
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/services/">Clinics and services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/prescriptions/">Prescriptions</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/ratings/">Ratings</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/reviews/">Patient reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Appointment types</h2>

      <h3 class="nhsuk-u-margin-bottom-2">Same day appointment with a GP</h3>
      <p>Appointments are booked on a first come first served basis.</p>
      <details class="nhsuk-details nhsuk-u-margin-bottom-6">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            How to book
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <ul>
            <li>phone the surgery at 8.30am - <a href="">01432 263063</a></li>
          </ul>
        </div>
      </details>


      <h3 class="nhsuk-u-margin-bottom-2">Routine appointment with a GP of your choice</h3>
      <p>You can book a routine appointment up to 4 weeks in advance.</p>
      <details class="nhsuk-details nhsuk-u-margin-bottom-6">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            How to book
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <ul>
            <li>visit the surgery</li>
            <li>phone the surgery - <a href="">01432 263063</a></li>
            <li><a hre="https://www.nhs.uk/NHSEngland/online-services/Pages/gp-services-choice-1.aspx">book online</a></li>
          </ul>
        </div>
      </details>


      <h3 class="nhsuk-u-margin-bottom-2">Same day telephone consultations with a GP</h3>
      <p>These appointments are available 12 to 1pm daily on a first come first served basis.</p>
      <details class="nhsuk-details nhsuk-u-margin-bottom-6">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            How to book
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <ul>
            <li>visit the surgery</li>
            <li>phone the surgery - <a href="">01432 263063</a></li>
            <li><a hre="https://www.nhs.uk/NHSEngland/online-services/Pages/gp-services-choice-1.aspx">book online</a></li>
          </ul>
        </div>
      </details>


      <h3 class="nhsuk-u-margin-bottom-2">Appointments with other health professionals at this surgery</h3>
      <p>Appointments are available with a nurse, physiotherapist, mental health therapist. You do not need a GP referral to book these appointments.</p>  
      <details class="nhsuk-details nhsuk-u-margin-bottom-6">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            How to book
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <ul>
            <li>visit the surgery</li>
            <li>phone the surgery - <a href="">01432 263063</a></li>
            <li><a hre="https://www.nhs.uk/NHSEngland/online-services/Pages/gp-services-choice-1.aspx">book online</a></li>
          </ul>
        </div>
      </details>

      <h3>Out of hours GP appointments at another surgery</h3>
      <p>If you need to see a GP outside surgery opening hours you can book an evening or weekend appointment with a neighbouring GP surgery.</p>
      <details class="nhsuk-details nhsuk-u-margin-bottom-6">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            How to book
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <ul>
            <li>phone the surgery - <a href="">01432 263063</a></li>
            <li>phone 111 if this surgery is closed</li>
          </ul>
          <p>Appointments are also available with a neighbouring GP surgery on bank holidays.</p>
        </div>
      </details>

      <p><a href="">Report an issue with the information on this page</a></p>
    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
