<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Services and clinics
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Appointments
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Aylestone Hill Surgery
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-4" role="navigation" aria-label="Pages in this profile">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Appointments</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/register/">Register with this GP surgery</a>
          </li>          
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/services/">Clinics and services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/prescriptions/">Prescriptions</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/np-ratings-reviews/">Performance ratings</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/p-ratings-reviews/">Patient ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>You need to be registered with your GP’s online service to book online. Routine appointment are always available to book online.</p>
      </div>

      <h2>Routine GP appointment</h2>
      <p>Book a routine appointment with a GP of your choice up to 4 weeks in advance. You can <a href="https://www.nhs.uk/NHSEngland/online-services/Pages/gp-services-choice-1.aspx">Book online</a>, phone reception on - <a href="">01432 263063</a> or visit the surgery.</p>

      <h2>Same day GP appointment</h2>
      <p>Appointments are booked on a first come first served basis. You can book these by phoning reception at 8.30am - <a href="">01432 263063</a></p>

      <h2>Same day GP telephone appointment</h2>
      <p>These appointments are available 12 to 1pm daily on a first come first served basis. You can <a href="https://www.nhs.uk/NHSEngland/online-services/Pages/gp-services-choice-1.aspx">Book online</a>, phone reception on - <a href="">01432 263063</a> or visit the surgery.</p>

      <h2>Appointments with other health professionals at this surgery</h2>
      <p>Appointments are available with a nurse, physiotherapist, mental health therapist. You do not need a GP referral to book these appointments. You can <a href="https://www.nhs.uk/NHSEngland/online-services/Pages/gp-services-choice-1.aspx">Book online</a>, phone reception on - <a href="">01432 263063</a> or visit the surgery.</p>  

      <h2>Out of hours GP appointments at another surgery</h2>
      <p>If you need to see a GP outside surgery opening hours you can book an evening or weekend appointment with a neighbouring GP surgery. You can book these by phoning reception on - <a href="">01432 263063</a> or by <a href="">calling 111</a> if the surgery is closed.</p>
      <p>Appointments are also available with a neighbouring GP surgery on bank holidays.</p>

      <hr>

      <p><a href="">Visit the surgery website</a> for further information about booking an appointment.</p>
      <p><a href="">Report an issue with the information on this page</a></p>
    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
