<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Services and clinics
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Appointments
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Aylestone Hill Surgery
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Appointments</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/register/">Register with this GP surgery</a>
          </li>          
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/services/">Clinics and services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/prescriptions/">Prescriptions</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/ratings/">Ratings</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/reviews/">Patient reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/gps/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Urgent appointments with a GP</h2>
      <p>If you need medical help or advice within the next 24 hours and if you have a medical need this GP surgery offers:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>24-hour same day appointment – phone reception at 8.30am to book</li>
        <li>telephone appointments – non-bookable, phone reception at 12pm</li>
        <li>evening appointments on Wednesday 6 to 8pm – phone or visit reception to book</li>
      </ul>


      <h2>Routine appointments with a GP</h2>
      <p>To book these:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>visit reception</li>
        <li>phone reception - <a href="">01432 263063</a></li>
        <li><a href="https://www.nhs.uk/NHSEngland/online-services/Pages/gp-services-choice-1.aspx">Book online</a>. You need to be registered with your GP’s online service to do this</li>
      </ul>    

      <h2>Out of hours GP appointments </h2>
      <p>If you need to see a GP outside surgery opening hours you can book an evening or weekend appointment with a neighbouring GP surgery.</p>
      <p>To book an out of hours appointment, phone reception (or phone 111 if this surgery is closed).</p>
      <p>Appointments are also available with a neighbouring GP surgery on bank holidays.</p>

      <h2>Routine appointments with other healthcare staff</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>nurse appointments are available for vaccinations, blood pressure checks, health reviews, wound management, cervical screening, smoking cessation and lifestyle advice</li>
        <li>physiotherapist appointments are available for back, neck and joint pain</li>
        <li>mental health therapist appointments are available for stress, anxiety or depression</li>
      </ul>
      <p>To book these:</p>
      <ul>
        <li>visit the reception desk</li>
        <li>phone reception</li>
      </ul>         

      <p><a href="">Report an issue with the information on this page</a></p> 

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
