
<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Aspen Court Care Home - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Aspen Court Care Home</h1>
      <h2>Contact us</h2>
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                Address 
              </h2>
              <p>Sevenoaks Hospital<br>
                Hospital Road<br>
                Sevenoaks<br>
                Kent<br>
                TN13 3PG</p>
                <p><a href="https://www.google.com/maps/place/Sevenoaks+Hospital/@51.2878738,0.1933866,17z/data=!3m1!4b1!4m5!3m4!1s0x47df4d8db63d879b:0x46ee0efcf1177e2d!8m2!3d51.2878738!4d0.1955753">Get directions</a></p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3>Phone</h3>
              <p>Switchboard<br><a href="">01732 470200</a></p>
              <h3>Online</h3>
              <p><a href="http://www.kentcht.nhs.uk">Visit hospital's website</a></p>
            </div>
          </div>
        </li>
      </ul>
			<p>Discuss costs and availability directly with the care home.</p>
      <div class="nhsuk-action-link nhsuk-u-margin-bottom-8">
        <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Find another care home</span>
        </a>
      </div>
			<h2>About us</h2>
			<ul class="nhsuk-list nhsuk-list--bullet">
				<li>Care home with nursing</li>
				<li>Large with 75 beds</li>
				<li>Food hygieine rating: Very good</li>
				<li>A registered manage has not been in post in the last 6 months</li>
			</ul>
			<details class="nhsuk-details">
				<summary class="nhsuk-details__summary">
					<span class="nhsuk-details__summary-text">
						What does a registered manager do?
					</span>
				</summary>
				<div class="nhsuk-details__text">
					<p>A registered manager is in day-to-day charge of one or more regulated activities. The manager has joint legal responsibility with the provider for ensuring compliance with the regulations.</p>
				</div>
			</details>
			<h2>Specialisms and services</h2>
			<ul class="nhsuk-list nhsuk-list--bullet">
				<li>care services for people with dementia</li>
				<li>caring for adults over 65</li>
				<li>caring for adults under 65</li>
			</ul>
			<h2>Care Quality Commision rating</h2>
			<p>The Care Quality Commission (CQC) is the independent regulator of health services in England. They inspect services to make sure that they are safe, effective and provide high quality care. </p>
			<div class="nhsuk-card">
				<div class="cqc-rating-card">
					<div class="cqc-rating-description">
						<p>The CQC has rated this surgery as: <span class="nhsuk-u-font-weight-bold">Inadequate</span></p>
						<p><a href="https://www.cqc.org.uk/provider/RYY">Visit the CQC for more information on what this means</a></p>
					</div>
					<ol class="cqc-rating">
            <p class="nhsuk-u-margin-bottom-2">The CQC rating scale is:</p>
						<li class="cqc-rating--list-list-item">
							<span class="cqc-rating--indicator" aria-hidden="true">
								<svg class="icon icon--star" width="24px" height="24px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
									<defs>
										<path d="M22,9.24 L14.81,8.62 L12,2 L9.19,8.63 L2,9.24 L7.46,13.97 L5.82,21 L12,17.27 L18.18,21 L16.55,13.97 L22,9.24 L22,9.24 Z M12,15.4 L8.24,17.67 L9.24,13.39 L5.92,10.51 L10.3,10.13 L12,6.1 L13.71,10.14 L18.09,10.52 L14.77,13.4 L15.77,17.68 L12,15.4 L12,15.4 Z" id="path-uf98z-qjsj-1--1301892244"></path>
										<rect id="path-uf98z-qjsj-3--495238114" x="0" y="0" width="50" height="50"></rect>
									</defs>
									<circle fill="#007F3B" cx="16" cy="16" r="16"></circle>
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g>
											<g transform="translate(4.000000, 4.000000)">
												<mask id="mask-uf98z-qjsj-2--1301892244" fill="white">
													<use xlink:href="#path-uf98z-qjsj-1--1301892244"></use>
												</mask>
												<g mask="url(#mask-uf98z-qjsj-2--1301892244)">
													<g transform="translate(-13.000000, -13.000000)">
														<mask fill="white">
															<use xlink:href="#path-uf98z-qjsj-3--495238114"></use>
														</mask>
														<use fill="#FFFFFF" xlink:href="#path-uf98z-qjsj-3--495238114"></use>
													</g>
												</g>
											</g>
										</g>
									</g>
								</svg>
							</span>
							Outstanding</li>
						</li>
						<li class="cqc-rating--list-list-item ">
							<span class="cqc-rating--indicator cqc-rating--indicator-green" aria-hidden="true"></span>
							Good</li>
						</li>
						<li class="cqc-rating--list-list-item">
							<span class="cqc-rating--indicator cqc-rating--indicator-amber" aria-hidden="true"></span>
							 Requires improvement</li>
						<li class="cqc-rating--list-list-item cqc-rating-active">
							<span class="cqc-rating--indicator cqc-rating--indicator-red" aria-hidden="true"></span>
              <!-- TODO: Should this be at the start or the end -->
							Inadequate<span class="nhsuk-u-visually-hidden"> - this is the CQC rating</span>
						</li>
					</ol>
				</div>
			</div>
			<h2>Local authority</h2>
			<p>Tower Hamlets Local Authority.</p>
			<h2>Who runs this service</h2>
			<p>Aspen Court Care Home is run by P & B Kennedy Holdings Limited.</p>
			<h2>More information</h2>
			<p><a href="#">Find out more about care services, equipment and care homes</a></p>
      <hr>
      <p><a href="">Report an issue with the information on this page</a></p>
      <p>Information supplied by <a href="https://www.nhs.uk/Services/Trusts/Overview/DefaultView.aspx?id=73313">N Notaro Homes Limited</a></p>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
