<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Departments and services
          <span class="nhsuk-caption-xl">
            <span class="nhsuk-u-visually-hidden"> -</span> 
            Sevenoaks Hospital
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-8" role="navigation" aria-label="Pages in this profile">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/appointments/">Appointments</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/patients-visitors/">Patients and visitors</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Departments and services</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/facilities/">Facilities</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/hospitals/ratings-reviews/">Ratings and reviews</a>
          </li>
        </ol>
      </nav>

    </div>

  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/hospitals/ratings-reviews/">Accident and emergency</a>
              </h2>
              <p class="nhsuk-card__description">This department is for people of all ages</p>
              <p><span class="green-square"></span><b>Open now</b></p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="hospitals/departments/minor-injuries">Minor injuries unit</a>
              </h2>
              <p>This department is for anyone aged 1 or over</p>
              <p><span class="amber-square"></span><b>Closed</b></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-u-margin-bottom-6">A-Z of our departments and services</h2>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h3 class="index-header"><span class="index-letter">C</span></h3>
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/hospitals/departments/">Cardiology</a></li>
        <li><a href="/hospitals/departments/">Children's & Adolescent Services</a></li>
      </ul>
      <h3 class="index-header"><span class="index-letter">D</span></h3>
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/hospitals/departments/">Diabetic Medicine</a></li>
      </ul>
      <h3 class="index-header"><span class="index-letter">E</span></h3>
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/hospitals/departments/">Ear, Nose & Throat</a></li>
        <li><a href="/hospitals/departments/">Eye services (community)</a></li>
      </ul>
      <h3 class="index-header"><span class="index-letter">G</span></h3>
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/hospitals/departments/">Gastrointestinal and Liver services</a></li>
        <li><a href="/hospitals/departments/">General Surgery</a></li>
        <li><a href="/hospitals/departments/">Geriatric Medicine</a></li>
        <li><a href="/hospitals/departments/">Gynaecology</a></li>
      </ul>
      <h3 class="index-header"><span class="index-letter">M</span></h3>
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/hospitals/departments/minor-injuries">Minor injuries unit</a></li>
      </ul>
      <h3 class="index-header"><span class="index-letter">N</span></h3>
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/hospitals/departments/">Neurology</a></li>
      </ul>
      <h3 class="index-header"><span class="index-letter">O</span></h3>
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/hospitals/departments/">Obstetrics And Gynaecology</a></li>
        <li><a href="/hospitals/departments/">Ophthalmology</a></li>
        <li><a href="/hospitals/departments/orthopaedics">Orthopaedics</a></li>
      </ul>
      <h3 class="index-header"><span class="index-letter">P</span></h3>
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/hospitals/departments/">Pain Management</a></li>
        <li><a href="/hospitals/departments/">Physiotherapy</a></li>
      </ul>
      <h3 class="index-header"><span class="index-letter">R</span></h3>
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/hospitals/departments/">Rehabilitation</a></li>
        <li><a href="/hospitals/departments/">Respiratory Medicine</a></li>
        <li><a href="/hospitals/departments/">Rheumatology</a></li>
      </ul>
      <h3 class="index-header"><span class="index-letter">S</span></h3>
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/hospitals/departments/speech-language">Speech and language services</a></li>
      </ul>
      <h3 class="index-header"><span class="index-letter">V</span></h3>
      <!--hr class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-2"-->
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/hospitals/departments/">Vascular surgery</a></li>
      </ul>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <hr>
      <p><a href="">Report an issue with the information on this page</a></p>
      <p>Information supplied by <a href="">Maidstone and Tunbridge Wells NHS Trust</a></p>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
