<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-app-header.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Confirm your chosen facilities - Profile Manager - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Profile Manager",
        "href": "/editor"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor">Home</a></li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" href="/profiles">
          Your profiles
        </a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/manage-profile">
        {% set displayname = 'alias0' %}
        {% if data["displayname"] == alias0 %}
        Edit Cohens
        {%else%}
        Edit {{data["displayname"]}}
        {%endif%}</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/editor/facilities/facilities-edit">Edit facilities</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__link" href="/editor/facilities/facilities-edit">Edit facilities</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 2 of 2</span>
      <form action="/facilities-check" method="post">
        <h1>Confirm your chosen facilities</h1>
        <h2>Accessibility</h2>
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key" style="width:50%;">
              Braille translation service
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{data["brailleTranslationService"]}}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="facilities-edit">
                Change<span class="nhsuk-u-visually-hidden"> braille translation services</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Disabled car parking
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data["disabledCarParking"]}}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="facilities-edit">
                Change<span class="nhsuk-u-visually-hidden"> disabled car parking</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Disabled WC
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data["disabledWC"]}}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="facilities-edit">
                Change<span class="nhsuk-u-visually-hidden"> disabled wc</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Induction loop
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{data["inductionLoop"]}}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="facilities-edit">
                Change<span class="nhsuk-u-visually-hidden"> induction loop</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Text relay
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{data["textRelay"]}}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="facilities-edit">
                Change<span class="nhsuk-u-visually-hidden"> text relay</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Signing service
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{data["signingService"]}}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="facilities-edit">
                Change<span class="nhsuk-u-visually-hidden"> signing service</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Wheelchair access
            </dt>
            <dd class="nhsuk-summary-list__value">
              yes
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="facilities-edit">
                Change<span class="nhsuk-u-visually-hidden"> wheelchair access</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Step-free access
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{data["stepFreeAccess"]}}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="facilities-edit">
                Change<span class="nhsuk-u-visually-hidden"> step-free access</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2>Patient facilities</h2>
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key" style="width:50%;">
              Car parking
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{data["cycleParking"]}}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="facilities-edit">
                Change<span class="nhsuk-u-visually-hidden"> car parking</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key" style="width:50%;">
              Cycle parking
            </dt>
            <dd class="nhsuk-summary-list__value">
              yes 
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="facilities-edit">
                Change<span class="nhsuk-u-visually-hidden"> cycle parking</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key" style="width:50%;">
              Baby changing facilities
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{data["babyChangingFacilities"]}}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="facilities-edit">
                Change<span class="nhsuk-u-visually-hidden"> baby changing facilities</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key" style="width:50%;">
              Customer toilet
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{data["customerToilet"]}}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="facilities-edit">
                Change<span class="nhsuk-u-visually-hidden"> customer toilet</span>
              </a>
            </dd>
          </div>
        </dl>
        {{ button({
          "text": "Save and confirm",
          "id": "btn_submit"
        }) }}
      </form>

      {{ backLink({
      "href": "facilities-edit",
      "text": "Go back"
      }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}
