<!-- This layout is setup for transactional pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Leave a review
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Leave a review",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/hospitals/overview/",
    text: "Leeds General Infirmary"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l nhsuk-u-margin-bottom-4">Step 1 of ...</span>

      <form action="/q1" method="post">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              Which department of this hospital are you leaving a review for?
            </legend>

            <span id="error-message" class="nhsuk-error-message" style="display: none;">
              <span class="nhsuk-u-visually-hidden">Error:</span> 
              Please select an option
            </span>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="department-1" name="department" type="radio" value="Department 1"{{checked("department","Department 1")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Department 1
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="department-2" name="department" type="radio" value="Department 2"{{checked("department","Department 2")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Department 2
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="department-3" name="department" type="radio" value="Department 3"{{checked("department","Department 3")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Department 3
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="department-4" name="department" type="radio" value="Department 4"{{checked("department","Department 4")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Department 4
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="department-5" name="department" type="radio" value="Department 5"{{checked("department","Department 5")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Department 5
                </label>
              </div>
                            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="department-6" name="department" type="radio" value="Department 6"{{checked("department","Department 6")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Department 6
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="department-7" name="department" type="radio" value="Department 7"{{checked("department","Department 7")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Department 7
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="department-8" name="department" type="radio" value="Department 8"{{checked("department","Department 8")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Department 8
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="department-9" name="department" type="radio" value="Department 9"{{checked("department","Department 9")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Department 9
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="department-10" name="department" type="radio" value="Department 10"{{checked("department","Department 10")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Department 10
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="other" name="department" type="radio" value="Other"{{checked("department","Other")}}>
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Other
                </label>
              </div>
            </div>
          </fieldset>

        </div>

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

        {{ backLink({
        "href": "index",
        "text": "Go back"
        }) }}

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Clear data"
      }
    ]
  })}}
{% endblock %}

{% block pageScripts %}
<script>
if (window.location.search.indexOf('error=true') > -1) {
  document.getElementById("error-message").style.display = "block";
}
</script>
{% endblock %}
