<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %} Org / Service profiles - Index {% endblock %}

<!-- Header goes inside this block -->
{% block header %} {{ header({ "transactionalService": { "name": "Org / Service
profiles", "href": "/" }, "showNav": "false", "showSearch": "false" }) }} {%
endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %} {% endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Changelog</h1>
    <h2>5 August 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Updating to use post code</li>
      <li>Changing search to use post code</li>
      <li>Heading of profile manager</li>
    </ul>
    <h2>30 July 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Adding pre-release phase 1 editor prototype</li>
    </ul>
    <h2>9 July 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Updating search to city</li>
      <li>Added new interim pags for search results</li>
    </ul>
    <h2>06 Apr 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Updating markup and CSS for GP alert</li>
    </ul>
    <h2>30 Mar 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Dentists - Leave a review - Additional Coronavirus copy added to Leave a review Start page - RF</li>
    </ul>
    <h2>24 Mar 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>GPs - Tweak to Overview notification txt - RF</li>
      <li>GPs - Minor tweaks to Overview content - RF</li>
      <li>GPs - Ratings and reviews, new pages & menu split - RF</li>
      <li>GPs - New CQC Ratings graphic and indicator</li>
      <li>GPs - Clinics and services, new pages, menu split & content - RF</li>
    </ul>
    <h2>24 Mar 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>GPs MVP - Tweak to Overview notification txt - RF</li>
      <li>GPs MVP - Removal of 'Other GPs in this Practice Group' section - RF</li>
    </ul>
    <h2>26 Feb 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Updated Hospital profile with changes made to MVP version - RF</li>
    </ul>
    <h2>25 Feb 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Updated Hospital profile with further changes based on lab output and prepping for the MVP version - RF</li>
      <li>Clinics MVP profile - RF</li>
    </ul>
    <h2>23 Feb 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Updated Hospital profile with further changes based on lab output and prepping for the MVP version - RF</li>
      <li>Updated profile index / links page with clearer table layout - RF</li>
    </ul>
    <h2>21 February 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Updated Departments page for hospitals - RF</li>
      <li>Updating mkarup for GPs closed warning</li>
      <li>Adding links to hospitals phone numbers</li>
    </ul>
    <h2>14 February 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Adding changelog</li>
      <li>Adding last updated on</li>
      <li>Removing localstorage from git</li>
    </ul>
    <h2>6 February 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Adding on row table that isn't a table</li>
    </ul>
  </div>
</div>
{% endblock %}
