<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %} Org / Service profiles - Index {% endblock %}

<!-- Header goes inside this block -->
{% block header %} {{ header({ "transactionalService": { "name": "Org / Service
profiles", "href": "/" }, "showNav": "false", "showSearch": "false" }) }} {%
endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %} {% endblock %} {% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Changelog</h1>
    <h2>21 February 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Updating mkarup for GPs closed warning</li>
      <li>Adding links to hospitals phone numbers</li>
    </ul>
    <h2>14 February 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Adding changelog</li>
      <li>Adding last updated on</li>
      <li>Removing localstorage from git</li>
    </ul>
    <h2>6 February 2020</h2>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Adding on row table that isn't a table</li>
    </ul>
  </div>
</div>
{% endblock %}
