<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-no-cookie.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Organsation Profiles and Editor - Index
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS profile manager",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">
        <h1>Profile manager and viewer prototype</h1>
      </div>
      <h2>Current work</h2>
      <h3>Profile Manager</h3>
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Alpha</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Link</th>
            <th class="nhsuk-table__header" scope="col">Notes</th>
          </tr>
        </thead> 
        <tbody>
          <tr>
            <td><a href="profile-manager/pharmacies/editor-login/triage">Pharmacies login</a></td>
            <td>No profiles</td>
          </tr>
          <tr>
            <td><a href="profile-manager/pharmacies/editor/">Pharmacies</a></td>
            <td>Multiple profiles</td>
          </tr>
          <tr>
            <td class="nhsuk-table__cell"><a href="profile-manager/pharmacies/editor-login/transfer-profiles-wagtail">Transfer profiles</td>
            <td class="nhsuk-table__cell">Transfer profiles journey from wagtail page</td>
          </tr>
          <tr>
            <td><a href="profile-manager/dentists/editor/">Dentists</a></td>
            <td>Multiple profiles</td>
          </tr>
          <tr>
            <td><a href="profile-manager/gp/editor/manage-profile">GPs</a></td>
            <td>Patient registrations only</td>
          </tr>
          <tr>
            <td><a href="profile-manager/hospitals/editor/">Hospitals</a></td>
            <td>Standard journey</td>
          </tr>
        </tbody>
      </table>
      <h2>Alpha</h2>
      <h3>Profile Viewer</h3>
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Alpha</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Fidelity</th>
            <th class="nhsuk-table__header" scope="col" width="30%">Link</th>
            <th class="nhsuk-table__header" scope="col" width="40%">Notes</th>
            <th class="nhsuk-table__header" scope="col">Last updated</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="opticians/overview/">Opticians</a></td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">6 February 2020</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="dentists/overview/">Dentists</a></td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">30 March 2020</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="highstreetpharmacies/overview/">High street pharmacies</a></td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">6 February 2020</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="distancesellingpharmacies/overview/">Distance selling pharmacies</a></td>
            <td class="nhsuk-table__cell"><b>One more round of testing (same time as GPs) - Date TBC</b></td>
            <td class="nhsuk-table__cell">6 February 2020</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="gps/overview/">GP Surgeries</a></td>
            <td class="nhsuk-table__cell"><b>One more round of testing - Date TBC</b></td>
            <td class="nhsuk-table__cell">24 March 2020</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="hospitals/overview">Hospitals</a></td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">26 February 2020</td>
          </tr>
        </tbody>
      </table>

      <h2>MVP (stripped back content)</h2>
      <h3>Profile Viewer</h3>
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">MVP (stripped back content)</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Fidelity</th>
            <th class="nhsuk-table__header" scope="col" width="30%">Link</th>
            <th class="nhsuk-table__header" scope="col" width="40%">Notes</th>
            <th class="nhsuk-table__header" scope="col">Last updated</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="editor">Profile editor</a></td>
            <td class="nhsuk-table__cell">1 round of testing done w/pharmacies</td>
            <td class="nhsuk-table__cell">29 January 2020</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="mvp/opticians/overview/">Opticians</a></td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">6 February 2020</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="mvp/dentists/overview/">Dentists</a></td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">4 February 2020</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="mvp/highstreetpharmacies/overview/">High street pharmacies</a></td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">6 February 2020</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="mvp/distancesellingpharmacies/overview/">Distance selling pharmacies</a></td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">27 Apr 2021</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="mvp/gps/overview/">GP Surgeries</a></td>
            <td class="nhsuk-table__cell"><b>Closed 'notification' and 'NOT accepting new patients' warning UNTESTED with users</b></td>
            <td class="nhsuk-table__cell">24 March 2020</td>
          </tr>         
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="mvp/hospitals/overview/">Hospitals</td>
            <td class="nhsuk-table__cell">Department Open/Closed panels untested with users</td>
            <td class="nhsuk-table__cell">26 Feb 2020</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Prototype</td>
            <td class="nhsuk-table__cell"><a href="mvp/clinics/overview/">Clinics</td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">25 Feb 2020</td>
          </tr>
        </tbody>
      </table>
      <h2>Development</h2>
      <ul class="nhsuk-u-margin-bottom-6">
        <li><a href="gsd/overview/">GDoS Profiles</a> <span class="last-updated">Last updated: 28 January 2020</span></li>
      </ul>
      <hr>
    </div>
  </div>
{% endblock %}
