<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout-no-cookie.html" %}

<!-- Adds a custom class to the <main> wrapper -->
<!-- nhsuk-main-wrapper--s reduces top and bottom padding of the page -->
{% set mainClasses = 'nhsuk-main-wrapper--s' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Organsation Profiles and Editor - Index
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Organsation Profiles and Profile Editor",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <!-- Change the page title here -->
      <p><a href="changelog">Changelog</a></p>
      <p><a href="proof-of-concept/">Proof of concept</a></p>
      <h2>Alpha</h2>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Alpha</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Fidelity</th>
              <th class="nhsuk-table__header" scope="col" width="30%">Link</th>
              <th class="nhsuk-table__header" scope="col" width="40%">Notes</th>
              <th class="nhsuk-table__header" scope="col">Last updated</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Mock-up</td>
              <td class="nhsuk-table__cell"><a href="https://miro.com/app/board/o9J_kwZ3xhE=/">Profile Editor Mockups</a></td>
              <td class="nhsuk-table__cell">Miro board</td>
              <td class="nhsuk-table__cell"></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="opticians/overview/">Opticians</a></td>
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">6 February 2020</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="dentists/overview/">Dentists</a></td>
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">30 March 2020</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="highstreetpharmacies/overview/">High street pharmacies</a></td>
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">6 February 2020</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="distancesellingpharmacies/overview/">Distance selling pharmacies</a></td>
              <td class="nhsuk-table__cell"><b>One more round of testing (same time as GPs) - Date TBC</b></td>
              <td class="nhsuk-table__cell">6 February 2020</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="gps/overview/">GP Surgeries</a></td>
              <td class="nhsuk-table__cell"><b>One more round of testing - Date TBC</b></td>
              <td class="nhsuk-table__cell">24 March 2020</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="hospitals/overview">Hospitals</a></td>
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">26 February 2020</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3>MVP (stripped back content)</h3>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">MVP (stripped back content)</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Fidelity</th>
              <th class="nhsuk-table__header" scope="col" width="30%">Link</th>
              <th class="nhsuk-table__header" scope="col" width="40%">Notes</th>
              <th class="nhsuk-table__header" scope="col">Last updated</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Mock-up</td>
              <td class="nhsuk-table__cell"><a href="https://miro.com/app/board/o9J_kvqpC9k=/">MVP Profile Editor Mockups</a></td>
              <td class="nhsuk-table__cell">Miro board</td>
              <td class="nhsuk-table__cell"></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="proof-of-concept/">Profile editor phase 1</a></td>
              <td class="nhsuk-table__cell">Phase 1 of profile editor, UR not fully conducted and subject to change</td>
              <td class="nhsuk-table__cell">30 July 2020</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="editor">Profile editor</a></td>
              <td class="nhsuk-table__cell">1 round of testing done w/pharmacies</td>
              <td class="nhsuk-table__cell">29 January 2020</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="mvp/opticians/overview/">Opticians</a></td>
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">6 February 2020</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="mvp/dentists/overview/">Dentists</a></td>
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">4 February 2020</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="mvp/highstreetpharmacies/overview/">High street pharmacies</a></td>
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">6 February 2020</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="mvp/gps/overview/">GP Surgeries</a></td>
              <td class="nhsuk-table__cell"><b>Closed 'notification' and 'NOT accepting new patients' warning UNTESTED with users</b></td>
              <td class="nhsuk-table__cell">24 March 2020</td>
            </tr>         
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="mvp/hospitals/overview/">Hospitals</td>
              <td class="nhsuk-table__cell">Department Open/Closed panels untested with users</td>
              <td class="nhsuk-table__cell">26 Feb 2020</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Prototype</td>
              <td class="nhsuk-table__cell"><a href="mvp/clinics/overview/">Clinics</td>
              <td class="nhsuk-table__cell"></td>
              <td class="nhsuk-table__cell">25 Feb 2020</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Development</h2>
      <ul class="nhsuk-u-margin-bottom-6">
        <li><a href="gsd/overview/">GDoS Profiles</a> <span class="last-updated">Last updated: 28 January 2020</span></li>
      </ul>

      <hr>

      <h2>Beta / Live</h2>
      <ul class="nhsuk-u-margin-bottom-6">
        <li><a href="https://www.nhs.uk/Services/GP/ReviewsAndRatings/DefaultView.aspx?id=41257">Profile reviews</a></li>
        <li><a href="https://www.nhs.uk/Review/LeaveReview/M81026002">Leave a review</a></li>
        <li>Org comment response tool</li>
        <li>Moderation tool - MS Dynamics</li>
      </ul>

      <hr>

      <h2>Repeat prescriptions</h2>
      <ul class="nhsuk-u-margin-bottom-6">
        <li><a href="/repeat-prescriptions/services/prescriptions/order-a-repeat-prescription/">Repeat prescriptions - Prototype</a></li>
        <li><a href="https://miro.com/app/board/o9J_kuKbJPA=/">Page flow - Miro</a></li>

      </ul>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
