<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Overview - Aylestone Hill Surgery - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Mental health'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Pregnancy'
        },
        {
          'url' : '#',
          'label' : 'NHS services'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP surgery</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a GP surgery</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content nhsuk-alert-black">
        <h2 class="nhsuk-card__heading">This GP surgery is currently closed. Check opening times for more details.</h2>
        <p class="nhsuk-card__description">If you think you have an urgent medical problem you can call <a href="https://111.nhs.uk/">111</a> or <a href="http://111.nhs.uk">visit 111 online</a></p>
      </div>
    </div>
  </div>
</div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        <span role="text">
          Overview
          <span class="nhsuk-caption-xl">
            <span class="nhsuk-u-visually-hidden"> -</span> 
            Aylestone Hill Surgery
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this profile">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Overview</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="register">How to register with this GP surgery</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#">Leave a review</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-warning-text nhsuk-u-margin-bottom-6">
        <svg class="nhsuk-warning-text__icon nhsuk-information-text__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 15" fill="none" aria-hidden="true" width="34" height="34">
          <path transform="translate(0, -4)" stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#FFFFFF"></path>
        </svg>
        <span class="nhsuk-warning-text__text">
          <span class="nhsuk-warning-text__assistive">Information </span>This GP surgery is currently accepting new patients.</span>
      </div>

      <h2>Contact us</h2>
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Address 
              </h3>
              <p>Aylestone Hill<br>
              Hereford<br>
              Hertfordshire<br>
              HR1 1HR</p>
              <p><a href="https://www.google.com/maps/place/Aylestone+Hill+Surgery/@52.0606363,-2.7046445,15z/data=!4m5!3m4!1s0x0:0x5314dd362c5e50d7!8m2!3d52.0606363!4d-2.7046445">Get directions (opens in Google Maps)</a></p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Phone
              </h3>
              <p>Reception<br> <a href="">01432 263063</a></p>
              <h3>Online</h3>
              <p class="nhsuk-u-margin-bottom-2"><a href="https://www.herefordmedicalgroup.co.uk/">Visit GP surgery website</a></p class="nhsuk-u-margin-bottom-2">
              <p><a href="mailto:name@email.com">Email this GP surgery</a></p>
            </div>
          </div>
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                Online health and prescription services 
              </h3>
              <p>Log in with your usual website or app</p>
              <p><a href="#">Start using online services</a></p>
              <p>Sign up or log in using the <a href="#"">NHS App</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-action-link nhsuk-u-margin-bottom-8">
        <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Find another GP surgery</span>
        </a>
      </div>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">
          <h2>Reception opening times</h2>
        </caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col" width="35%">Day</th>
            <th class="nhsuk-table__header" scope="col">Opening hours</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Monday</td>
            <td class="nhsuk-table__cell">8am to 6.30pm</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Tuesday</td>
            <td class="nhsuk-table__cell">8am to 6.30pm</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Wednesday</td>
            <td class="nhsuk-table__cell">8am to 6.30pm</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Thursday</td>
            <td class="nhsuk-table__cell">8am to 6.30pm</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Friday</td>
            <td class="nhsuk-table__cell">8am to 6.30pm</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Saturday</td>
            <td class="nhsuk-table__cell">Closed</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Sunday</td>
            <td class="nhsuk-table__cell">Closed</td>
          </tr>
        </tbody>
      </table>
      <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last updated: 12 January 2020</p>

        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">
            <h2>Temporary changes to opening times</h2>
          </caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Day</th>
              <th class="nhsuk-table__header" scope="col">Date</th>
              <th class="nhsuk-table__header" scope="col">Opening hours</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Wednesday</td>
              <td class="nhsuk-table__cell">27 November</td>
              <td class="nhsuk-table__cell">Closed</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2>Customer facilities</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Car parking</li>
      </ul>

      <h2>Accessibility</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Disabled toilet</li>
        <li>Wheelchair access</li>
        <li>Step free access</li>
      </ul>
      <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last updated: 12 January 2020</p>

      <hr>

      <p><a href="">Report an issue with the information on this page</a></p>

    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
