<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Departments and services
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Sevenoaks Hospital
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-8" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Departments and services</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/facilities/">Facilities</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>

  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-bottom-8">

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="/mvp/hospitals/ratings-reviews/">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading nhsuk-u-margin-bottom-4">Accident and emergency</h3>
                <p class="nhsuk-promo__description">This department is for people of all ages</p>
                <p class="nhsuk-promo__description"><span class="green-square"></span><b>Open now</b></p>
              </div>
            </a>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="/mvp/hospitals/departments/minor-injuries">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading nhsuk-u-margin-bottom-4">Minor injuries<br> unit</h3>
                <p class="nhsuk-promo__description">This department is for anyone aged 1 or over</p>
                <p class="nhsuk-promo__description"><span class="amber-square"></span><b>Closed</b></p>
              </div>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-u-margin-bottom-6">A-Z of our departments and services</h2>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h3>C</h3>
      <hr class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-2">
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/mvp/hospitals/departments/">Cardiology</a></li>
        <li><a href="/mvp/hospitals/departments/">Children's & Adolescent Services</a></li>
      </ul>
      <h3>D</h3>
      <hr class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-2">
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/mvp/hospitals/departments/">Diabetic Medicine</a></li>
      </ul>
      <h3>E</h3>
      <hr class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-2">
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/mvp/hospitals/departments/">Ear, Nose & Throat</a></li>
        <li><a href="/mvp/hospitals/departments/">Eye services (community)</a></li>
      </ul>
      <h3>G</h3>
      <hr class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-2">
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/mvp/hospitals/departments/">Gastrointestinal and Liver services</a></li>
        <li><a href="/mvp/hospitals/departments/">General Surgery</a></li>
        <li><a href="/mvp/hospitals/departments/">Geriatric Medicine</a></li>
        <li><a href="/mvp/hospitals/departments/">Gynaecology</a></li>
      </ul>
      <h3>M</h3>
      <hr class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-2">
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/mvp/hospitals/departments/minor-injuries">Minor injuries unit</a></li>
      </ul>
      <h3>N</h3>
      <hr class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-2">
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/mvp/hospitals/departments/">Neurology</a></li>
      </ul>
      <h3>O</h3>
      <hr class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-2">
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/mvp/hospitals/departments/">Obstetrics And Gynaecology</a></li>
        <li><a href="/mvp/hospitals/departments/">Ophthalmology</a></li>
        <li><a href="/mvp/hospitals/departments/orthopaedics">Orthopaedics</a></li>
      </ul>
      <h3>P</h3>
      <hr class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-2">
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/mvp/hospitals/departments/">Pain Management</a></li>
        <li><a href="/mvp/hospitals/departments/">Physiotherapy</a></li>
      </ul>
      <h3>R</h3>
      <hr class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-2">
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/mvp/hospitals/departments/">Rehabilitation</a></li>
        <li><a href="/mvp/hospitals/departments/">Respiratory Medicine</a></li>
        <li><a href="/mvp/hospitals/departments/">Rheumatology</a></li>
      </ul>
      <h3>S</h3>
      <hr class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-2">
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/mvp/hospitals/departments/speech-language">Speech and language services</a></li>
      </ul>
      <h3>V</h3>
      <hr class="nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-2">
      <ul class="nhsuk-list nhsuk-u-margin-bottom-6">
        <li><a href="/mvp/hospitals/departments/">Vascular surgery</a></li>
      </ul>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <hr>
      <p><a href="">Report an issue with the information on this page</a></p>
      <p>Information supplied by <a href="">Maidstone and Tunbridge Wells NHS Trust</a></p>

    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
