<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
Minor injuries unit - Sevenoaks Hospital - NHS
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Mental health'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Pregnancy'
        },
        {
          'url' : '#',
          'label' : 'NHS services'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhsuk-breadcrumb--viewer" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol id="breadcrumb_list" class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a id="breadcrumb-link-0" class="nhsuk-breadcrumb__link" href="/">Home</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a id="breadcrumb-link-1" class="nhsuk-breadcrumb__link" href="/nhs-services">NHS services</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a id="breadcrumb-link-2" class="nhsuk-breadcrumb__link" href="/nhs-services/hospitals">Hospitals</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a id="breadcrumb-link-3" class="nhsuk-breadcrumb__link" href="/service-search/hospital">Find a hospital</a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content nhsuk-alert-black">
          <h2 class="nhsuk-card__heading">This service is currently closed. Check opening times for more details.</h2>
          <p>See opening times in the information below. If you have an urgent medical problem and you're not sure what to do call 111 or <a href="https://111.nhs.uk/">visit 111 online</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        <span role="text">
          Minor injuries unit
          <span class="nhsuk-caption-xl">
            <span class="nhsuk-u-visually-hidden"> -</span> 
            Sevenoaks Hospital
          </span>
        </span>
      </h1>
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this profile">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/departments/">Departments and services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/facilities/">Facilities</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Leave a review</a>
          </li>
        </ol>
      </nav>


      <h2>Contact us</h2>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-card ">
            <div class="nhsuk-card__content">
              <h3>Phone</h3>
              <p>01732 47022 <br/>
                Extension 8492</p>
            </div>
          </div>
        </div>
      </div>
      
      <h2>About this department</h2>
      <p><strong>This service is for anyone aged 1 or over.</strong></p>
      <p>This Department is managed by Kent Community Health NHS Foundation Trust. They are not the primary provider at this hospital.</p>
      <div class="nhsuk-action-link nhsuk-u-margin-bottom-8">
        <a id="about_department_when_to_visit_urgent_treatment_link" class="nhsuk-action-link__link" href="https://www.nhs.uk/nhs-services/urgent-and-emergency-care-services/when-to-visit-an-urgent-treatment-centre-walk-in-or-minor-injury-unit/">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">When to visit an urgent treatment centre (walk-in centre or minor injury unit)</span>
        </a>
      </div>
      <h2>Opening times</h2>

      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Opening times</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Day</th>
            <th class="nhsuk-table__header" scope="col">Ages</th>
            <th class="nhsuk-table__header" scope="col">Times</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="rowgroup" rowspan="2">Monday</th>
            <td>All ages</td>
            <td>8am to 8pm</td>
          </tr>
          <tr>
            <td>16 years and over</td>
            <td>Open 24 hours</td>
          </tr>
          <tr>
            <th scope="rowgroup" rowspan="2">Tuesday</th>
            <td>All ages</td>
            <td>8am to 8pm</td>
          </tr>
          <tr>
            <td>16 years and over</td>
            <td>Open 24 hours</td>
          </tr>
          <tr>
            <th scope="rowgroup" rowspan="2">Wednesday</th>
            <td>All ages</td>
            <td>8am to 8pm</td>
          </tr>
          <tr>
            <td>16 years and over</td>
            <td>Open 24 hours</td>
          </tr>
          <tr>
            <th scope="rowgroup" rowspan="2">Thursday</th>
            <td>All ages</td>
            <td>8am to 8pm</td>
          </tr>
          <tr>
            <td>16 years and over</td>
            <td>Open 24 hours</td>
          </tr>
          <tr>
            <th scope="rowgroup" rowspan="2">Friday</th>
            <td>All ages</td>
            <td>8am to 8pm</td>
          </tr>
          <tr>
            <td>16 years and over</td>
            <td>Open 24 hours</td>
          </tr>
          <tr>
            <th scope="rowgroup" rowspan="2">Saturday</th>
            <td>All ages</td>
            <td>8am to 8pm</td>
          </tr>
          <tr>
            <td>16 years and over</td>
            <td>Open 24 hours</td>
          </tr>
          <tr>
            <th scope="rowgroup" rowspan="2">Sunday</th>
            <td>All ages</td>
            <td>8am to 8pm</td>
          </tr>
          <tr>
            <td>16 years and over</td>
            <td>Open 24 hours</td>
          </tr>
        </tbody>
      </table>
      <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last updated: 12 January 2020</p>

      <h2>Bank holiday opening times</h2>
      <div class="table-one-row nhsuk-u-margin-bottom-4">
        <div class="table-one-row__header" aria-hidden="true">Holiday</div>
        <div class="table-one-row__header" aria-hidden="true">Date</div>
        <div class="table-one-row__header" aria-hidden="true">Opening hours</div>
        <p class="table-one-row__data"><span class="nhsuk-u-visually-hidden">Holiday </span>Good Friday</p>
        <p class="table-one-row__data"><span class="nhsuk-u-visually-hidden">Date </span>5 April</p>
        <p class="table-one-row__data">
          <span class="nhsuk-u-visually-hidden">Opening hours </span>
          <span>8am to 8pm</span>
        </p>
      </div>
      <p class="nhsuk-body-s nhsuk-u-secondary-text-color">Last updated: 12 January 2020</p>

      <hr>
      <p><a href="">Report an issue with the information on this page</a></p>
      <p>Information supplied by <a href="">Kent Community Health NHS Foundation Trust</a></p>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
