<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Org name - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Search for a Hospital</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-panel nhsuk-notification-red">
        <h3 class="nhsuk-u-margin-bottom-2">This department is closed</h3>
        <p>See opening times in the information below. If you have an urgent medical problem and you’re not sure what to do, <a href="https://111.nhs.uk/">call 111</a> or <a href="http://111.nhs.uk">visit 111 online</a> </p>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Minor injuries unit
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Sevenoaks Hospital
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-8" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/departments/">Departments and services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/facilities/">Facilities</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/mvp/hospitals/overview/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-4">
      <p><span class="red-square"></span><b>Closed</b></p>
      <p>This department is for anyone aged 1 or over.</p>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2>Contact us</h2>
      <div class="nhsuk-grid-row nhsuk-panel-group nhsuk-u-margin-bottom-8">

        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3>Phone</h3>
            <p><a href="">01732 470222</a> (ext. 1234)</p>
          </div>
        </div>

      </div>
      
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
      <h2>About this department</h2>
      <p>This Department is managed by Kent Community Health NHS Foundation Trust. They are not the primary provider at this hospital.</p>
      <p>Minor injury units offer a walk-in service, 365-days-a-year.</p>
      <p>Patients can be treated for minor cuts, bites and stings, foreign bodies in wounds, ears and noses, minor burns and fractures to arms and lower legs. At some units, patients can also be treated for minor ailments such as coughs, colds, ear, nose and throat infections and urinary tract infections.</p>
      <p>If you need help now, and you're not sure what to do go to <a href="">111.nhs.uk</a> or call 111.</p>
      <p>If you think it's an emergency, find your nearest <a href="">A&E</a>.</p>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2>Opening times</h2>
      <div class="nhsuk-table-responsive nhsuk-u-margin-bottom-4">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Opening times</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col" width="35%">Day</th>
              <th class="nhsuk-table__header" scope="col">Opening hours</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Monday</td>
              <td class="nhsuk-table__cell">8am to 8pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Tuesday</td>
              <td class="nhsuk-table__cell">8am to 8pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Wednesday</td>
              <td class="nhsuk-table__cell">8am to 8pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Thursday</td>
              <td class="nhsuk-table__cell">8am to 8pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday</td>
              <td class="nhsuk-table__cell">8am to 8pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Saturday</td>
              <td class="nhsuk-table__cell">8am to 8pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Sunday</td>
              <td class="nhsuk-table__cell">8am to 8pm</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="nhsuk-review-date nhsuk-u-margin-bottom-8 nhsuk-u-margin-top-2">
        <p class="nhsuk-body-s">Last updated: 12 November 2019</p>
      </div>

      <h2>Bank holiday opening times</h2>
      <div class="table-one-row nhsuk-u-margin-bottom-7">
        <div class="table-one-row__header" aria-hidden="true">Holiday</div>
        <div class="table-one-row__header" aria-hidden="true">Date</div>
        <div class="table-one-row__header" aria-hidden="true">Opening hours</div>
        <p class="table-one-row__data"><span class="nhsuk-u-visually-hidden">Holiday </span>Good Friday</p>
        <p class="table-one-row__data"><span class="nhsuk-u-visually-hidden">Date </span>5 April</p>
        <p class="table-one-row__data">
          <span class="nhsuk-u-visually-hidden">Opening hours </span>
          <span>8am to 8pm</span>
        </p>
      </div>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <hr>
      <p><a href="">Report an issue with the information on this page</a></p>
      <p>Information supplied by <a href="">Kent Community Health NHS Foundation Trust</a></p>
    </div>
  </div>

{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
